[2019-04-02 01:43] vietanhhaky opened #924 "Cannot quick Set regarding from Opportunities (Contact) anymore"
Hello team,
Recently, we couldn't perform quick **Set Regarding** for records from **Opportunities (Contact)** section anymore. Previously, we could do it just by clicking the "..." options then select **Set Regarding**. (highlighted in the below screenshot)

![image](https://user-images.githubusercontent.com/49176036/55370043-40269f00-5523-11e9-8237-1d8ab26b5628.png)

Few weeks recently, we have

[2019-04-02 05:25] kabala123 commented on #819
@zupermann : For the first bullet, I guess this is a product bug. For the second, we can work around to improve the documentation.

[2019-04-02 07:22] chanduk789 opened #925 "Unable to get data parameters in UCI"
I am trying to pass data parameters in openWebresource where it works and able to get data parameters in Classic UI. Unable to get the same in UCI

[2019-04-02 07:30] jerm014 commented on #923
I figured this out. It has to do with a known issue with VS 2015 described here.

https://support.microsoft.com/en-us/help/4051700

"Known Issue with Visual Studio 2015

When you are running your project/solution in VS 2015 in debug mode, there is a known issue where you may not be able to connect to Dynamics 365 (online) version 9.x or Dynamics 365 (online) version 8.2 Government. This happens re

[2019-04-02 10:49] M-Larsen commented on #859
I found a solution to my problem:

1) Installed this fix: CRM9.0-Server-KB4458112-ENU-Amd64
2) Copied ServerRelease.xml from C:\Program Files\Dynamics 365\LangPacks\1033\Xrm\sql\9 to my own language folder: C:\Program Files\Dynamics 365\LangPacks\1044\Xrm\sql\9

Now I can do import and upgrade my Organizations with Norwegian language to version 9.

[2019-04-02 13:46] devclient187 commented on #912
I have the same issue.

[2019-04-02 16:41] zupermann commented on #819
@kabala123 Thank you for response and for your patience.
Do we expect a documentation update to explain how to display multiple records results? Is this even possible under present API?

[2019-04-02 16:44] Mattp123 commented on #841
@Cynthia201903 Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/
Closing this issue.

[2019-04-02 16:44] #841 closed

[2019-04-02 16:46] kabala123 commented on #819
@zupermann : Yes, we will collaborate with the product group and improve this documentation and notify you to verify the your scenario.

[2019-04-02 16:51] GeorgianaMihaela opened #926 "Stage for upgrade is not included as an option here at step 6."
When we upgrade a solution, we can select also Stage for upgrade at step 6.
What is the effect as compared to just a simple upgrade?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a49d0860-3dc9-13d4-d41e-4cf3c006f30c
* Version Independent ID: 9a0bb411-8bc7-9357-c58a-9120cd234980
* Content: [Import, update,

[2019-04-02 17:32] Mattp123 commented on #849
@basvb1992 Thank you for your feedback. I've updated the topic to match the current UI when acessing the form editor from the command bar in a classic web app. However, accessing the form editor from a unified interface app is currently not supported. If you want to request this feature,  visit https://experience.dynamics.com/ideas/ to add it.
Closing this issue.”

[2019-04-02 17:32] #849 closed

[2019-04-02 18:48] Mattp123 commented on #904
@zhaparoff Thank you for your feedback. Apparently, that blog post has been taken down. Notice that any content about SPNs and SetSPN.exe is going to be rather dated. Subsequently, I updated the link with an old TechNet wiki article about SetSPN usage.
Closing issue.

[2019-04-02 18:48] #904 closed

[2019-04-02 19:22] Mattp123 commented on #859
@M-Larsen Thank you for your feedback and following up with a resolution.
Closing issue.

[2019-04-02 19:22] #859 closed

[2019-04-02 21:05] Dean-Hardy opened #928 "Multi-geo tenant with Indian Orgs"
I'm having difficulty understanding what this means.

For customers not located in India who want to provision an instance of Customer Engagement within the India datacenter, they must first purchase a tenant for an organization located in India and then the tenant can be provisioned in India.

Does it mean the company that purchases the tenant, must be an Indian based company? If so, what about a

[2019-04-02 21:11] hermannkwan opened #929 "It would probably make sense to return a promise when the quick form is loaded instead of using this set timeout pattern"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226ec52c-9cb9-a031-5089-6c4a0d77fa23
* Version Independent ID: 45b67338-253e-1db9-a6fb-d1886bbc527e
* Content: [formContext.ui.quickForms (Client API reference) in Dynamics 365 for Customer Engagement](https://docs.microsoft.com/en-us/dynamics365/cust

[2019-04-02 23:52] RamanujamRaghunathan opened #930 "LookupObjects Filters not working in UCI"
![LookupObjects](https://user-images.githubusercontent.com/32529190/55443461-717d8a00-5578-11e9-8537-205e0950be7c.png)

filters Option on LookupObjects is not working in UCI and Classic UI. Do we have sample for filters property.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71f4ad78-79b9-f80d-c7fa-3b78258009b1
* Versi

[2019-04-03 00:16] KumarVivek commented on #930
@RamanujamRaghunathan This is the docs site. To report any product issues/bugs, please visit the ideas site: https://powerusers.microsoft.com/t5/PowerApps-Ideas/idb-p/PowerAppsIdeas

Closing the issue.

cc: @gregli-msft

[2019-04-03 00:16] #930 closed

[2019-04-03 04:09] justinreading opened #931 "Experience App for Outlook as a pinnable taskpane"
How are we able to check which version of the 'Dynamics 365 App for Outlook' we are running?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38cdb8d9-c656-1ec7-8b77-ed86600ce2e1
* Version Independent ID: 5ff7680a-d75a-77e9-7e17-e842dc12fc3e
* Content: [Dynamics 365 App for Outlook User's Guide](https://docs.microsoft.co

[2019-04-03 06:57] yogevdaniel opened #932 "Windows Server Version"
Hi !
in this article mentions that the product require Windows Server as the operation system
but there is no detailed list of the supported versions of Windows server that we can use.
my question is: is Windows Server 2019 supported for Dyncamics 365 ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6d0b7ab-baba-4044

[2019-04-03 07:32] interfacemirror opened #933 "Missing Download link"
The download link mentioned in this page does not point to the exe file. It only points to another page and I am running on circles!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 103ab772-5fb5-8549-7ec5-26d933da40da
* Version Independent ID: 5ab34b8c-c389-e895-e185-b0ee9e27d44b
* Content: [Install the Unified Service

[2019-04-03 09:36] kabala123 commented on #933
@interfacemirror : Thanks for reaching out. The download link is present in the topic called. Download Unified Service Desk. You can find the topic from the Table of Contents.

![image](https://user-images.githubusercontent.com/28336184/55468888-f670ae00-5621-11e9-99b0-d8d7e137f4d8.png)

I've uploaded the image for your convenience.

[2019-04-03 10:08] susikka commented on #895
@fedejousset The metrics mentioned in the documentation are correct and if its in the docs, it would be okay to think that these changes have been enacted.

[2019-04-03 10:08] #895 closed

[2019-04-03 12:47] interfacemirror commented on #933
Hi @karthik

The link you mentioned does not contain the download link. I have visited the same page couple of times but it only refers to the system requirements and sample download. On those links again we are linked back to the same page so it becomes a never ending circle

[2019-04-03 12:54] kabala123 commented on #933
@interfacemirror : Apologies for the trouble your facing. Right away let me invetigate this issue. Could you please let me know which version of Unified Service Desk client you are looking to download. I can help with the link meanwhile.

[2019-04-03 13:08] interfacemirror commented on #933
Thanks Karthik. I am looking for 4.0.

[2019-04-03 13:13] interfacemirror commented on #933
I see it now after selecting the version. Thanks for the update. I think it should be explained in one liners so people don’t get confused

[2019-04-03 13:24] kabala123 commented on #933
@interfacemirror : I completly echo your thoughts on explaining this. I make the necessary updates to the documentation. Please keep sharing the documentation feedback so as to enhance the product feedback.

[2019-04-03 15:18] ashlega opened #934 "Some entities enabled by default don't have Modified On filter condition"
Was looking at some of the entities enabled by default - looks like not all of them would have "last 10 days" filter condition in the organization data download filter (for example: accounts, phones calls are using "status equals active" condition instead. Contacts do have that last 10 days condition, though). Might be more of a preview issue, but still.

---
#### Document details

⚠ *Do not edit

[2019-04-03 15:54] kabala123 commented on #933
The documentation is updated and will be made live.

[2019-04-03 15:54] #933 closed

[2019-04-03 16:36] kabala123 commented on #933
@interfacemirror : The topic is published again with updated content about how to download and how to join the preview program. Please review and let me know if that would be helpful for customers.

[2019-04-03 17:09] karthik commented on #933
Please stop tagging me. I have nothing to do with this effort.

[2019-04-03 20:15] mduelae commented on #934
@ashlega Thank you for the feedback.

Since this is product feedback and not an issue with the docs, I will close the issue here and forward your feedback to the PM Team.

Let me know if you have further questions.

@Kavishi FYI

Thanks,
Mints

[2019-04-03 20:15] #934 closed

[2019-04-04 00:45] jimholtz commented on #921
@charliechen179

Thanks for your question. The switch cannot be done via PowerShell or code.

[2019-04-04 00:45] #921 closed

[2019-04-04 02:58] skoofy5 opened #935 "Outgoing email synchronization"
There doesn't seem to be any information regarding outgoing responses from a dynamics user
 in outlook being tracked in dynamics. Is this feature not working or non-existent? Why would I care about just tracking incoming responses in CRM and not the entire thread?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df1343a9

[2019-04-04 08:10] var9287 opened #936 "What should be the "Provider" value here?"
https://docs.microsoft.com/en-in/dynamics365/customer-engagement/portals/azure-ad-b2c

In the last section of the article:
"Allow auto-association to a contact record based on email"
Name: Authentication/[Protocol]/[Provider]/AllowContactMappingWithEmail

What should be the 'Provider' value above? Is this value same as Federation Name?

[2019-04-04 09:03] santoshCRM commented on #892
![Untitled](https://user-images.githubusercontent.com/23490088/55543358-8710c200-56e6-11e9-98a6-88470262c053.png)

[2019-04-04 10:59] kabala123 commented on #922
@joe-wagner : Thanks for reaching out to us and apologize for the trouble you are facing. I have reached out to internal team. I will update the informaiton as soon i hear back from them. Thanks for your understanding and patience.

Regards,
karthik

[2019-04-04 15:29] timswales4com commented on #918
Did you ever find out the answer to this? it really isn't clear from the documentation

[2019-04-04 18:25] mduelae commented on #935
@sriharibs can you reply?

[2019-04-04 18:27] sriharibs commented on #935
@mayadumesh can answer this

[2019-04-04 18:39] mduelae commented on #931
The version of Dynamics 365 App for Outlook is the Dynamics 365 version (build). This can be found in the Settings (gear icon on top right corner) > About section when accessing Dynamics 365 on the web.

Thanks,
Mints

[2019-04-04 18:39] #931 closed

[2019-04-04 19:38] mduelae commented on #888
Per PM Team the content in the Activities tab is correct. Now waiting on PM team to validate content on Sync tab.

[2019-04-04 20:59] damf74 commented on #903
Hi, we also have an open ticket with Microsoft for 1 month and they confirm us this configuration can runs but I'm not convinced about that....wait and see

[2019-04-05 03:28] mayadumesh commented on #935
see https://docs.microsoft.com/en-us/previous-versions/dynamicscrm-2015/deployment-administrators-guide/dn832141(v%3dcrm.7) for the incoming and outgoing synchronizations with D365.

[2019-04-05 09:37] NakiaDev commented on #598
![image](https://user-images.githubusercontent.com/616092/55615738-74eb5e00-5790-11e9-9ba6-231ef7e4f78f.png)
Chrome 73.0.3683.103
1) If I increase the window's width then the text box size is not increasing.
2) I'm missing the text auto wrap here, cause we have a horizontal slider now
3) If I reduce back the width and if I add new line to the text then the formatting looks weird, just like for @ra

[2019-04-05 13:30] waynekwal opened #938 "This process is impossible with a new demo environment"
If you stand up a new demo environment right now, It's impossible to get access to user security or other parts of the back-end  that haven't been ported over to the new UI, since the demo no longer offers the legacy UI.  One of the two needs to be updated so it's possible to load demo data into a demo environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-04-05 14:52] ruonan59 opened #939 "how to get the user who Generate a document from the Word template and the date time generated?"
i already have the word document template defined and uploaded back to CRM d365.
when select an entity record and generate a document from the Word template, i want to display my fullname and the current datetime on the document. how i can define these on my template?
thanks
my document should be like following:

{document info with some entity information}

Sincerely,

{my name, or any CRM user c

[2019-04-05 14:59] ruonan59 commented on #939
for the datetime, i can use the word datetime
![image](https://user-images.githubusercontent.com/3810825/55636913-8d0baf00-5789-11e9-9a66-644b8191f796.png)

[2019-04-05 15:06] ruonan59 opened #940 "Word template, how to remove formatting for the crm integer attribute value"
i defined a word template in CRM, which using an entity's attribute on the document. it's a year info, which is crm whole number type. in displayed on the document, CRM automatically formatted the year as 2,019(for example the current year), is there a way removing the coma?
thanks

[2019-04-05 15:43] ruonan59 commented on #939
i found this post
https://community.dynamics.com/crm/f/117/t/261852
basically it's saying the log on user is not available. we can do trick that save the last logged on user under the custom attribute of the entity so it will be passed to the word template. but the potential issue is multi user logged on on the same time.
but the post is more than year ago, maybe it's resolved by CRM already?

[2019-04-05 17:53] jrchristopher opened #941 "Reorder points"
Is there a built in function to set a "reorder point" for an inventory item and automatically generate a purchase order?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52a5cbf9-a69f-f3ac-7db5-81c7968737f2
* Version Independent ID: 9bdb28f2-3c1b-1b18-e04f-f7b70530a144
* Content: [Create a purchase order (Dynamics 365 fo

[2019-04-05 19:11] krbjoran commented on #941
Hi @jrchristopher - this is not out-of-the-box functionality. But please do submit any feature request or suggestion to [our ideas portal](https://experience.dynamics.com/ideas/categories/list/?category=157d6538-90b0-e811-a967-000d3a1bef07&forum=bee3d862-df65-e811-a95d-000d3a1be7ad)!

[2019-04-05 19:11] #941 closed

[2019-04-07 15:12] a-zaf opened #943 "Damaged TOC entry"
Greetings,
The TOC entry for this page is damaged.
It does exist, under "Manage your data", after "Manage storage", but it is corrupted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f084387-dd48-d139-2de8-24e3ff73a3d1
* Version Independent ID: a843f058-d570-be47-59f4-03a53e492e0d
* Content: [Free storage space in Dy

[2019-04-08 11:21] susikka commented on #940
@ruonan59 can you please mention the doc you are referring to ?

[2019-04-08 11:24] susikka commented on #925
@chanduk789 Thanks for reaching out. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/

Closing this issue.

[2019-04-08 11:24] #925 closed

[2019-04-08 11:27] susikka commented on #939
@ruonan59 please mention the doc you are referring to.

[2019-04-08 12:11] RobertRybaric commented on #298
I am confused. In this article, there was previously an API limit of 60.000 API requests within the 5 minutes sliding interval described. Right now, there is no single word about the limit itself, just about the possible workarounds. So please tell us, WHAT IS CURRENTLY THE LIMIT!

[2019-04-08 12:49] susikka commented on #298
@RobertRybaric The [API Limits](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/api-limits) doc was recently updated and it mentions the maximum allowed API calls as 4000 requests in 5 minutes.

Related issue: https://github.com/MicrosoftDocs/dynamics-365-customer-engagement/issues/895

[2019-04-08 12:55] nickbrandl opened #944 "Dynamics 365 App for Outlook User security role doesn't exist"
Hello,
According to this document, in order to enable the Outlook app to users, they must be assigned the security role "Dynamics 365 App for Outlook User" (which is supposed to be available from 9.1.0.3420). I'm on 9.1.0.3648 and that sec. role is not there.
Is it possible that the role is now called "Sales Enterprise, app access"? I've assigned that security role and the app started working.

Ch

[2019-04-08 13:05] RobertRybaric commented on #298
@susikka : Thanks, I have scanned the text and found this number only in an error message text, which I believe is not sufficient, since everybody reading the article is first of all interested in the number of calls. So this piece of information needs a more prominent position. Secondly, I am wondering why have you reduced the API limit from 60.000 to only 4.000 in 5 minutes, so basically to 1/15

[2019-04-08 14:38] ruonan59 commented on #940
hi there,

the word template is like:

the asset is {year} {make} {model} . please review.

{year}, {make}, {model} are all attribute of a custom entity of CRM we defined.  when generate the document from CRM, it shows something like:

the asset is 2,019 Ford F150 . please review.
I want to show 2019 instead of 2,019 for year. year is CRM whole number type. instead of redefine the type as string,

[2019-04-08 14:47] goantu opened #945 "SLA page"
would be great to update the SLA page according to this same docs design

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8248f59-8548-4033-bf4c-c0ab540fd627
* Version Independent ID: d621d7c9-6ef6-6aee-97a9-9211815773f1
* Content: [Billing FAQs for Dynamics 365 for Customer Engagement apps (online) Customer Engagement]

[2019-04-08 15:19] nickbrandl commented on #944
Update: assigning "Sales Enterprise, app access" doesn't grant access to the Outlook App. Still not working.

[2019-04-08 21:12] susikka commented on #298
Looping in @brandonsimons who might be able to answer your question.

[2019-04-08 21:46] brandonsimons commented on #298
The guidance that we are providing today is to ensure that clients that are built against the CDS platform take into account that they may get throttled.  The specific throttles are currently not strictly defined as it can vary based on the load of the system.  By handling the request/response patterns as defined on this page you can ensure that your client(s) will work well with the platform to e

[2019-04-08 23:53] dcbrown16 opened #946 "Firewall requirements"
Where can one find the ports/URLs needed to use all D365 CRM services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15fce1a2-2d02-b96a-6748-d6c1ae70b870
* Version Independent ID: e3ef2462-c520-be94-41cd-f04f77493fa6
* Content: [Microsoft Dynamics 365 for Customer Engagement apps (online) requirements](https://docs.mi

[2019-04-09 00:30] jimholtz commented on #943
@a-zaf
Thanks for bringing this to our attention! Now fixed.

[2019-04-09 00:30] #943 closed

[2019-04-09 00:35] skoofy5 commented on #935
So am I right in understanding that outgoing reply messages from a D365 user will not be tracked within D365 unless replied from within D365? While at the same time incoming replies, regardless of origin will be tracked?

[2019-04-09 03:28] josbur opened #947 "Re wording"
Hello,

Can I please request an update to "If you aren't already using any other Dynamics 365 apps, you'll set up a new instance now. If you already have one or more instances, you'll be able to select an existing one that you want to integrate with the Marketing app, or create a new one."

"If you have not provisioned an instance of D365 CE, you can set up a new instance now. If you already have

[2019-04-09 04:18] keijimscom opened #948 "An typo "word orders" should be "work orders""
An typo "word orders" is shown in "Goal" section. It should be "work orders".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95fbee5-d745-3fce-ee30-c7eefd64ef79
* Version Independent ID: b4812690-a43f-f04b-f586-6f592e65e885
* Content: [Associate devices with customer accounts](https://docs.microsoft.com/en-us/dynamics

[2019-04-09 04:23] krbjoran commented on #948
Hi @keijimscom - thanks so much for pointing this out! I just updated it in our master branch, and the fix should be live soon.

Cheers  - Kristina

[2019-04-09 04:23] #948 closed

[2019-04-09 07:43] kamaybac commented on #947
Thanks for pointing that out, @josbur . I decided instead to remove that sentence because it's no longer possible to create a new CE instances from here. For a production instance, you must already have an instance available before you can install Marketing on it; for trials, the setup will now create a new trial instance automatically (skips this page of the wizard).

[2019-04-09 07:43] #947 closed

[2019-04-09 08:37] susikka commented on #782
@thucnguyen77 Thanks for the resolution. Reading through the sample I found that it does not include an Update operation on one of the created entity records. Everything else seems good to me. Would you mind if we use this sample in our documentation ?

[2019-04-09 11:13] susikka commented on #940
@ruonan59 thanks for the explanation. Request you to share the official Dynamics 365 documentation you are referring to. This will help us triage this issue to the concerned writer and gauge the documentation updates required per this issue.

[2019-04-09 11:25] susikka commented on #923
@jerm014 great to hear that you resolved this issue. FYI the samples in [PowerApps samples](https://github.com/Microsoft/PowerApps-Samples/) repo are the latest. Suggest you to use Web API samples from [PowerApps samples](https://github.com/Microsoft/PowerApps-Samples/) repo.

Closing this issue.

[2019-04-09 11:25] #923 closed

[2019-04-09 19:10] MarieShika opened #950 "Clarification requested in Create and manage knowledge articles 05/31/2018"
Section 'Schedule or publish an article' mentions Expiration Status in #8, however I can't find any explanation as to what the expiration status means or what the implications of each is.  Also, in Knowledge Articles in the Customer Service Hub, when publishing an article there is a field for 'Expiration State' - Expired, Published and Archived, but no mention is made of these in the above article

[2019-04-09 19:41] mduelae commented on #935
@mayadumeshn @sriharibs - please see customer's reply.

[2019-04-09 19:42] mduelae commented on #944
@sriharibs - please help.

[2019-04-09 21:42] mduelae commented on #888
@a-zaf Thank you for the feedback. The topic has been updated.

Thanks,
Mints

[2019-04-09 21:42] #888 closed

[2019-04-09 23:06] dcbrown16 commented on #946
I did eventually find this for online.
https://support.microsoft.com/en-us/help/2728473/microsoft-dynamics-crm-online-ip-address-ranges
And I presume something like this is for on-prem.
https://docs.microsoft.com/en-us/dynamics365/customer-engagement/on-premises/network-ports-for-microsoft-dynamics-365
Are these links that might be added to this doc? Thanks!

[2019-04-10 00:47] josbur commented on #947
Great thank you Karl. I feel that it’s important to point out the difference between the trial setup and the installation into an instance. i.e. stand-alone rather than integrated.

Cheers,
Josh.
From: Karl Maybach <notifications@github.com>
Sent: Tuesday, 9 April 2019 5:44 PM
To: MicrosoftDocs/dynamics-365-customer-engagement <dynamics-365-customer-engagement@noreply.github.com>
Cc: Josh Burgess

[2019-04-10 08:12] simongorelate opened #951 "addOnStageChange does not get executed at the end of the pipeline"
The following scenario:

- We use Business Process Flow for a quote process.
- Ribbon buttons should be visible based on a field on the form.
- The field is set by a Workflow on entering the phase of a business process flow stage (Compare [Add a workflow](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/customize/create-business-process-flow) in Business Process Flow)

When enterin

[2019-04-10 08:37] deanlterry commented on #263
Hi,

Did anyone figure out how to do this in the end?

Dean.

[2019-04-10 10:39] kichiu opened #952 "Broken link"
Broken link for See Also | "Introducing the new Office 365 Partner admin center"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a46e1382-9fd7-7309-c3cf-6f39f781fffb
* Version Independent ID: 380dcf37-c3d4-9314-62ad-0016043363d4
* Content: [For partners: the Delegated Administrator for Dynamics 365 for Customer Engageme

[2019-04-10 14:46] mike9182 opened #953 "Import-CrmPackage Imports Solution Successfully and then Times Out"
When using the Import-CrmPackage command, "Solution IMPORT COMPLETE" is shown in the output. However, the data in the package is not imported, the command does not exit, and the command times out after 30 minutes.

The package was created using the template in the "Microsoft Dynamics CRM SDK Templates" Visual Studio 2017 extension, version 1.2.0.30. Only the ImportConfig file was modified. There w

[2019-04-10 15:16] CryogenicPotato opened #955 "Broken documentation link"
Hello,

the link "Silent configuration of CRM for Outlook client in CRM 2011 claims enabled environment" to http://blogs.msdn.com/b/crmindia/archive/2012/12/23/silent-configuration-of-crm-for-outlook-client-in-crm-2011-claims-enabled-environment.aspx is no more valid.

Could you please update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-04-10 15:26] chongshen commented on #181
Experiencing the same issue. When executed from the traditional web app, nothing happens. No result or error message

[2019-04-10 16:26] susikka commented on #799
@bgronek Thanks for creating this issue. The **Get New Access Token** screenshot has been updated in the doc.

Closing this issue now.

[2019-04-10 16:26] #799 closed

[2019-04-10 18:04] Nkrb commented on #198
@georged @MerivaIe Thanks for the feedback, the document is updated now.

[2019-04-10 18:04] #198 closed

[2019-04-10 18:19] tdutch1 opened #956 "ValidateAppRequest exception"
Calling ValidateAppRequest (with a valid/published model-driven app) leads to the following Exception: "Message: System.NullReferenceException: Object reference not set to an instance of an object. at Microsoft.Crm.ObjectModel.AppModuleService.ValidateApp(Guid appModuleId, ExecutionContext context)." This message accepts only one property value: The Guid for the appmodule record, so the "Object re

[2019-04-10 18:32] mduelae commented on #955
@CryogenicPotato Thank you for your feedback. I removed the broken link from the topic. The content  is republishing and will be updated by end of day today.

Thank you,
Mints

[2019-04-10 18:32] #955 closed

[2019-04-10 18:58] sriharibs commented on #935
@skoofy5 Yes, that is correct. @mayadumesh

[2019-04-10 19:51] jimholtz commented on #862
@v-maroge
Sorry for the delay. Just heard back from the product team that this tool does not support migration between on-prem and online.

[2019-04-10 19:51] #862 closed

[2019-04-10 19:54] mduelae commented on #944
@nickbrandl

The security role Dynamics 365 App for Outlook User is available from Build 9.1.0.4206. If a user doesn’t have this security role or its underlying privileges, they’ll receive the following error:
“You haven't been authorized to use this app. Check with your system administrator to update your settings.”

We have updated the our docs to reflect this. The changes will go live by end of

[2019-04-10 19:54] #944 closed

[2019-04-10 19:56] mduelae commented on #935
@skoofy5 - since there is no issue with our content, I am closing this issue.

Thanks,
Mints

[2019-04-10 19:56] #935 closed

[2019-04-10 20:38] jimholtz commented on #952
@kichiu
Greetings. The link appears to work ok, however the content is seriously in need of an update. I'll add to the list of topics needing a refresh.

[2019-04-10 20:38] #952 closed

[2019-04-10 21:47] jimholtz commented on #946
@dcbrown16
Thanks for the suggestion. I added a link in see also for:
https://support.microsoft.com/en-us/help/2728473/microsoft-dynamics-crm-online-ip-address-ranges

[2019-04-10 21:47] #946 closed

[2019-04-11 13:48] jpatrickwright opened #958 "Incorrect breadcrumbs in directions"
The Marketing Pages link is now in the subheading Internet marketing, not Lead management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41377fde-d690-254b-a2c6-bde18d853765
* Version Independent ID: 28b95ab7-190f-580e-7e58-476460f89148
* Content: [Design, check, and publish marketing pages (Dynamics 365 for Marketing

[2019-04-11 14:10] jpatrickwright opened #959 "Partial URL"
Docs do not mention the Partial URL field required to set up a new marketing page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41377fde-d690-254b-a2c6-bde18d853765
* Version Independent ID: 28b95ab7-190f-580e-7e58-476460f89148
* Content: [Design, check, and publish marketing pages (Dynamics 365 for Marketing)](https

[2019-04-11 14:15] kamaybac commented on #959
Hi @jpatrickwright . You are correct! Thank you for pointing this out. The field is described in the [related tutorial here](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/marketing/create-landing-page), but I'll add it to this reference topic too.

[2019-04-11 14:15] #959 closed

[2019-04-11 14:19] jpatrickwright opened #960 "HTML Character Limit"
Error: The HTML content of this marketing page exceeds the maximum allowed length of 65,536 characters.

I can find this limitation nowhere in the current documentation. Why is there a limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 177d5684-7cc0-2c9e-fd7c-ad0295c504c7
* Version Independent ID: 5f179d9e-c5b4-82fe

[2019-04-11 14:27] kamaybac commented on #960
@jpatrickwright , all the HTML for the page is stored in a single database field, and the limit probably arises from a size limit on that field. A similar situation exists for [email messages](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/marketing/prepare-marketing-emails#go-live-and-set-up-a-customer-journey-to-deliver-your-message). I will investigate the issue and update the

[2019-04-11 14:27] #960 closed

[2019-04-11 14:32] kamaybac commented on #958
@jpatrickwright . Right again! I'll fix this right away. Thank you for reporting the issue.

[2019-04-11 14:32] #958 closed

[2019-04-11 15:39] jimholtz commented on #945
@goantu
Thanks for the feedback. We're investigating this and will update at some future date.

[2019-04-11 15:39] #945 closed

[2019-04-11 17:56] Nkrb commented on #689
@DigitalFlow Thanks for the feedback. The issue is now fixed

[2019-04-11 17:56] #689 closed

[2019-04-11 18:59] jimholtz commented on #762
@nickbrandl
Sorry for the extensive delay. The doc is correct as-is.  Reset and Delete operations are only supported in Sandbox instance type and both Global and D365 Service Administrators have the privilege to run these operations.  Production instance type is locked down where Reset and Delete operations are not allowed.

[2019-04-11 18:59] #762 closed

[2019-04-11 21:14] phecke commented on #345
@SandraDevin @Postmita Here are some answers to your questions. I will get this into our docs soon.

1.	Given two records that each have an associated (but different) access team, what happens when the two records are merged? **Access team members of the merged from record have access to the merged to record.**
What does the effective access look like for the merged record? Do the two access teams

[2019-04-12 02:41] AdamLanc opened #961 "D365 V9.1 migrate to a different O365 organisation/subscription same SE Aust tenant"
Hi I have D365 Version 1710 (9.1.0.3832) online.  I want to migrate my D365 instance to a different organisation's Office 365 and Azure subscription.  The subscriptions are on the same "tenant" in SE Australia.  Can this be done? (note that I find the terminology in the article slightly confusing I understand it to mean tenant to tenant migration i.e. physical data centre moves not possible for D3

[2019-04-12 03:52] wingzeroaa commented on #448
I just tried in v9.1.0.3832
var data = { _[LookupFieldName]_value : null } is working for me.

var data =
{
  "statecode": 1,
  "*_myprefix_mylookupfieldname_value*": null
}
Xrm.WebApi.updateRecord("*entityName*", *recordId*, data);

[2019-04-12 07:41] shubhadaj commented on #894
@konasirohi : Thank you for reaching out. Yes, no data migration is needed; Sales Professional and Sales Enterprise are different app modules installed on the same org. You may not be able to retain the app module-level details such as the sitemap, default forms etc though, which is already captured in the documentation as a note.

[2019-04-12 07:45] shubhadaj commented on #889
@SandraDevin : Thank you for reaching out. The Sales app is nothing but the web client version of Sales Hub. When a new feature or capability is introduced, we do try to capture the details in the [what's new](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/sales-enterprise/whats-new) topic, which has the release or version details. Is this the kind of info you're looking for?

[2019-04-12 09:31] nsteenbeek commented on #81
@valdik5379455 In new CRM version (9.1.0.3835) Xrm.Utility.getEntityMetadata does not return OneToManyRelationships and ManyToManyRelationships anymore. It's also not on documentation. Any suggestion for this?

[2019-04-12 17:25] Mattp123 commented on #670
Closing due to not enough information. You can respond with the requested information by opening a new issue or reopen this issue.

[2019-04-12 17:25] #670 closed

[2019-04-12 17:27] Mattp123 commented on #953
“Thanks for contacting us. Unfortunately, we're unable to handle support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/
Closing this issue.

[2019-04-12 17:27] #953 closed

[2019-04-12 17:59] Mattp123 commented on #932
@yogevdaniel Thank you for your feedback. As the topic indicates, the specific versions for optional and dependent software components are in the child topics. However, to ease finding that information I've added links for each component in the topic.
As for your question regarding support for Windows Server 2019. Currently, Windows Server 2019 isn't supported with Dynamics 365 Server, version 9.x

[2019-04-12 17:59] #932 closed

[2019-04-12 18:26] Zeek2 commented on #670
Sorry, I don't currently work with Dynamics now but it should be relatively easy to repro - or just keep an eye out for it when working with various entities and subgrids. The subgrids in question would have been our own subgrids for our own custom entities, most likely ones which had worked fine with CRM2011.

[2019-04-12 18:39] Nkrb commented on #873
@rajrao Thanks for your feedback. For product-related feedback, visit https://ideas.powerapps.com. Closing this issue.

[2019-04-12 18:39] #873 closed

[2019-04-12 19:45] #320 closed

[2019-04-12 19:52] #830 closed

[2019-04-13 23:24] MitchMilam opened #963 "successCallback objects are different in Web vs UCI"
in the UCI client, the successCallback works as documented.
In the Web client, the entity type property is actually:  typename, not entityType

Unfortunately, the getClient method doesn't distinguish between the two so you must resort to using an internal function to perform the work:

function successCallback2(result) {
    var message = "";

    if (Xrm.Internal.isUci()) {
        message = "ent

[2019-04-14 15:28] FlorentIrakoze opened #964 "Missing info on the difference between VoC app and Unified UI"
Hi,
I'm trying to have an end to end D365 for marketing flow related to an event.
Event logistics and Marketing automation can be fully (and only) managed  through Unified UI but when it comes to VoC (for survey after my event) I have to go back to Web UI.
In your documentation I'm missing the reasons why Unified UI cannot be used.
I've seen some differences, for instance when I tried to add an im

[2019-04-15 06:48] anjgupta commented on #950
Thanks for your feedback. We will soon look into this issue.

[2019-04-15 06:51] timothybohte opened #965 "Please describe what the parent grid is in this case and give examples"
It's very hard to understand the practical situation you could use this for and what the perspective is; subgrid on form or entity view list, read only or editable grid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b9dc345-6f77-116c-9513-8b7e15b0034e
* Version Independent ID: 3f9d3885-5263-01aa-bef3-7178de05ba33
* C

[2019-04-15 10:18] LordJellington opened #966 "Backend customization steps do not work"
I have followed the instructions under the "Backend customization" heading in order to add custom fields to the event entity when it is returned from the API. The Website Entity Configuration form will tell me when I have added an invalid field into "Selected fields", but then the API call does not return any of the custom fields that I have added.

I have even tried adding one of the existing "cu

[2019-04-15 10:27] #966 closed

[2019-04-15 10:30] LordJellington commented on #966
My bad. We were testing with a custom Yes/No field, and we had it defaulted to No. We were expecting "false" or some such back in the API call, but it turns out that we needed to set the field value to Yes, and then back to No to receive "false" back (or "true" if we had left it at Yes).

In short all is well.

[2019-04-15 11:26] aasimenator opened #967 "Support for Server 2019?"
Is Microsoft still uncertain about its latest release? why is it that the only thing that Dynamics CRM v9.0 / 9.0.3 will work on is Server 2016? even with the 9.0.3 update they've added support for SQL server 2017 but not Windows Server 2019.

[2019-04-15 15:13] GeorgianaMihaela opened #968 "Example of $batch containing multiple PATCH requests inside changesets"
Hi,

Is it possible to have a batch containing multiple changesets - each changeset containing multiple PATCH requests?

The goal would be to use the odata:continue-onerror Prefer header, so that: if I update 900 accounts in one batch and 1 fails, I would like the 899 not to be rolledback.

Could you, please, provide an example of batch making multiple account updates? In case 1 fails, the others

[2019-04-16 08:35] OliverFlint commented on #298
Hi @brandonsimons, Are you able to clarify how these limits are implemented and if it can be monitored? The original version of the article suggested we would get a limit of 60,000 requests. That limit is ample for most and didn't present us with any concern at the time the artical was published. However, this article and api limit has since been changed to 4,000 around the same time the limits se

[2019-04-16 15:37] adner opened #971 "More information about Account insights"
Missing information about Account Insights. A different part of the docs "Account Based Marketing" states the following - "Account insights for each account record to provide results and KPIs that reflect interactions made by all contacts that belong to that account". This section - "Analyze results to gain insights" -  would benefit from an overview of how to interpret the insights shown on the "

[2019-04-16 16:20] Mattp123 commented on #878
@benformosa Thank you for your request to enhance the documentation. We’ve recorded your request, and we’ll consider it for a future update to the documentation.
Closing the issue.”

[2019-04-16 16:20] #878 closed

[2019-04-16 16:23] Mattp123 commented on #850
@rdegrove Thank you for your request to enhance the documentation. We’ve recorded your request, and we’ll consider it for a future update to the documentation.
Closing the issue.

[2019-04-16 16:23] #850 closed

[2019-04-16 16:58] #474 closed

[2019-04-16 17:38] Nkrb commented on #876
@GreyGryffin Thanks for your feedback. We have updated the doc and the updated content is live. Closing this issue.

[2019-04-16 17:38] #876 closed

[2019-04-16 17:40] Nkrb commented on #865
@gregowens Thanks for your feedback. We have updated the docs to fix the information and updated content is live. Closing this issue.

[2019-04-16 17:40] #865 closed

[2019-04-16 17:40] Nkrb commented on #792
@kainar Thanks for your feedback. We have updated the doc and updated content is live. Closing this issue.

[2019-04-16 17:40] #792 closed

[2019-04-16 18:16] pavansarma93 opened #972 "Unable to use multi-select picklist in calculated field"
Though the multi-select picklist are introduced in V9.0 the field is not available in the list of fields which can be used in Calculated fields in D365. Hope this can be fixed :)

[2019-04-16 19:49] leibishr opened #974 "not working in v9 Unified Interface"
i tried it via multiple methods including formContext and Xrm.Page but couldn't get it to work in the Unified Interface.  But it is working perfectly on the regular interface

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226ec52c-9cb9-a031-5089-6c4a0d77fa23
* Version Independent ID: 45b67338-253e-1db9-a6fb-d1886bbc527

[2019-04-16 20:41] tbogle opened #976 "Global Admin Required for Approving Email?"
Could you elaborate more on the reason a Global Admin would be required to approve the email address for Dynamics 365 for Customer Engagement apps (online)? This requirement essentially forces a user with Global Administrator rights to be involved with onboarding every new employee who uses Dynamics CRM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-04-16 20:52] Nkrb commented on #279
@RoelG Thanks for your feedback. We have updated the docs and updated content is live. Closing this issue

[2019-04-16 20:52] #279 closed

[2019-04-16 21:31] thomassandsor opened #977 "Documents in rest of world?"
When will the functions related to document collaboration open up for the rest of the world?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa25441-0531-504f-580e-3ad586081bbe
* Version Independent ID: c6c702b5-5e68-b2e6-ee32-ead9eac98ec5
* Content: [Collaborate with Teams](https://docs.microsoft.com/en-us/dynamics365

[2019-04-17 00:55] thucnguyen77 commented on #782
@susikka Sure. Feel free to use the sample code. My pleasure to contribute.

[2019-04-17 05:35] RaviKKashyap opened #980 "Script error on General validation javascript"
Hi,

Currently there is a systax error in the script. In the below line, function needs to be inside quotes
Incorrect:
if (originalValidationFunction && typeof (originalValidationFunction) == function)

This should be corrected as below-
if (originalValidationFunction && typeof (originalValidationFunction) == "function")

Thanks,
 Ravi Kashyap

---
#### Document Details

⚠ *Do not edit this sectio

[2019-04-17 06:21] gregdegruy opened #981 "Sample Java Code batch change set bug"
I put together a [sample](https://github.com/gregdegruy/dynamics-rest-with-adal/blob/master/dynamicscrmapi/src/main/java/Main.java). Almost have all the scenarios complete, but running into issues with [Execute batch operations using the Web API using change sets](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/webapi/execute-batch-operations-using-web-api#change-sets).

[2019-04-17 09:30] susikka commented on #940
@ruonan59 Suggest that you open a support ticket for this. Unfortunately, we're unable to handle support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/.

Closing this issue.

[2019-04-17 09:30] #940 closed

[2019-04-17 09:34] susikka commented on #518
@daymonnin Thanks for raising this issue. We are in the process of updating this doc and will provide a link to the Global discovery C# sample in the updated doc.

Closing this issue.

[2019-04-17 09:34] #518 closed

[2019-04-17 09:57] susikka commented on #629
@stvjaz Closing this issue. Please feel free to reopen if you run into any other issues.

[2019-04-17 09:57] #629 closed

[2019-04-17 11:37] Foghe opened #982 "How to get back the rich-text editor"
I wouldbe of great help if you can instruct us how to get back the rich-text editor. Sometimes people accidently click the x in the corner and it disappears. Sometimes it is just gone. Sometimes it is there. Sometimes rebooting the entire portal helps. Sometimes it does not, then we cannot work. It is a huge problem for us. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-04-17 13:56] jpatrickwright opened #983 "Copy Template/Save As New Template"
The article states "[y]ou'd typically start with a design based on an existing template, customize the design as needed, and then save the result as a new template." However, there appears to be no command for copying a template or saving a form as a template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee2fa280-72b

[2019-04-17 17:16] kunalks2003 commented on #974
@leibishr thanks for the feedback. Please explain what you are trying to do . A sample code will also help.

[2019-04-17 17:26] leibishr commented on #974
@kunalks2003 thank you for working on this.
I have a quickView form from Contact on the Opportunity record. based on a value on the contact, i want to hide a field on the quickView form.
The following is the code that i am using to achieve this. it does work on the regular Dynamics interface but not the unified interface.
function guardianOtherQuickView(executionContext) {
	var formContext = execu

[2019-04-17 20:23] colathro commented on #795
@pb1051 @arunvinoth

I recently had a support case on the topic of License Enumerations. You are correct that we don't have any DB sided mapping for these, as they are NOT optionset values. I've done some digging and pulled up the most recent enumerations for the integer values stored in CRM under userlicensetype on the System User Entity.

Beware the friendly titles for these do not match 1:1 wit

[2019-04-17 21:11] colathro commented on #795
Following up on this, I just found a fairly clever way to map a bit more accurately using the online graph api tooling:
https://developer.microsoft.com/en-us/graph/graph-explorer

I've mapped the above sheet to the product SKU's with a clever python script 😎 and here are the mapping for userlicensetype to product SKU:

[code]

You can use the licenseDetails in the graph API to pull your own or ano

[2019-04-17 21:51] kunalks2003 commented on #974
@leibishr thanks for the reply. this looks like a product issue please get in touch with microsoft support for this.

[2019-04-18 03:32] timp3261 opened #984 "No Microsoft Teams Integration option"
Hi,
I followed your inctruction but there's no option under   Settings &gt; Administration &gt; System Settings &gt; Previews nor  Settings &gt; Administration &gt; System Settings &gt; General.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4d39a65-97f6-60df-f247-db00af98492a
* Version Independent ID: b7922064

[2019-04-18 08:00] imranakram opened #985 "FetchXml example for Xrm.WebApi.retrieveMultipleRecords"
There should be an example added for FetchXml too such as:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57a65e0f-0f8d-c6c9-a30d-b8368761d032
* Version Independent ID: 921e0e1c-afd7-fe26-0cb8-2749c23781e6
* Content: [retrieveMultipleRecords (Client API reference) in Dynamics 365 for Customer Engagement](https:/

[2019-04-18 13:55] zhaparoff opened #987 "Sandbox Processing Service security settings incomplete"
Sandbox Processing Service account also requires permissions to use NET.Tcp port sharing service.

This can be granted by adding service account to the NET.Tcp port sharing service config as described here: https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/configuring-the-net-tcp-port-sharing-service

Or, alternatively, by adding service account to one of local groups that have

[2019-04-18 14:21] leibishr commented on #974
@kunalks2003 Thank you for your help!!

[2019-04-18 15:15] JimDaly opened #988 "poor formatting on topic"
In the Step 2 section, there are some areas displaying as code due to having 4 tabs. Please fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47bcdcf0-46c7-2e85-2dc2-1e9afe7220c1
* Version Independent ID: a315aeaf-2034-d310-88ee-77dd760e24b7
* Content: [Configure mobile offline synchronization in Dynamics 365 for phon

[2019-04-18 17:13] cherchyk opened #990 "problem running RegisterXRMPackageDeployment.ps1"
PS D:\PD-PowerShell\Microsoft.CrmSdk.XrmTooling.PackageDeployment.PowerShell.9.0.2.12\tools&gt; .\RegisterXRMPackageDeployment.ps1
Do you want to run software from this untrusted publisher?
File D:\PD-PowerShell\Microsoft.CrmSdk.XrmTooling.PackageDeployment.PowerShell.9.0.2.12\tools\RegisterXRMPackageDeployment.ps1 is published by CN=Microsoft Corporation, O=Microsoft
Corporation, L=Redmond, S=Was

[2019-04-18 18:29] wauters opened #991 "Unclear what app permissions should be set"
The only permission you can set is 'user_impersonation'. Keep receiving (403) forbidden when trying to access the Online Management API using the OAuth client credentials flow. Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b3c029b-6c81-d4e4-bb56-15bf689c659e
* Version Independent ID: 42f4b866-b833-505

[2019-04-18 18:44] mduelae commented on #977
@thomassandsor General availability is planned for End of April 2019.

Thanks,
Mints

[2019-04-18 18:44] #977 closed

[2019-04-18 18:53] mduelae commented on #984
@timp3261 thank you for the feedback. This is a preview feature  that is not complete, but is made available before it’s officially in a release so customers can get early access and provide feedback. Preview features aren’t meant for production use and may have limited or restricted functionality.

@CindyLiu-D365 - is the available for all customers?

Thanks,
Mints

[2019-04-18 19:04] mduelae commented on #988
@JimDaly - fixed formatting. The topic will be republished in a few hours.

[2019-04-18 19:04] #988 closed

[2019-04-18 19:13] louishawkins opened #992 "[Dynamics 365] [Channel Integration Framework] Opening certain entities with searchAndOpenRecords fails"
**Observed**
When invoking searchAndOpenRecords for a "phonecall" entity,

[code]

The _search_ itself returns the correct record. However, instead of opening that record a "New Phone Call" form opens instead.

**Expected**
The existing "phonecall" entity should open if it exists

This is not limited to phone calls as I have also observed this with the "appointments" entity as well.

[2019-04-18 19:47] mduelae commented on #984
@timp3261. As I mentioned before this is a preview feature and it is only available for North America Dynamics 365 environment (Org). This is probably the reason why you are not seeing the option..

I am closing the issue. Feel free to reopen if this did not answer you question.

Thanks,
Mints

[2019-04-18 19:47] #984 closed

[2019-04-19 09:35] KimBon opened #993 "Combination of setEntityTypes and unknown email addresses"
If you limit the number of entities in the lookup with setEntityTypes on to/cc/bcc for email, and an empty email address is there (reply on a mail from an unknown contact), an exception is thrown. Is there a supported way to limit the entities and keep working with unknown email addresses?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-04-19 16:51] NHelgren commented on #972
@pavansarma93 Thank you for the feedback. SO what you would like to see is including the multiple select option set be able to pass in the selected values in for inclusion as a calculated field and then see your selections in the formula screen?

[2019-04-19 20:23] kunalks2003 commented on #993
@KimBon  Thanks for the feedback . This looks like a product issue . you can use the following script as work around . you may have to filter out the  records based on the entity you have selected to setEntityType
var value = Xrm.Page.getAttribute("to").getValue();
Xrm.Page.getAttribute("to").setValue([]);
Xrm.Page.ui.controls.get("to").setEntityTypes(["contact","unresolvedaddress"]);
Xrm.Page.get

[2019-04-22 16:06] cmossell opened #996 "Incorrect version information"
Top of pages states "Applies to Dynamics 365 for Customer Engagement apps version 9.x", but version 2.4.x of URS isn't covered here but is used with CE 9.x.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d10dc471-049b-d140-b435-68d5d4110b1e
* Version Independent ID: e891782e-b816-8520-b0b7-9bea49a218a0
* Content: [Univ

[2019-04-22 17:38] thomassandsor opened #998 "North America not available"
I created a North America organization, and I can't see this. I have MS support working on it, and they have no idea what this is. Any ideas?:)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa25441-0531-504f-580e-3ad586081bbe
* Version Independent ID: c6c702b5-5e68-b2e6-ee32-ead9eac98ec5
* Content: [Collaborate with

[2019-04-22 22:51] jimholtz commented on #928
@Dean-Hardy
Sorry for the delay. We recently published this info. Does this address your question?
https://docs.microsoft.com/en-us/power-platform/admin/regions-overview#who-can-create-environments-in-these-regions

[2019-04-22 22:51] #928 closed

[2019-04-23 03:58] wingzeroaa opened #999 "Is there any way, from Dynamics 365, to detect the OneNote file is deleted in Sharepoint?"
As title,

If user go to SharePoint, delete that OneNote file manually, is there anyway, Dynamics 365 could know?
Using Microsoft Flow?

[2019-04-23 04:06] wingzeroaa commented on #999
ok, just check, there is no trigger for deleting a OneNote file in Microsoft Flow.
Let me check SharePoint trigger

[2019-04-23 10:19] AbdulWahabWarind opened #1000 "Information Required: whether we are able to remove this filter or not"
I am not able to find information whether we are able to remove this filter or not. You told us on this post how to filter a lookup but please tell us if we want to remove then how we can?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe3e438-98a2-0563-4b91-9b3e05f140df
* Version Independent ID: 54d8d7fd-a6e7-afcd-5d

[2019-04-23 10:44] AshV commented on #887
Any updates on this?

[2019-04-23 12:25] shubhadaj commented on #889
No response on this thread, so closing it.

[2019-04-23 12:25] #889 closed

[2019-04-23 12:30] shubhadaj commented on #892
@santoshCRM : Thank you for the feedback. I checked with the team and this functionality is available. For product-related feedback, visit https://experience.dynamics.com/Ideas/
Closing this issue.

[2019-04-23 12:30] #892 closed

[2019-04-23 12:41] shubhadaj commented on #894
Closing this issue as there are no further comments on the thread.

[2019-04-23 12:41] #894 closed

[2019-04-23 12:44] shubhadaj commented on #863
@RA-Danny : The last contacted field on the contact is involved with this setting. It is applied across campaigns activities and across campaigns. Let me know if you have further questions.

[2019-04-23 13:20] Dean-Hardy opened #1001 "Account fields"
David, the other important account field is 'Currency'. Its required on WOP/S records, and by adding a default to the billing/service account records, it is inherited by the WOP/S records.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddbba817-07c9-08cf-36f1-cb86a5071139
* Version Independent ID: 374cd08a-be49-2d19-10

[2019-04-23 16:49] COakes77 opened #1002 "Marketing templates imported, not showing"
I used Kingswaysoft to migrate emails from several database fields to the marketing email entity. Everything looked fine, but when I click on one of the templates to either edit or send, the whole body disappears and all the HTML goes out the window. Why?

[2019-04-23 17:34] jimholtz commented on #976
@tbogle
Greetings. This change was made to prevent a Dynamics admin from changing and approving user’s email address maliciously.  Without this segregation of duty, a Dynamics admin can change any user’s email address to someone else’s email and see all the emails of the individual when the emails sync to Dynamics.

[2019-04-23 17:34] #976 closed

[2019-04-23 17:46] syntax922 opened #1003 "Provide security privilege requirements"
For this page to be useful the necessary security privileges should be given as opposed to "or equivalent" to System Administrator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 363c7b1d-c6fd-43a7-7503-c7876391599c
* Version Independent ID: b652f13f-d155-90ce-12bd-439341a7557d
* Content: [Download a template for data

[2019-04-23 18:13] tbogle commented on #976
That is true, but why would only Global Admins be able to do this step? I understand separation of duties but, if someone had to both exchange Admin / User Admin rights and Dynamics Admin you would think that would be enough to complete this step.  We want to limit the number of people who have global admin rights, as recommended by Microsoft.  We have to trust all of the admins in our tenant to n

[2019-04-23 18:20] SandraDevin commented on #396
Removing the solution did not disable the feature

[2019-04-23 21:20] mduelae commented on #998
@thomassandsor Please work with support on this. Since this is not a issue with our documentation, I am closing the issue here.

Thanks,
Mints

[2019-04-23 21:20] #998 closed

[2019-04-24 05:44] thijskuipers opened #1004 "SQL script for "How to delete [...] for a specific entity" contains error"
The second part of the script (the part that DROPs the TYPEs) contains an error: the "OR" clause in between the "AND" clauses isn't surrounded by parentheses.

We encountered this when dropping the "contact" entity from our Azure SQL database where three different CRM instances sync to the same database, with differing schemas. The `PRINT @sql` statement showed the following: `DROP TYPE [oxXXX].[c

[2019-04-24 19:37] renatomiyashiro opened #1005 "Gostei bastante"
Gostei bastante da documentação, me ajudou nas dúvidas que tinha.

Muito obrigado

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6808baba-545c-c175-6f75-9b642807ca0d
* Version Independent ID: b6ba87e9-2968-f5ac-ad69-47dfd1080978
* Content: [Create or edit an opportunity in Dynamics 365 for Sales Professional](https://d

[2019-04-24 20:23] jimholtz commented on #1003
@syntax922
Thanks for the suggestion. We'll consider for future content updates.

[2019-04-24 20:23] #1003 closed

[2019-04-25 08:39] shubhadaj commented on #1005
@renatomiyashiro : Thank you for your feedback. We're glad you enjoyed reading our content and found it helpful. Closing the issue.

[2019-04-25 08:39] #1005 closed

[2019-04-25 08:42] shubhadaj commented on #924
@vietanhhaky : Thanks for your feedback. For product-related feedback, visit https://experience.dynamics.com/ideas/. Closing this issue.

[2019-04-25 08:42] #924 closed

[2019-04-25 09:12] gregowens opened #1007 "Any support for run-time execution options?"
When running the equivalent requests via managed code, it is possible to specify the behaviour at runtime, for example of one of the array of requests fails; how should the others be handled. This allows for example, the batch of requests to continue being processed in the event of one or more failing, with the results being returning in Fault objects in the response.

Is there any equivalent supp

[2019-04-25 12:30] StephanBuSu opened #1008 "No response/error when queryParamter selects a non existing property name"
If I call searchAndOpenRecords, set searchOnly to true and the query parameter selects a property that doesn't exist, there will be no error or success callback.

Example:

Microsoft.CIFramework.searchAndOpenRecords('someEntityLogicalName', '?$select=nonExistingProperty', true).then(
    function success(result){
        ...some code...
    },
    function (error){
        ...some code...
    }
)

[2019-04-25 13:05] StephanBuSu opened #1009 "Missing error response documentation for retrieveRecord"
In the documentation of retrieveRecord is a description for the success response but there is no information for error case.

In the code example i can find error.message that indicates an message property.
But in a retrieved error there is the property errorMsg.

Can you please add the defintion/description for the error.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist

[2019-04-25 13:37] MattFoy opened #1010 "Clarification on "A customer owned Azure SQL Database subscription.""
Do the Azure SQL Database subscription and Dynamics 365 Customer Engagement subscriptions have to be part of the same customer's subscription?

We have a use case where a national entity with regional branches wishes to replicate CRM data from the regional branches to the national Azure SQL Database for reporting and analysis.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-25 14:20] coddumu opened #1011 "can not get Microsoft.CIFramework loaded in angular.js controller"
I can not get Microsoft.CIFramework work ( at least loaded) in an angularJs controller ( which is being loaded in a mvc app)

what is the best practice here ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 602139a6-e652-03b5-23fb-a0433b312221
* Version Independent ID: a4947011-2b19-1902-2a89-e1ab09f11aa1
* Content: [ge

[2019-04-25 16:31] nikkipnguyen commented on #361
@KumarVivek is there a way we can get an updated status on when this bug will get fixed? We have customers running into issues and currently at a standstill until this issue is addressed.

[2019-04-25 17:14] kunalks2003 commented on #361
@nikkipnguyen  the issue is already fixed in online version. If you are still able to repro please contact microsoft support .

[2019-04-25 17:20] Mattp123 commented on #967
@aasimenator Thank you for your feedback. Windows Server 2019 is currently not supported with Dynamics 365, version 9.0 on-premises (or any available update for that release at this time).  You can submit your request to support Dynamics 365, v9.x on-premises on Windows Server 2019 in the [Dynamics 365 ideas forum](https://experience.dynamics.com/ideas/categories/list/?category=3c5c8912-8def-e511-

[2019-04-25 17:20] #967 closed

[2019-04-25 18:52] shellyhaverkamp commented on #864
Refers to this article: https://docs.microsoft.com/dynamics365/customer-engagement/developer/org-service/build-queries-with-queryexpression

[2019-04-25 18:55] shellyhaverkamp commented on #999
Refers to this article: https://docs.microsoft.com/dynamics365/customer-engagement/developer/integration-dev/integrate-onenote

[2019-04-25 19:34] jain-shailesh commented on #1002
Thansk for the feedback, please raise a support ticket for any investigations. This forum is best used for feedback on documentation

[2019-04-25 20:17] gregdegruy commented on #335
I have a scenario where I want to call my service from Dynamics 365, but they don’t want the user to authenticate again (the user is in Azure AD and will be a user in both Dynamics and my service). In order for that call to be valid, I would send an identifier (user id/ email/ Azure AD object id) that is **static** and a token or sessionid that is **dynamic** but can be validated against.

How wou

[2019-04-25 20:19] gregdegruy opened #1013 "Static User GUID paired with Dynamic Session ID"
I have a scenario where I want to call my service from Dynamics 365, but they don’t want the user to authenticate again (the user is in Azure AD and will be a user in both Dynamics and my service). In order for that call to be valid, I would send an identifier (user id/ email/ Azure AD object id) that is **static** and a token or sessionid that is **dynamic** but can be validated against.

How wou

[2019-04-25 20:50] XTMMcNicoll opened #1014 "Which version supports tenant-to-tenant migration exactly?"
The article states "Dynamics 365 for Customer Engagement apps (online) version 9.0 now supports tenant to tenant migration." at the beginning.

And later-on: "These instances should also be version 8.2.2 or below."

Thanks,
M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c9099cc-ef29-0fea-943b-9ca1f566f00d
* Version

[2019-04-25 21:50] Nkrb commented on #798
@JimDaly FYI

[2019-04-25 22:11] jimholtz commented on #1014
@XTMMcNicoll
Thanks for bringing this to our attention. I've revised the text.

[2019-04-25 22:11] #1014 closed

[2019-04-26 05:31] Danbuhr opened #1015 "Link 1.12.2 above has extra char at the end "."
Please consider having a working link on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb998a7d-f2d0-ef60-3fb7-25f695f913c7
* Version Independent ID: 17e717e7-4afa-8d3b-0edc-653b571259c5
* Content: [Build and host a custom event portal](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/marketi

[2019-04-26 06:15] Nkrb commented on #1015
Thanks for the feedback. We have updated the docs and published.

[2019-04-26 06:15] #1015 closed

[2019-04-26 06:33] susikka commented on #1011
@coddumu can you please share the error message that is returned ?

[2019-04-26 08:52] susikka commented on #999
@wingzeroaa Have you integrated your Dynamics 365 instance with SharePoint ?

To get started with this take a look at -

- [Get started with SharePoint integration](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/integration-dev/get-started-sharepoint-integration)

Also, see these docs, I hope they will be helpful in resolving your problem.

- [Actions on SharePoint loca

[2019-04-26 09:24] wingzeroaa commented on #999
Hi shellyhaverkamp,
Thank you for reply.
However, your link does not work.

 I said, the action is **Manually** delete OneNote file in SharePoint.
There will be nothing happens in Dynamics 365.
The Document Location in Dynamics 365 will be still there.

You can have a try, then you will know what is happening.

[2019-04-26 09:32] wingzeroaa commented on #999
Hi susikka,
Thank you for reply.
Check my above comment to shellyhaverkamp.

Your suggestion also does not work, as nothing happens on Document Location record in Dynamics 365.

I believe the only way is
Using Microsoft Flow,

1. Put trigger on SharePoint delete File
2. Get File property
3. Find parent folder name with unique location in file url
4. Then retrieve multiple in Dynamics 365, using th

[2019-04-26 09:33] wingzeroaa commented on #999
Hi All,
we can close this issue for now.
Thank you all for helping.

[2019-04-26 09:33] #999 closed

[2019-04-26 13:03] suri1547 opened #1016 "Status Reason Transitions"
[Enter feedback here]
Microsoft Docs says "This feature was introduced in CRM Online 2016 Update" but it is already available in CRM 2013.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92c38601-a56d-411c-2f0f-332af2948a82
* Version Independent ID: dfabdad6-11fc-ea0d-509c-ad8d48e1f844
* Content: [Define status reason t

[2019-04-26 15:57] phetzel1 opened #1017 "More guidance around programmatic import"
The documentation suggests doing large import jobs in a programmatic way but then does not offer any links or guidance of what this means. Links to further documentation would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5af0905-8cd0-60b8-b41f-20abd901214a
* Version Independent ID: 45943532-3bb6-e445-0a87

[2019-04-26 19:25] mhammons opened #1019 "New UI missing Sales Settings"
Step 1 says to "In the site map, select Sales Settings, and then under Standard settings, select Connect SharePoint"

In my environments, there is no Sales Settings link. I am using v9.1.0000.3842

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa7e2da-da89-2fb6-ea96-83eaff6880bc
* Version Independent ID: 0cfff3a6-8018

[2019-04-26 21:09] mhammons commented on #738
Ditto, did you ever get this resolved?

[2019-04-26 21:26] devlinl opened #1020 "Value cannot be used in Xrm.WebApi"
It might be worth noting that the value returned by getId includes "{ }" brackets, which must be stripped before using the value in the Xrm.WebApi methods.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b4a850-a233-b7cd-8520-1a4ff640d44a
* Version Independent ID: 44c79402-a80d-9ddf-d3f2-32715083a5a8
* Content: [getId

[2019-04-26 22:45] kunalks2003 commented on #1020
@devlinl  Thanks for the feedback. did a quick test with retrieveRecord Can not repro .Please specify which Client and Which API you are refering to.

[2019-04-26 23:11] devlinl commented on #1020
This is in the web client.

[2019-04-26 23:20] devlinl commented on #1020
This is in the web client.

You can use the example from the [associate entities on creating new records](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/clientapi/reference/xrm-webapi/createrecord#associate-entities-on-creating-new-records) method as an example. Just specify the current record's ID instead of the hard-coded value in the example:

[code]

The error retur

[2019-04-27 03:51] rgomezj opened #1021 "AddOption Javascript - is adding twice in V9 Unified Interface"
When the **option set** is placed in both the header and the body of the form, the Javascript method **AddOption** is adding the item twice in V9 app. This is even ok in V9 when not using Unified interface, in this case the item is only added once, as expected

![example](https://user-images.githubusercontent.com/1840424/56844442-cbbaf380-6875-11e9-93a7-dc8d2e4019ff.png)

[2019-04-29 07:31] shubhadaj commented on #863
Closing as there isn't any further remark on this.

[2019-04-29 07:31] #863 closed

[2019-04-29 07:39] shubhadaj commented on #1019
@mhammons : You may not be using the latest Sales Professional app version. Please try installing the latest version and get back to us if you are still unable to see the setting.

[2019-04-29 07:40] shubhadaj commented on #1019
@mhammons : Thank you for your feedback. You may not be using the latest Sales Professional app version. Please try installing the latest version and get back to us if you are still unable to see the setting.

[2019-04-29 10:03] nickbrandl opened #1022 "Enable scheduling for an entity pre-requisites"
Hi,
I'm trying to enable a custom entity for scheduling, but it is missing in the "Add entity" picklist. The entity has none of the checks enabled in the Entity definition page, so I'm wondering what are the pre-requisites for an entity to be enabled for URS, besides the licensing ones.

Cheers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-04-29 13:02] mhammons commented on #1019
Hell9o @shubhadaj - I am currently on v9.1.0000.4046 for CE and it is Sales Professional. The Sales App is v9.0.1903.4006 I believe these are the latest and greatest versions.

[2019-04-29 13:30] shubhadaj commented on #1019
@mhammons , can you confirm that you have the system administrator role assigned to you? Meanwhile, I will also check with my team about what could be the possible reason.

[2019-04-29 13:42] susikka commented on #518
@daymonnin For information related to global discovery service, see the PowerApps topic [Discover the URL for your organization using Web API](https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/discover-url-organization-web-api). This topic also applies to Dynamics 365 Online users.

In the PowerApps repo, you will also find the [Global discovery service C# sample](htt

[2019-04-29 14:02] mhammons commented on #1019
@shubhadaj  confirmed, I have Administrator role.

[2019-04-29 16:33] bharavar commented on #1019
@mhammons: Can you please confirm you are using Sales Professional? Do you have solution 'msdyn_SalesPro' (Dynamics 365 for Sales Professional' installed? If so, what is the solution version?

The version you mention  in earlier comments 9.0.1903.4006 is the latest version of the Sales Hub app (Dynamics 365 for Sales Application), which is different from Sales Professional. This settings feature i

[2019-04-30 09:34] DmitryLoboda opened #1023 "After 01 April 2019 licensing model for Additional Instance has been changed, now you can add additional instance for free if you have 1Gb free databases storage, please correct this article."
After 01 April 2019 licensing model for Additional Instance has been changed, now you can add additional instance for free if you have 1Gb free databases storage, please correct this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38937b52-e624-4d30-b949-77e4def3aa1b
* Version Independent ID: 26c61b02-5b2d-a428

[2019-04-30 20:05] KimBon commented on #993
Indeed, resolved it in more or less the same way. Hopefully this gets fixed. Thanks for the reply.

[2019-04-30 20:15] jimholtz commented on #1023
@DmitryLoboda
Thanks for the feedback. Response handled via internal email.

[2019-04-30 20:15] #1023 closed

[2019-04-30 21:49] phecke commented on #692
I have used ADAL 3.x when testing the sample code. There was a breaking API change from 2.x to 3.x that no longer supports passing the user credentials in the AcquireToken call, which is one method that our samples use. In your code, you can use other flavors of AcquireToken that use parameters other than user credentials.

[2019-04-30 22:06] jimholtz commented on #1017
@phetzel1
Thanks for the suggestion. I've added a link to the developer content for importing data.

[2019-04-30 22:06] #1017 closed

[2019-04-30 22:22] phecke commented on #428
The XRM Tooling APIs used by some of our samples have a dependency on ADAL 2.x. In addition, the update from ADAL 2 to 3 resulted in a breaking change with respect to the AcquireToken call that our samples use. After XRM Tooling has been updated to support a newer ADAL, we plan to update all samples at that time. In the meantime, we have published one ADAL 3.x sample to demonstrate the revised aut

[2019-05-01 13:43] kamaybac commented on #983
Hi @jpatrickwright . Thank you for reporting this documentation issue. You are correct. In the current version, there is no "save as template" function for marketing pages or marketing forms. (This function does exist for marketing emails and customer journeys.) I'm going to update this topic, but also report it as an issue to development to make sure this missing functionality isn't an oversight.

[2019-05-01 13:54] kamaybac commented on #971
HI @adner . Thank you for your input for our documentation. You are correct, account insights were added somewhat recently and this topic hasn't been updated to include them. We will update this topic very soon. In the meantime, please note that the account insights are nearly the same as the contact insights described here. The only difference is that the account insights are collected from all c

[2019-05-01 14:00] #971 closed

[2019-05-01 14:00] #983 closed

[2019-05-01 14:23] jimholtz commented on #961
@AdamLanc
Here's what I heard from the product team:
The D365 subscription does not move to another tenant. The customer needs to have similar licenses in the destination tenant, for the organizations to move to the destination. According to the article below, once migrated, the customer can claim credits on source tenant’s subscription.
[Tenant to tenant migration](https://docs.microsoft.com/dyna

[2019-05-01 14:23] #961 closed

[2019-05-01 19:16] mhammons commented on #1019
@bharavar that was the issue....I was using Sales Hub....after installing Sales Professional msdynd_SalesPro I now see the link for Settings.

[2019-05-01 20:54] phecke commented on #428
@hoekj See my last comment

[2019-05-01 20:54] #428 closed

[2019-05-02 08:11] StephanBuSu opened #1024 "Return Value of setClickToAct is null"
The documentation of setClickToAct says the return value is boolean. Currently it is null for true and false.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5f3d6b3-84a9-2cf4-7112-85319dee7dbc
* Version Independent ID: e1af5733-af50-6dfe-a14a-1985ba52abe7
* Content: [setClickToAct (JavaScript API Reference) for Channe

[2019-05-02 10:41] Pankaj-Pathania opened #1025 "Save and Close button issue in USD for unified interface pages"
Save and close button on dynamics crm entity forms when opened inside unified service desk is redirecting to default dashboard on a click rather saving and closing the form.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d18ffe-9b89-43b2-fa04-5cbacc4431c7
* Version Independent ID: f7e45792-cdd2-bf92-f8a0-cf1085b5cf91

[2019-05-02 10:46] kabala123 commented on #1025
@Pankaj-Pathania : Thanks for reaching out. Please refer to the content against the issue you have stated here.

https://docs.microsoft.com/en-us/dynamics365/customer-engagement/unified-service-desk/release-notes?view=dynamics-usd-4#unified-interface-form-does-not-close-the-tab-and-navigates-to-dashboard

Let me know if this helps.

Regards,
Karthik

[2019-05-02 14:27] nickbrandl commented on #1022
Hi, for the sake of future readers and my self ;) I'm adding the following information.
If the entity that you want to enable for scheduling is not displayed, you have to check the Managed Properties settings for that entity. If by chance the "Can be customized" setting is set to False, then that's the reason why the entity is not being displayed.
This is true even if the entity is in unmanaged st

[2019-05-02 15:16] matepolsps opened #1026 ""Known issue" solution obsolete"
Hello. The option specified in the workaround section for the known issue (at the end of the article) is not there in the SharePoint Online settings anymore. Please consider updating it. Thx.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423d6455-b2ec-9808-3b75-7b2e0bd2d915
* Version Independent ID: 420c829f-718a-c1d5

[2019-05-02 16:32] venkyk56 opened #1027 "adx.annotations.html is not working in dynamics v9 unified interface"

[2019-05-02 17:35] Pankaj-Pathania commented on #1025
Hi karthik,
Thanks for the suggestion.We are actually doing this manually by closing
the default dashboard page using cross sign but customer is looking for
some automated approach of it's closure by itself.Any automated solution to
this problem if exists that would be highly appreciated.

Regards
Pankaj Pathania

On Thu, 2 May 2019, 4:16 pm Karthik Balasubramanian, <
notifications@github.com> wro

[2019-05-02 17:38] kabala123 commented on #1025
@Pankaj-Pathania : Requesting if you could raise a support ticket or an ICM that will come to engineering team and they triage this based on the priority.

[2019-05-02 17:40] kabala123 commented on #1025
@Pankaj-Pathania : At this point, I'm closing this issue. Please re-open if you need any help. Also, please continue to share the feedback regarding the documentation.

Thanks,
Karthik

[2019-05-02 17:40] #1025 closed

[2019-05-02 19:12] krbjoran commented on #919
Hi @james-reinhardt - thanks so much for pointing this out! I've updated the content with the correction, and it should be live soon.

[2019-05-02 19:12] #919 closed

[2019-05-02 22:10] phecke commented on #692
@nzkelvin Thanks for the feedback. The note in the topic has been updated.

[2019-05-02 22:10] #692 closed

[2019-05-04 10:34] pratham-p opened #1029 "Can you ease add a sample code for better understanding?"
Sample code would help reader better understand the scenario and use case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b591a085-2835-71e4-2b3a-17b9a23c846a
* Version Independent ID: aa6d27e9-9492-1ea1-343e-619932e4e91e
* Content: [Dependency and execution order in asynchronous operations (Developer Guide for Dynamic

[2019-05-04 12:08] minohimself opened #1030 "You cannot delete users as statet in this artickle"
You cannot delete users as statet in this artickle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cb72652-e966-659d-0c76-ac2769d297c8
* Version Independent ID: 4badb94a-b9be-b1c8-3771-57f3e3d5a4c0
* Content: [Delete a Dynamics 365 for Customer Engagement apps business unit](https://docs.microsoft.com/en-us/dynamics365

[2019-05-05 00:07] rlmishra opened #1032 "This atricle doesn't mention the unique rquirement of D365 OData v4 vs the ASP.Net WebApi."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afa3ab25-d3e7-6e33-5c70-c468a31b1789
* Version Independent ID: b8ddabda-99cb-6e46-eb4f-37a0facfe70c
* Content: [Create and edit virtual entities with Dynamics 365 for Customer Engagement apps](https://docs.microsoft.com/en-us/dynamics365/customer-enga

[2019-05-05 00:09] rlmishra commented on #1032
D365 OData V4 requires the service document to be in OData v3 format.

[2019-05-06 04:32] JaroncMicrosoft opened #1035 "Can you change "you can sing" to "you can sign""
Simple change please change sing to sign

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6a836c9-fab3-8726-0349-c4858a12ef45
* Version Independent ID: 75ba3c6c-a3d9-6209-6577-31484008ca5f
* Content: [Sign up and install a free trial (Dynamics 365 for Marketing)](https://docs.microsoft.com/en-us/dynamics365/customer-eng

[2019-05-06 05:24] nzkelvin opened #1036 "Will 'copy instance' damage an existing Voice of the Customer setup?"
Will 'copy instance' damage an existing Voice of the Customer setup? Will 'copy instance' change the ID/GUID of a Dynamics365 instance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e0cbdf7-a4da-6228-3495-7edd7d50abd3
* Version Independent ID: c2d9c221-491d-3905-0b5f-c62fe5e14f63
* Content: [Copy an instance of Dynam

[2019-05-06 08:41] kamaybac commented on #1035
Thank you for for spotting and reporting this, @JaroncMicrosoft. I've updated the source and the fix should go live very soon. In the meantime, singing is also allowed. ;-)

[2019-05-06 08:41] #1035 closed

[2019-05-06 09:43] susikka commented on #887
@AshV Please make sure that `objectid_contact` is a valid navigation property of `msevtmgt_events` entity. Can you please share some details about this entity ? I could not it in the entity reference documentation.

[2019-05-06 10:18] susikka commented on #531
@jlpopken want to check on the status of this issue. Please let me know if you have resolved this issue, so I can go ahead and close it.

[2019-05-06 10:18] shubhadaj commented on #1019
@mhammons , I am closing this issue as you can see the link for settings now.

[2019-05-06 10:18] #1019 closed

[2019-05-06 11:50] Andreyb-Intlock opened #1037 "Obtaining a backup of the organization database - not availble"
Recently this article has been changed and saying that "Obtaining and restoring a backup is not available with Dynamics 365 for Customer Engagement apps (online), version 9.x.", following this how is it possible to do the migration to Dynamics 365 on-prem from Online?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cc8

[2019-05-07 15:05] imranakram opened #1039 "Link to JavaScript leads to very old sample"
The Link in the line "The technical article Query Metadata Using JavaScript provides a JavaScript library to use the objects and messages in client-sided code." leads to https://docs.microsoft.com/en-us/previous-versions/dynamics-crm2011/developer-articles/jj919080(v=crm.6) which is a sample from CRM 2011. Now with the end-point deprecation, I think we should have an updated sample instead.

---
#

[2019-05-07 20:20] susikka commented on #531
Closing this issue due to no response from user.

[2019-05-07 20:20] #531 closed

[2019-05-07 21:19] venkyk56 commented on #261
Hello,
Web resource not working dynamics 365 v9 UUI. Please let me know if we have any alternate approach.

Regards,
Venky

[2019-05-07 22:25] jimholtz commented on #1037
@Andreyb-Intlock
Greetings. Checking with the product team regarding your question.

[2019-05-08 08:59] BirgitRD opened #1042 "Unified interface : sort - filter"
Hi,
I added icons in a view which isplay fine when the view is opened.
However when I sort on the column that has the icon, the column gets completely blank: both icon as value disappear.
Same happens when filtering.
This is the case in the unified interface.
Known issue? Any workaround?

[2019-05-08 14:08] davidjenkins opened #1043 "Unable to use Restore-CrmInstance cmdlet because exported parameter sets are incomplete"
The code for the Restore-CrmInstance cmdlet requires more parameters than any parameter set will allow. Attempting to pass in the missing parameters will simply result in a "Parameter set cannot be resolved using the specified named parameters." error.

[2019-05-08 15:33] anasraf opened #1044 "Use upsert with related entities"
I can't use upsert with related entities always returns this error even i have created an alternate key i manged to insert the parent record but when i use related entities it returns this error :

ErrorCode: 0x80060891
Message: A record with the specified key values does not exist in msdyn_requirementresourcecategory entity
TimeStamp: 2019-05-08T15:33:10.0216569Z
--
}

---
#### Document Details

[2019-05-08 22:31] Dano7 opened #1045 "Target version selector described in Exporting Solutions step 7 has been removed from latest online version of the product."
Under the "Export Solutions", section, step seven seems to have been removed from the online version of the product as of version 9.something.

That last page of the wizard is gone now.   Apparently this is consistent with the allways-the-latest-version philosophy for CRM online.

So updating that part of the documentation to indicate that it **is** gone and **why** would be awesome, since users w

[2019-05-08 23:24] anasufovic commented on #974
I can confirm this issue, still there even with the April update which has a new quickview form style.

[2019-05-09 02:25] ehandani commented on #738
happen to me as well. Any idea why? I'm sure I have followed all the steps.

[2019-05-09 03:50] ehandani commented on #738
My bad, in my case, I missed "append to" on the parent entity permission. make sure you enable the required privilege on both parent and child entity. It's working fine for me now.

[2019-05-09 06:56] Pankaj-Pathania opened #1046 "Open_crm_page uii action is not running"
This action call is not working in unified interface and it is registered on page ready event of a hosted control

[2019-05-09 07:02] Pankaj-Pathania opened #1047 "Windows Navigation Rules Issues"
Most of the Windows navigation rules are not working in unified interface where the route type has change from popup to in place

[2019-05-09 09:36] sbmjais commented on #66
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [https://docs.microsoft.com/dynamics365/get-started/support/](https://docs.microsoft.com/dynamics365/get-started/support/)
Closing this issue.

[2019-05-09 09:36] #66 closed

[2019-05-09 09:41] sbmjais commented on #204
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [https://docs.microsoft.com/dynamics365/get-started/support/](https://docs.microsoft.com/dynamics365/get-started/support/)
Closing this issue.

[2019-05-09 09:41] #204 closed

[2019-05-09 09:47] sbmjais commented on #559
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2019-05-09 09:47] #559 closed

[2019-05-09 09:50] sbmjais commented on #571
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [https://docs.microsoft.com/dynamics365/get-started/support/](https://docs.microsoft.com/dynamics365/get-started/support/)
Closing this issue.

[2019-05-09 09:50] #571 closed

[2019-05-09 09:51] sbmjais commented on #363
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [https://docs.microsoft.com/dynamics365/get-started/support/](https://docs.microsoft.com/dynamics365/get-started/support/)
Closing this issue.

[2019-05-09 09:51] #363 closed

[2019-05-09 10:02] sbmjais commented on #738
Thanks for the feedback.
@aboodh95, @mhammons: Please let us know if the permisison issue is resolved by adding the required permissions as mentioned by @ehandani.

[2019-05-09 10:17] Pankaj-Pathania opened #1048 "Adding email activity from grid related issue"
When adding an email activity from activity grid on contact in unified service desk the email option is not available at first on clicking + button but on refreshing that page it appears

[2019-05-09 10:50] Pankaj-Pathania opened #1049 "Refresh button Issue"
Refresh button executing core uii refresh action is not working for unified interface in usd

[2019-05-09 11:58] sbmjais commented on #918
@spineshanks - Federation name is a unique name to identify the type of federation provider such as ‘B2C’. This will be used in Site Setting names to group configuration settings for this specific provider.
It is a string that you choose, and isn't copied from anywhere.

[2019-05-09 11:59] sbmjais commented on #369
Thanks for resolving the issue. Closing the issue.

[2019-05-09 11:59] #369 closed

[2019-05-09 13:23] thesagarlee opened #1050 "Stopped working if I send "<filter type='and'></filter >" in addCustomFilter"
I am sending "&lt;filter type='and'&gt;&lt;/filter &gt;"  in addCustomFilter. This was working before the April Release. Has there any change how this works?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e69f226-7f17-8146-4044-786991cecd5b
* Version Independent ID: 98c694a5-c0ba-c7e9-9e13-9291642af80a
* Content: [add

[2019-05-09 13:52] nickbrandl opened #1051 "Resource Requirement autocreation"
Hi,
When configuring an entity for URS in the BOOKING SETUP METADATA: INFORMATION form, there is setting called 'Disable Requirement Auto Creation for Bookings'. By default is set to 'No'. But after creating a record from the URS enabled entity, no booking requirement gets created automatically.
Am I missing something or is it a product defect?

Best regards

---
#### Document Details

⚠ *Do not e

[2019-05-09 18:02] susikka commented on #1008
@StephanBuSu I tried a searchAndOpenRecords query with a property that does not exist and it executed the errorCallback function. Can you please comment below what response you are seeing on the console ?

[2019-05-09 18:49] susikka commented on #819
@zupermann When a search using searchAndOpenRecords API returns multiple records, they are all listed in the search results page that opens up.

Please check these two things -

1. There are records that have `firstname` as `John`.
2. You can use `$search` parameter to pre-populate the search page with the passed query string.

You can open multiple records of the same entity type but currently, i

[2019-05-09 18:59] susikka commented on #992
@louishawkins Thanks for creating this issue. I tried this myself and observed the same behavior. I've created a bug for the dev team to investigate this issue. Please stand by till further information on this.

[2019-05-09 19:01] susikka commented on #1024
@StephanBuSu Thanks for this issue. I have requested information/investigation from the dev team on this; will update this issue with the info I receive from them.

[2019-05-09 20:42] crawforc3 opened #1052 "Best practices: Use P1 premium?"
What is a P1 premium database and how do I setup the cost calculator for it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2fc07a7-c657-dd3b-cb4f-c9255cdd81d3
* Version Independent ID: bf1a4e2c-1b60-7423-7f04-2e1b412687d7
* Content: [Replicate Dynamics 365 for Customer Engagement apps data to Azure SQL Database](http

[2019-05-09 23:46] DmitryShevchenko opened #1053 "Wrong info in docs. Update docs or fix that issue on WebApi side."
Xrm.WebApi.updateRecord(entityLogicalName, id, data).then(successCallback, errorCallback);
For online scenario (connected to server)

//Error
//If update the lookup field.
// In data, property key should be (field name ds_leadid) uppercase like ds_Leadid. (For custom entities)
// This is not indicated in the documentation.
 Xrm.WebApi.updateRecord("ds_request", recordId, {"ds_Leadid@odata.bind": "

[2019-05-10 06:05] sbmjais commented on #866
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [https://docs.microsoft.com/dynamics365/get-started/support/](https://docs.microsoft.com/dynamics365/get-started/support/)
Closing this issue

[2019-05-10 06:05] #866 closed

[2019-05-10 06:12] dNsl9r opened #1054 "Misspelled "Microsoft""
The following sentence should be corrected:
"Use Microsfot Teams integration to seamlessly collaborate on documents between Dynamics 365 and Microsoft Teams."

The second word should be "Microsoft"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cc7ef0b-2e46-0b81-3182-edc6cc31bc88
* Version Independent ID: 1f8b2b10-a84

[2019-05-10 07:53] susikka commented on #1009
@StephanBuSu Thanks for creating this issue. I have raised this question to the dev team and will update you with further info soon.

[2019-05-10 08:38] imranakram opened #1055 "Spelling mistake "attaribute""
Attribute is spelled incorrectly in this line

"Type: Depends on the type of attaribute."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a55497d-0316-64b2-3d96-80aca5d5b43e
* Version Independent ID: c1219bf4-7a4b-1392-59b9-7e9459107012
* Content: [getValue (Client API reference)](https://docs.microsoft.com/en-us/dynam

[2019-05-10 09:36] susikka commented on #1055
@imranakram Thanks for notifying; this error will be fixed soon.

[2019-05-10 09:36] #1055 closed

[2019-05-10 21:30] devlinl opened #1056 "Refresh is a method, not a property."
The example in the Syntax section is quickViewControl.refresh, but should be quickViewControl.refresh().

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b738b6de-5d96-c40e-aa2f-f66fd3687941
* Version Independent ID: cfe8c959-9655-dfed-e126-32d0b17ba313
* Content: [refresh (Client API reference) in Dynamics 365 for Custo

[2019-05-11 21:09] ashende opened #1057 "Please include Work Orders and related data"
It will be helpful to include Work Orders and related data (Bookings, WO Products, WO Services, WO Service Tasks, etc.) with the sample data. Create at least one Work Order for each of the Customer Assets included in the sample data.

[2019-05-12 01:45] mathyousee opened #1058 "Add employee/internal authentication for Portals"
Would like to see the use of Azure AD for employee/internal authentication called out. There's a page for [Azure AD B2C](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/portals/azure-ad-b2c) which mentions this foundational capability, but it's worth calling out here as well for internal users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-05-13 04:15] skoofy5 commented on #448
I'm guessing you're using the unified interface? Doesn't work for me on 9.1.0000.4824

[2019-05-13 05:33] wingzeroaa commented on #448
Yes, I am in Hub. Current version is 9.1.0000.4824.
But I believe it should work in traditional one.

If this clear does not work, then you have to go with delete record.

[2019-05-13 05:36] susikka commented on #1046
@kabala123 I think this issue pertains to USD, so assigning it to you. Please unassign yourself if this isn't related to one of your areas.

[2019-05-13 05:38] susikka commented on #1048
@kabala123 I think this issue pertains to USD, so assigning it to you.

[2019-05-13 05:40] susikka commented on #1049
@kabala123 I think this issue pertains to USD, so assigning it to you.

[2019-05-13 05:45] susikka commented on #1047
@kabala123 I think this pertains to USD, so assigning it to you.

[2019-05-13 06:48] susikka commented on #1057
@krbjoran Hi Kristina, I think this issue pertains to Field Service, so adding you in Assignees. Please unassign yourself if this is not related to one of your areas.

[2019-05-13 06:51] susikka commented on #1027
@sbmjais Hi Shubham, I think this issue pertains to Portals, so adding you in Assignees. Please unassign yourself if this is not related to one of your areas.

[2019-05-13 06:53] Pankaj-Pathania commented on #1046
Found work around for this problem actually there are 2 events with name page ready after migrating usd to unified interface. So my action was registered on the first event which was not working but after putting the action call on second page ready event,  it worked for me

[2019-05-13 06:54] Pankaj-Pathania commented on #1047
Exactly facing it when we are trying to open records from advanced find in usd post migration of usd to unified interface

[2019-05-13 07:09] kabala123 commented on #1046
@Pankaj-Pathania : Thanks for letting us know. Please continue to provide feedback on the documentation. Since, you've found a workaround, I'm closing this issue now.

[2019-05-13 07:09] #1046 closed

[2019-05-13 07:16] kabala123 commented on #1047
@Pankaj-Pathania : Thanks for reaching out. I have escalated your query with the interal floks. After I hear back from them, I will update this thread. Thanks for your understanding.

[2019-05-13 09:06] kabala123 commented on #1047
@Pankaj-Pathania : For Unified Interface pages most of the WNR has to be changed from **Popup** to **Inplace**.
Advanced find page is still in web client and all the links from it are still **Popup**, so I think you will need to have both the rules or add special rules for advanced find with **Popup** behaviour.

[2019-05-13 11:52] zupermann commented on #819
Hi @susikka . Thank for your reply.

1. We do have multiple contacts with firstname John.
2. Do we have any doc on how to use $search parameter? I guess this is not standard odata query, but you have a custom odata implementation? Should the following query string work? `"$search=firstname eq 'John'"`

[2019-05-13 14:21] susikka commented on #819
@zupermann Thanks for clarifying.

We are in process of creating documentation that shows how `$search` can be used to pass a query string. Until then, you can use this example -

[code]
More info on `$search`: https://www.odata.org/getting-started/basic-tutorial/#search.

Please let me know if this helps.

[2019-05-13 16:59] brandonsimons commented on #298
The numbers within the error messages are not standard for every CDS database.  Our intention with the throttles was to deploy without causing rework upon the clients side.  If your business processes are not working as expected then please contact support.  Note that in some cases you may hit the thottle limit, but I would expect that to be handled with exponential back off similar to how you cur

[2019-05-13 18:13] krbjoran commented on #920
Hi James - thanks for bringing this to our attention. Dave and I just updated the screenshot to show that "Work Order Type" also appears on the summary tab.

[2019-05-13 18:13] #920 closed

[2019-05-13 18:50] mduelae commented on #1054
Thank you for the feedback. I have updated the topic and the update will go live by end of day.

Thanks,
Mints

[2019-05-13 18:50] #1054 closed

[2019-05-13 20:50] susikka commented on #782
Closing this issue for now. Will update soon on the status of the code sample.

[2019-05-13 20:50] #782 closed

[2019-05-13 22:23] skoofy5 commented on #448
Deleting the record isn't an option.

[2019-05-14 06:23] kabala123 commented on #1048
@Pankaj-Pathania : This is a product issue and requesting that you need to raise a support ticket to get it resolved. You can raise one support ticket mentioning about the other issues you have.

[2019-05-14 06:23] #1048 closed

[2019-05-14 06:23] kabala123 commented on #1049
@Pankaj-Pathania : This is a product issue and requesting that you need to raise a support ticket to get it resolved. You can raise one support ticket mentioning about the other issues you have.

[2019-05-14 06:23] #1049 closed

[2019-05-14 09:49] Javarome opened #1060 "getEnvironment works only once?"
I have an app that `getEnvironment()` with success.
That app also allows to change the locale by reloading its frame with a different url (`location.href = '../fr/index.html` for instance). This is exactly the same app but with different texts.
Once reloaded as its french version, the app displays well but fails to `getEnvironment()` (error is `Timeout occurred as no response was received from lis

[2019-05-14 10:15] susikka commented on #1060
@Javarome Need a quick clarification: Is this regarding the Channel Integration Framework API [getEnvironment](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/channel-integration-framework/reference/microsoft-ciframework/getenvironment) ?

[2019-05-14 10:16] Javarome commented on #1060
Yes it is.

[2019-05-14 10:25] Javarome commented on #1060
Not sure it is related but is it normal that reloading the frame (juste by using right-click menu) produces a BlobNotFound response?

[2019-05-14 10:33] sbmjais commented on #1027
Hi @venkyk56, thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/
Closing this issue.

[2019-05-14 10:33] #1027 closed

[2019-05-14 10:35] susikka commented on #1060
@Javarome Thanks for the clarification. Have created a bug for the feature team to investigate this; will get back to you soon with further info on this.

[2019-05-14 10:35] sbmjais commented on #918
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2019-05-14 10:35] #918 closed

[2019-05-14 10:41] sbmjais commented on #738
Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2019-05-14 10:41] #738 closed

[2019-05-14 11:22] AshV opened #1061 "Style.css unavailable"
After build there is no style.css file in dist/ClientApp folder, there is a styles.js file instead. Where to get style.css file? or some other process need to be followed.

Please suggest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d2ba9b5-bc21-3e30-f97a-63a5d5a9f506
* Version Independent ID: dec8cc95-9dcc-ee56-f9

[2019-05-14 12:11] bryce168789 opened #1062 "Dynamics 365 App for iOS asking for One-Time Passcode, Passcode not Received"
Hello,

I just downloaded the Dynamics 365 app for iOS 12.2. When I enter my work email and password, I am then asked to enter a one-time passcode to complete the login. I have checked my work email inbox and spam folder several times and do not see the passcode. It's been about 15 minutes. Do I need to wait longer? Thanks for your help!

Bryce

---
#### Document Details

⚠ *Do not edit this secti

[2019-05-14 14:32] elberfeld opened #1063 "The values (in description) shoulndn't be translated in other languages."
For example in the german translation
https://docs.microsoft.com/de-de/dynamics365/customer-engagement/developer/clientapi/reference/formcontext-ui-tabs/setdisplaystate
the values aalre translated to "erweitert" and "verkleinert" which is not correct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d819d345-4f79-53b0-aaf

[2019-05-14 15:39] anand-bhola opened #1064 "CreateKnowledgeArticleTranslationRequest fails with alternate key"
Once you define an alternate key, you are unable to CreateKnowledgeArticleTranslationRequest as it takes a source and is unable to create another row with same alternate key. Is there a way to specify a different alternate key in CreateKnowledgeArticleTranslationRequest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2019-05-14 18:12] SupportMonkey opened #1065 "The page does not contain information"
Seems to be a placeholder as the only thing provided is, "This section covers configuring regional settings for everyone in your organization."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdd8c8b9-1593-ecfe-e0e2-ea1f879a2bb4
* Version Independent ID: addea19b-5b98-0bbb-ac08-4d5f593d3333
* Content: [Regional and othe

[2019-05-14 18:49] jordanelbaz commented on #784
Hi,
I try to open record in UCI from another one with _CreateFromId params and it's not working.
Is there a supported way to open a form in the new unified interface from another recod ?

[2019-05-14 20:05] thomassandsor commented on #298
This answer is simply not good enough. We are delivering on an enterprise platform, where we need to plan things ahead. When you introduced the first limitation of 60.000 februaru 2018 (ish) we had to redesign integrations to handle this limitation.

With the latest release of Dynamcis we are now over to the azure database. It is something I supposed would be more scalable. Suddenly without a majo

[2019-05-14 20:21] mathiasbl opened #1066 "Specify concurrent requests limit"
Document describes there's a concurrent requests limit but it doesn't specify the limit itself.

"Number of concurrent requests exceeded the limit of X"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0ff6d67-ecf6-567a-a05c-3b1d1724b35e
* Version Independent ID: db544eb9-7eaf-1009-8ca9-31992b3dc180
* Content: [API Limi

[2019-05-14 20:24] mathiasbl commented on #298
I got this response from MS support:

[2019-05-14 21:33] Nkrb commented on #1061
@AshV Thanks for the feedback. Run the command `ng build --prod --output-hashing none` to generate style.css file.

[2019-05-14 23:09] boltlol opened #1067 "Connector data limits"
Using logic apps as an integration engine, we are using the CDS connector to create and update Accounts among other entities. Currently, the CDS connector has a limit of 1000 calls per minute before throttling per "API-connection". Would we be able to then have at least 4 different "API-connections" to hit the limit of 4000 calls on a busy day? Using service principals connected to different logic

[2019-05-15 05:06] Pankaj-Pathania opened #1068 "Mark Complete Button Issue"
Mark Complete button is redirecting to default dashboard page rather than marking the activity as complete in unified service desk for unified interface.Also, It shows the status completed after performing refresh from command bar in usd.

[2019-05-15 06:17] susikka commented on #1043
@davidjenkins Please see this doc on Restore-CrmInstance: https://docs.microsoft.com/en-us/powershell/module/microsoft.xrm.onlinemanagementapi/restore-crminstance?view=dynamics365ce-ps.

If this does not solve your query, would suggest you to contact Support via one of the methods mentioned here: https://docs.microsoft.com/dynamics365/get-started/support.

[2019-05-15 06:17] #1043 closed

[2019-05-15 06:21] susikka commented on #1011
@coddumu Microsoft.CIFramework APIs should work as long as the widget library is present in the controller context. Can you please provide repro steps for this ?

[2019-05-15 06:58] susikka commented on #992
@louishawkins This is indeed a product bug. Dev team will work on fixing it and the *fixed* API will be available for use soon.

Closing this issue now.

[2019-05-15 06:58] #992 closed

[2019-05-15 07:13] susikka commented on #1060
@Javarome Per info from the feature team, `getEnvironment` or any other CIF API should work after frame reload.

The issue you are facing is probably because the new URL does not bring in the widget library, i.e. `msdyn_ciLibrary.js`. Please check if the new URL brings this library along.

If the new URL does bring the widget library, can you please mention the repro steps that we can follow to un

[2019-05-15 07:26] susikka commented on #1009
This is a bug in the API; feature team will investigate and fix this and the *fixed* API will be available for use soon.

[2019-05-15 07:49] Pankaj-Pathania opened #1069 "Cancel Case button Issue"
In D365 unified interface app, while cancelling a case using oob "cancel case" button,the
confirmation dialog is showing the "confirm" button in a disabled state.

[2019-05-15 08:59] StephanBuSu commented on #1008
An error occures in the console. The message is:

msdyn_ciLibrary.js:1 Uncaught (in promise) TypeError: a.forEach is not a function
    at Object.b.buildEntity (msdyn_ciLibrary.js:1)
    at msdyn_ciLibrary.js:1

[2019-05-15 11:43] Javarome commented on #1060
I can confirm that the new URL does bring the MS library (`msdyn_ciLibrary.js`) for a number of reasons:
- if not, I would get some `getEnvironment does not exist on undefined` error instead of a CIF `Timeout occurred as no response was received from listener window` exception in the promise catch.
- the reloaded version fails independently of which version it is (i.e. if I start with the english

[2019-05-15 15:53] edreispi opened #1070 "Incomplete page"
Page seems to be missing content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a78790f-dd60-c4e8-fe7c-805041d0a499
* Version Independent ID: 32d3d0b9-e8e1-102c-dc0b-6d4a3ce002fe
* Content: [Work with the form editor](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/customize/work-with-form-editor#fee

[2019-05-15 15:53] Kaviarasi opened #1071 "Couldn't find how to invoke RetrieveMultiple request (with urlparameters) using Xrm.WebApi.online.executeMultiple or execute."
It would be better if we have sample code for all CRUD.
Nowhere I could find how can one construct request with operation  RetrieveMultiple and with fetchxml in url

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 560b6655-dab7-f77a-ac70-ef0274ada48c
* Version Independent ID: b2f7adea-c6fd-a46f-23c0-d5ac3cd1f955
* Conten

[2019-05-15 15:57] edreispi commented on #1070
Disregard, I realized this is a description for this section and links to the next pages.

[2019-05-15 15:57] #1070 closed

[2019-05-15 16:30] #1061 closed

[2019-05-15 18:58] gregdegruy opened #1072 "Logic App Designer and API Connection Menu Locked"
As you see in the second image if you switch to code view and select Upgrade from Schema support ended notification you can save this logic app as a copy using a new schema. You'll need to delete your old **IoT-To-CRM** logic app and use **IoT-To-CRM-Upgrade2015-08-01-preview**

![imgo](https://user-images.githubusercontent.com/8151045/57801318-4d30d380-7708-11e9-8102-02e2e737108e.jpg)

![imgo-1](

[2019-05-15 18:59] gregdegruy commented on #1072
If done correctly in your Saved As copy you'll see the Designer is viewable again.

![imgo-2](https://user-images.githubusercontent.com/8151045/57801575-dba55500-7708-11e9-83ea-adf7c3ef16a7.jpg)

[2019-05-15 19:30] tcorcor1 commented on #669
You can navigate to a specific record by passing an object into the below:

var yourObject = {entityName:"account", entityID:guid}

Xrm.Navigation.openForm(yourObject).then(successCallback,errorCallback);

https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/clientapi/reference/xrm-navigation/openform#remarks

[2019-05-15 23:10] mduelae commented on #1062
@bryce168789 thank you for your feedback. Let me check with a someone from our team. I will get back to you soon.

Thanks,
Mints

[2019-05-16 00:03] chriscrawfordTR opened #1073 "No reference for how to tag the keyvault"
This document doesn't say anything about tagging the keyvault. The only place I can find anything about the tags is in the PowerShell script for creating keyvaults.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2fc07a7-c657-dd3b-cb4f-c9255cdd81d3
* Version Independent ID: bf1a4e2c-1b60-7423-7f04-2e1b412687d7
* Conten

[2019-05-16 04:56] interfacemirror opened #1074 "Download PDF is not genrating content"
When I try to download the PDF on https://docs.microsoft.com/en-us/dynamics365/customer-engagement/, the generated document is only listing the table of contents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 370dc3b2-f205-da4f-99d0-497be7ec9e18
* Version Independent ID: 17bfd2a7-b06b-2f46-dc1a-9b00fa08a714
* Content:

[2019-05-16 12:03] bryce168789 commented on #1062
Awesome. Thanks!

[2019-05-16 23:18] kye opened #1075 "Additional permissions are required to provision a portal"
In addition to the below - you must be a O365 Global Administrator. This was confirmed in support ticket 119050824000111.

"To provision a portal, you must be assigned to the System Administrator role of the Dynamics 365 for Customer Engagement organization selected for the portal."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-05-17 00:26] phecke commented on #514
@mmcguinness Thank you for your feedback. The specified documentation has been updated in our source repository and should be published to the web site soon (about a week).

[2019-05-17 00:26] #514 closed

[2019-05-17 07:59] huseyinazizcan opened #1076 "Unable to communicate with the Events API"
We've been working with one of our clients to deploy the new Microsoft Dynamics 365 Events portal (part of the Marketing for Dynamics 365 package.
The aim is to set up a payment gateway as detailed here: https://docs.microsoft.com/en-us/dynamics365/customer-engagement/marketing/event-payment-gateway

Our developer is running into problems detailed below:

Currently we are trying to build a custom

[2019-05-17 15:03] SamSurana opened #1077 "Sorting a Virtual Entity Lookup field in view throws an error."
Hi Team,
One of my partners is facing a strange issue wrt virtual entities

They have a CDS entity called “Loan” which has a n:1 relationship to a virtual entity called “Loan Borrower”.  While working on the loan record, user selects the Loan Borrower thru the lookup field.

There is default view of the Loan entity that shows following columns
Loan Name, Created Date and Loan Borrower with default

[2019-05-18 16:35] SamFernandoAU opened #1078 "onclicktoact timing out"
Currently when invoking the event from the main form, the event listener is timing out. Below is the log from chrome console.

msdyn_internal_ci_library.js:1 Uncaught (in promise) Map(2) {"message" =&gt; "Timeout occurred as no response was received from listener window", "n" =&gt; "onclicktoact - raiseEvent"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-05-20 05:58] sbmjais commented on #903
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: [https://docs.microsoft.com/dynamics365/get-started/support/](https://docs.microsoft.com/dynamics365/get-started/support/)
Closing this issue.

[2019-05-20 05:58] #903 closed

[2019-05-20 06:05] susikka commented on #1078
@SamFernandoAU is it possible for you to share the code snippet where you are invoking the event ?

[2019-05-20 06:17] susikka commented on #1074
@interfacemirror Thanks for creating this issue; we are investigating this and will share updates soon.

[2019-05-20 06:33] dcbrown16 opened #1079 "TLS and Web API"
Does the TLS 1.2 requirement also apply to requests through the Dynamics 365 Web API?
This doesn't seem to be described in the Web API docs below, and I'm not sure if that is considered an "other client application" as described on this page.
https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/overview

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-05-20 13:57] joellindstrom opened #1081 "contradictory information"
The part about Azure AD team is contradictory:
"A new property has been added to the security role definition to provide special team privileges when the role is assigned to group teams. This type of security role allows team members to be granted User/Basic-level privileges as if the security role is directly assigned to them. Team members can create and be an owner of records without the need to

[2019-05-20 15:11] rossbalsillie commented on #763
@ryanperrymba Did you find a way of doing what you have asked in your comment around kicking off that code in a simpler way?

[2019-05-20 15:56] susikka commented on #827
@FixRM Thanks for the suggestion. We will work on it and update the doc.

[2019-05-20 15:56] #819 closed

[2019-05-20 15:57] susikka commented on #819
Closing this issue; please let me know if you need any more help with this.

[2019-05-20 17:52] jimholtz commented on #1030
@minohimself
Thanks for the feedback. I've updated the topic.

[2019-05-20 17:52] #1030 closed

[2019-05-20 18:14] jimholtz commented on #1065
@SupportMonkey
Thanks for bringing this to our attention. There's been a change to TOC structure to better support accessibility. We'll be addressing changes needed over time.

[2019-05-20 18:14] #1065 closed

[2019-05-20 19:20] jimholtz commented on #1081
@joellindstrom
Thanks for the feedback. The 3rd paragraph calls out that you need to assign the team with a member’s inheritance role otherwise the individual team member will require a security role of their own.

[2019-05-20 19:20] #1081 closed

[2019-05-20 19:52] alokkms opened #1082 "Broken link"
The "More information: Use the Early Bound Entity Classes in Code", under section "Organization service" above seems to be broken. When navigated gives a Access denied exception.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace4bd59-0cbe-d4c6-b4e1-3dc2c8e0acd0
* Version Independent ID: 88ebb402-85ff-04d0-21e0-34d007d

[2019-05-20 20:47] Nkrb commented on #1076
@fahu Can you look into this

[2019-05-20 23:11] ryanperrymba commented on #763
Unfortunately, no.  Would love an update from MSFT.

[2019-05-21 06:24] susikka commented on #1069
@Pankaj-Pathania can you please mentioned the documentation you are referring to ?

[2019-05-21 06:36] Pankaj-Pathania commented on #1069
I am not referring to any documentation as it's just out of box functionality which is not working

[2019-05-21 06:44] susikka commented on #1068
@kabala123 I think this pertains to USD, so adding you in Assignees.

[2019-05-21 06:57] susikka commented on #1082
@alokkms The link works fine for me. Can you try opening this doc in incognito mode and see if it returns the same **Access Denied** error ?

[2019-05-21 06:59] susikka commented on #1069
@Pankaj-Pathania which product or feature is this about? Need this info in order to triage this issue to concerned writer/product team.

[2019-05-21 07:29] Pankaj-Pathania commented on #1069
D365 CRM

[2019-05-21 08:08] susikka commented on #1069
Please try contacting Microsoft Support for this issue. We are not able to handle Support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/

Closing this issue.

[2019-05-21 08:08] #1069 closed

[2019-05-21 08:27] susikka commented on #1082
Closing this issue as the link works fine.

[2019-05-21 08:27] #1082 closed

[2019-05-21 08:44] kabala123 commented on #1068
@Pankaj-Pathania : Thanks for reaching out. Perhaps, this is product support query. Please file a support ticket and the team will investigate. Thanks.

[2019-05-21 08:44] #1068 closed

[2019-05-21 09:15] Javarome commented on #1060
Hi @susikka, Do you have any news on this case?

[2019-05-21 09:54] susikka commented on #1078
@SamFernandoAU Can you also let me know if

- defined and registered a `clicktoact` handler
- the handler function is throwing some error.

Thanks!

[2019-05-21 09:59] susikka commented on #1060
@Javarome I've created a bug for the dev team to investigate this issue; will reach out to you if there is any update from them or if we need any more info on this.

[2019-05-21 19:20] almertes opened #1083 "BLANK????"
This page is blank and not helpful. Please correct and add content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88bd6264-5050-3151-b973-4f7ee6602f69
* Version Independent ID: b055db38-4d60-b969-4bce-dae38ddc96de
* Content: [Support and billing for Customer Engagement](https://docs.microsoft.com/en-us/dynamics365/cus

[2019-05-21 21:07] krbjoran commented on #1072
Dave is reviewing now! Thanks for the message, @gregdegruy

[2019-05-21 21:09] krbjoran commented on #1057
Thanks for the suggestion @ashende - I've passed along this feedback to the team. Please feel free to submit your idea to our [Field Service ideas portal here](https://experience.dynamics.com/ideas/categories/?forum=bee3d862-df65-e811-a95d-000d3a1be7ad&forumName=Dynamics%20365%20for%20Field%20Service)!

[2019-05-21 21:09] #1057 closed

[2019-05-21 21:18] krbjoran commented on #1051
This setting refers to bookings that are created on their own, and not related to any scheduleable entity. For example, quick create a bookable resource booking (or by going to booking +New). If you manually create a booking, then this feature will auto generate a requirement for it. This helps with rescheduling. Only work orders and projects auto create requirements when they are created; if you

[2019-05-21 21:18] #1051 closed

[2019-05-21 21:24] krbjoran commented on #1022
Thanks so much for your suggestion, @nickbrandl! We are updating the URS topic to include your addition!

[2019-05-21 21:29] krbjoran commented on #996
Thanks, @cmossell - we've updated our overview page for URS in Field Service to be version-agnostic.

[2019-05-21 21:29] #996 closed

[2019-05-21 21:31] krbjoran commented on #837
Hi @quangdutran - I've just spoken with @FieldServiceDave about this salesperson content. It's in our backlog for new documentation. In general, this applies to field service personnel who may need access to leads, opportunities, and quotes. When we get the doc published, I'll close out this comment. Thanks for your input!

[2019-05-21 21:35] krbjoran commented on #243
Hi @timothybohte - thanks so much for pointing out this correction. I've just updated the content, and it should be live shortly!

[2019-05-21 21:35] #243 closed

[2019-05-21 22:14] Mattp123 commented on #1037
@Andreyb-Intlock --Thank you for your feedback. As you know customers can no longer request a backup of their Dynamics 365 for Customer Engagement database. Since there isn't a straight-forward process to migrate from online to on-premises that doesn't require purchasing a third party data migration tool (or developing your own), we've removed the topic.

[2019-05-21 22:14] #1037 closed

[2019-05-22 10:51] susikka commented on #1078
Possible reason for this error can be that the handler does not resolve the promise. Make sure you have used `return Promise.resolve();` in your handler function.

[2019-05-22 16:53] altmank commented on #636
@KumarVivek Is this a supported API?

[2019-05-22 18:00] syntax922 opened #1084 "Dialogs are Depricated in 9.x"
Per https://docs.microsoft.com/en-us/flow/replace-dialogs and https://docs.microsoft.com/en-us/dynamics365/get-started/whats-new/customer-engagement/important-changes-coming#dialogs-are-deprecated Dialogs are deprecated and should be called out as such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b0e0bf9-731d-40a4-

[2019-05-22 18:01] syntax922 opened #1085 "Dialogs are deprecated in 9.x"
Per https://docs.microsoft.com/en-us/flow/replace-dialogs and https://docs.microsoft.com/en-us/dynamics365/get-started/whats-new/customer-engagement/important-changes-coming#dialogs-are-deprecated Dialogs are deprecated and should be called out as such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a971d689-add5-2254-

[2019-05-22 19:30] jazmatician opened #1087 "Bug in refreshAll Parameter"
Previously, passing "true" to this method would cause command bars to be refreshed. It is not doing this any more in 9.x CRM Online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c6141a-3638-2bdf-5145-96e2a32e733b
* Version Independent ID: 61bb5f56-16f6-b194-bb49-326761127338
* Content: [refreshRibbon (Client API ref

[2019-05-22 21:29] mduelae commented on #1062
@bryce168789 I check with our PM team. This is not a standard design. We don't expect any passcode after entering the email address and password. This could be a customer specific authentication settings. Please check with your local admin.

Thanks,
Mints

[2019-05-22 21:29] #1062 closed

[2019-05-22 23:12] NHelgren commented on #1077
@SamSurana  Let me look into this a little for you and get back soon.

[2019-05-23 08:57] susikka commented on #1060
@Javarome can you please check if domain is set correctly after the `location.href` is changed. Please see the doc [Pass Dynamics 365 URL to widget library](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/channel-integration-framework/pass-url-widget-library) for more details.

I am guessing the error `Timeout occurred as no response was received from listener window` ma

[2019-05-23 09:45] EkoZuluDev commented on #567
Any progress on this issue? It very important when an tabstate change event is fired that we can rely on it or else we can't create a working event handler.

[2019-05-23 11:05] hansgfixed opened #1088 "Cannot adjust the title height (dialogs)"
![image](https://user-images.githubusercontent.com/44840416/58247852-ea1fec00-7d5a-11e9-8523-7354e983e448.png)
Is there a way to adjust the height of the title especially when a title is not needed? The title container is taking up too much space.

Thanks!

[code]

[2019-05-23 11:31] bryce168789 commented on #1062
Thanks, Mints! Appreciate you checking. I will follow up with an internal admin.

[2019-05-23 12:30] susikka commented on #1074
@interfacemirror This has been fixed; please try downloading the docs PDF again.

Closing this issue now.

[2019-05-23 12:30] #1074 closed

[2019-05-23 13:46] tpmeredith opened #1089 "Linking team fails when trying to link to Azure Security "Dynamic User" group/team"
Linking team fails when trying to link to Azure Security "Dynamic User" group/team.

If you create an azure security team, set the "membership type" in azure team to "Dynamic user", copy GUID of team, then create team in dynamics 365 and put "Azure security" as the group type, put the guid in, it will error and fail saying it is not an AAD group.

However, if you make the azure security group memb

[2019-05-23 15:44] jimholtz commented on #1083
@almertes
Thanks for the feedback. We'll be adjusting this and other topics in the table of contents that appear to be duplicates over time.

[2019-05-23 15:44] #1083 closed

[2019-05-23 16:24] jimholtz commented on #1089
@tpmeredith
Thanks for contacting us. Please contact Support with one of the options described here:
https://docs.microsoft.com/dynamics365/get-started/support/

[2019-05-23 16:24] #1089 closed

[2019-05-24 02:59] TakiyaNakano-MSFT opened #1091 "Pressing "Copy" button navigates to Power Platform admin center"
"This operation is now handled in the new admin center" dialog appears when clicking "Copy" button and the user is navigated to Power Platform admin center.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e0cbdf7-a4da-6228-3495-7edd7d50abd3
* Version Independent ID: c2d9c221-491d-3905-0b5f-c62fe5

[2019-05-24 07:15] RobertRybaric opened #1092 "Documentation improvements"
There are several missing pieces and misleading information in this whole Dynamics 365 - Azure integration documentation. Suggest you correct it, to make it more understandable:
- One-Way, Two-Way and REST contracts are of type "Relay" and do NOT need anything else, just the service bus alone. There is no "Relay" component to be created within the Azure Service Bus or elsewhere.
- One-Way, Two-Way

[2019-05-24 07:50] Pankaj-Pathania opened #1093 "How can we stop logging in unified service desk"
I want to disable the logs creation inside folder located at AppData\Roaming\Microsoft\Microsoft Dynamics® 365 Unified Service Desk\3.3.0.933.Is there any way out to stop creating unified service desk logs?

[2019-05-24 07:54] sbmjais commented on #806
Thanks for your feedback. We have updated the docs to fix the information, and the updated content is live. Closing this issue.

[2019-05-24 07:54] #806 closed

[2019-05-24 07:55] sbmjais commented on #774
Thanks for your feedback. We have updated the docs to fix the information, and the updated content is live. Closing this issue.

[2019-05-24 07:55] #774 closed

[2019-05-24 07:56] sbmjais commented on #206
Thanks for your feedback. We have updated the docs to fix the information, and the updated content is live. Closing this issue.

[2019-05-24 07:56] #206 closed

[2019-05-24 07:57] sbmjais commented on #980
Thanks for your feedback. We have updated the docs to fix the information, and the updated content is live. Closing this issue.

[2019-05-24 07:57] #980 closed

[2019-05-24 07:59] ehandani opened #1094 "Does this tool work with D365 online?"
I tried to connect to my instance and never managed to connect. I tried all options and kept on failing. So, i edited the code to connect to the discovery service in my org, only to lead me to a list of orgs where my org name was not even listed. Can help me pls? Without editing the code I always get "Metadata contains a reference that cannot be resolved".

---
#### Document Details

⚠ *Do not edi

[2019-05-24 12:37] bosskay972 opened #1095 "Assets for action and assets for other parameters"
There is no way to change the label on the button Apply and no way to change the label "RECCOMENDATION", there is no way to write interactive text like link in the notification.
It would be correct if there is a way to custom a little bit more this assets on this function.
And is it possible to add to the doc the method "addAction" because maybe there is more asset than juste "message" and "action

[2019-05-24 13:43] imranakram commented on #699
`formContext.data.attributes` returns null whereas `Xrm.Page.context.getQueryStringParameters()` returns non-entity bound data properly. It seems the implementation has some gaps. I have to stay with the deprecated method in this case unfortunately.

[2019-05-24 15:46] susikka commented on #1024
@StephanBuSu We will fix the documentation to mention that the return value of setClickToAct is null. The updated doc will be published soon.

Closing this issue now.

[2019-05-24 15:46] #1024 closed

[2019-05-24 15:48] susikka commented on #1011
@coddumu I think your question has been answered.

Closing this issue now; please feel free to reopen if you have any other queries regarding this.

[2019-05-24 15:48] #1011 closed

[2019-05-24 15:55] vijaykharatmol commented on #1020
I was able to reproduce the issue. The brackets are causing an issue when the guid value is passed to Xrm.WebApi.

Environment able to reproduce: Microsoft Dynamics 365 Version 1612(9.0.3.7) (DB 9.0.3.7) ON Premise

[2019-05-24 20:23] NHelgren commented on #1032
@rlmishra  Can I ask for some clarification? Are you asking if OData v4 connectivity can use the ODatav3 standard? If so this has not been tested.

Virtual entitles can connect to sources that use the OData v4 standard. using the OData v4 format. More information is available here: https://docs.microsoft.com/en-us/dynamics365/customer-engagement/customize/virtual-entity-odata-provider-requirements

[2019-05-24 20:41] anskanth commented on #636
All we are looking is some one to confirm - will you be considering it as Supported or Not :(

[2019-05-24 20:56] altmank commented on #636
@bishalgoswami, can you please help us find out if this will be a supported API?

[2019-05-24 22:09] Mattp123 commented on #854
@gregowens I've expanded the topic a bit to give more detail about the system attributes that don't support FLS as per below.

Although most attributes can be secured, there are system attributes, such as IDs, timestamps, and record tracking attributes, that can't. Below are a few examples of attributes that can't be enabled for field security.
- ownerid, processid, stageid, accountid, contactid
-

[2019-05-24 22:09] #854 closed

[2019-05-24 23:49] KumarVivek commented on #636
@altmank @anskanth No, **openDialog** is not a supported API. Only APIs that are documented are supported.

Closing the issue.

[2019-05-24 23:49] #636 closed

[2019-05-24 23:50] KumarVivek commented on #1094
@phecke Can you please look at this.

[2019-05-24 23:52] KumarVivek commented on #1092
@phecke Can you please look into this.

[2019-05-25 00:39] KumarVivek commented on #1085
@syntax922 Thanks for the feedback; we have added the note about deprecation.

[2019-05-25 00:39] #1085 closed

[2019-05-25 00:45] KumarVivek commented on #1084
@syntax922 Thanks for the feedback. We have added a note about the deprecation.

[2019-05-25 00:45] #1084 closed

[2019-05-25 00:51] KumarVivek commented on #1088
@hansgfixed No, you cannot adjust the title height. Closing the issue.

[2019-05-25 00:51] #1088 closed

[2019-05-25 03:23] leSchwifty commented on #1071
Late response, but came looking up a different issue. You can use fetchXml with retrieve multiple the same as you could before when using ajax or XHR, the url will be similar to below
`https://<organization>.crm.dynamics.com/api/data/v9.0/<entity>?fetchXml=<fetchXml query>`

As for code (couldn't get it formatted correctly with backtick);
var fetchXml = `<fetch version="1.0" output-format="xml-pla

[2019-05-25 14:36] rlmishra commented on #1032
The OData4 provider in D365 expects the overall service document in OData3 format, whereas the entity data read in OData4 and JSON format. This was misleading.

I have successfully exposed all the Azure SQL Server data bjects as Virtual Entities through the D365 built-in OData 4 provider using the above observation.

Please let me know if it is still not clear?

All the best,
Rajib

Sent from Mail

[2019-05-25 14:49] varun6288 opened #1097 "For Xrm.Utility.lookupObjects filters property is not working when we have two and condition in the filter"
For Xrm.Utility.lookupObjects filters property is not working when we have two conditions in the filters property. Can you please update this page with some example how to use Filters with multiple conditions.
This will be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71f4ad78-79b9-f80d-c7fa-3b78258009b1

[2019-05-26 23:12] isvdevchat opened #1098 "is there any chance in future to include sync operation in Xrm.WebAPI"
is there any chance in future to include sync operation in Xrm.WebAPI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36bb046e-50cf-7e3e-062a-ff329fd44090
* Version Independent ID: 51693c95-20b5-1683-b325-ddfb37c26fe7
* Content: [Xrm.WebApi (Client API reference) in Dynamics 365 for Customer Engagement apps](https://do

[2019-05-27 11:19] rmuhammed commented on #806
Can I see notes created in CRM in portal?

[2019-05-27 15:10] bguidinger opened #1099 "It is possible to set Regarding lookup fields."
Based on my testing, it is now possible to set Regarding lookup fields by passing parameters (on UCI).  This article should be updated to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7bad731-abd8-038f-d59f-564b02051ac1
* Version Independent ID: 71d4e593-ad8f-f125-53fb-f48629f94ac6
* Content: [Set field

[2019-05-27 15:32] susikka commented on #1009
@StephanBuSu A fix for this will be available when the CIF solution is next updated on AppSource.

Closing this issue now.

[2019-05-27 15:32] #1009 closed

[2019-05-28 11:04] 2srs opened #1100 "Custom Controls for optionsets does not support addOption, removeOption or clearOption"
Unfortunately if you activate Custom Controls in the form of a Unified Interface model-driven app. You can not add, remove or clear options for an optionset. If you remove the custom control and use the standard optionset then it will work just fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efc2fb7c-ab45-d724-da9

[2019-05-28 17:28] Mattp123 commented on #874
@ryanperrymba - Unless shared, personal views aren't accessible by anyone but the user who creates them. That's by design. One option to enforce  only centrally managed views is to revoke Saved View privileges. Subsequently, the admin would have to manage all views in the organization as system views. If there's a large number of views needed, this could lead to a lot of management overhead so not

[2019-05-28 17:28] #874 closed

[2019-05-28 17:37] Mattp123 commented on #990
@cherchyk “Thanks for contacting us. Unfortunately, we're unable to handle support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/
Closing this issue.

[2019-05-28 17:37] #990 closed

[2019-05-28 18:00] kunalks2003 commented on #1100
@2srs  Thankyou for the feedback. we have made a change to UCI to fix this issue . it will be avaliable in 9.1.0.4832. if you are still able to reproduce the issue after that please get in touch with Microsoft support

[2019-05-28 18:15] kunalks2003 commented on #699
@ryanperrymba  Thanks for the feedback. getAttribute() returns single attribute if you pass the attribute name or its index . That's why it does not support collection related function. If you need more info please share a code sample of what you are trying to do .

[2019-05-28 18:19] jimholtz commented on #1091
@TakiyaNakano-MSFT
Thanks for the suggestion. I've added a note to the topic regarding using Power Platform Admin center.

[2019-05-28 18:19] #1091 closed

[2019-05-28 22:22] NHelgren commented on #1077
@SamSurana Looking this over it appears to be a support related question. Here is a community link where users have discussed this before, or you can contact Microsoft Support for more help.

https://community.dynamics.com/crm/f/117/t/34432

[2019-05-29 06:10] SuperJ76 commented on #232
I find the documentation a bit vague on this subject.  The link to "How is this limit calculated" is no longer valid.

Using ExecuteMultipleRequest, one can only have 2 concurrenct requests pr organization. Does the same apply for the Web API?

If not , is it possible to run 40 concurrent and 4000 batch request within a 5 minute slot?

[2019-05-29 07:00] 2srs commented on #1100
@kunalks2003
Thank you for the quick reply and info. When are you releasing this fix for Dynamics 365 9.0 OnPremises?

[2019-05-29 08:03] iaind72 commented on #81
Hi, as described by valdik5379455 i have found in 9.1.0000.4834 that Xrm.Utility.getEntityMetadata("account", ["relationships"]) will return the relationships which can then be accessed via the returned results. e.g.

            Xrm.Utility.getEntityMetadata("account", ["relationships"]).then(
    function success(results) {
     results.ManyToOneRelationships.forEach(function (relationship) {

[2019-05-29 10:11] danmanning commented on #1075
I can confirm that this is also the same experiance that we have encountered with provisioning a portal for D365 Customer Engagement.

You need to be a Global Administrator to be able to create the application in Azure AD and so the documentation is wrong as you can't provision a portal if you are just a System Administrator role of the Dynamics 365 for Customer Engagement or even if Dynamics 365

[2019-05-29 15:47] Mattp123 commented on #1077
Closing issue.

[2019-05-29 15:47] #1077 closed

[2019-05-29 16:24] jimholtz commented on #868
@ThreeTen22
Sorry for the delayed response. I heard back from the product team that deleting the import system job does not delete the source file information.

[2019-05-29 16:24] #868 closed

[2019-05-29 18:26] kunalks2003 commented on #1100
hi @2srs ,
To get the fix for On-premises  you will need to get in touch with to Microsoft through your channel.

[2019-05-29 19:05] spiritsip opened #1101 "Filter Layout Syntax"
Is the filter layout syntax documented anywhere? I can't figure out (for example) how to add a filter tied to a status field (control type="optionset" doesn't work - no options are retrieved).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e9d1b9-113c-43b1-9b1c-fc4f77bda5d2
* Version Independent ID: e64c8d8f-a356-bf5

[2019-05-29 19:14] devlinl opened #1102 "Remarks on Notification Priority"
The method name "add"Notification is slightly misleading. It makes it seem as though multiple notifications can be displayed at the same time. It might be worth explicitly noting that multiple calls to addNotification will push notifications onto a sort of queue, and only the first notification will be displayed to the user.

Also, it should be explained that ERROR notifications take priority over

[2019-05-29 22:34] ryanperrymba commented on #699
Hi @kunalks2003 , I don't recall the details of what I was doing exactly, and would provide code if I could remember from 4 months ago. What I do recall is that when retrieving the collection of attributes with formContext.data.entity.attributes, the system would return a collection of attributes, but the collection methods listed in the related artcle didn't work (https://docs.microsoft.com/en-us

[2019-05-30 02:44] SupportMonkey opened #1103 "Page is empty and should contain information for managing users"
Content should include user management from both the AAD/O365 side and the Dynamics side

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32e6018-b8b7-1c4c-c3d1-2ce9aee20a41
* Version Independent ID: 9ec434d6-11aa-9b52-22c3-88ff54b7ec40
* Content: [Manage security, users, and teams](https://docs.microsoft.com/en-us/dyna

[2019-05-30 06:08] susikka commented on #1060
@Javarome Hi, just checking if you were able to resolve this issue. If you still need help, please comment below and mention the info requested in my previous comment.

[2019-05-30 20:41] KittyDreadful opened #1104 "This is incorrect information"
The instructions to have admins use the CRM admin portal is incorrect.  Please update this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38937b52-e624-4d30-b949-77e4def3aa1b
* Version Independent ID: 26c61b02-5b2d-a428-645f-8677acc69146
* Content: [Add an instance to your subscription of Dynamics 365 for Custome

[2019-05-30 20:42] KittyDreadful commented on #1023
This information really should be added to the page and the CRM admin page information should be removed.

GUIDANCE ONCE STORAGE OF ONE GB AVAILABLE IN TENANT IS CONFIRMED
This is how to provision new instances once a customer has switched to the new CDS Storage model that enables unlimited instances. The guidance to do so is as follows:

Go to the Power Platform Admin Center , on this link you wi

[2019-05-31 10:13] Javarome commented on #1060
Hi,

Sorry about the reply, I am on vacation these days. We did check the domain
and it was still ok after location.href
So no progress here.

Le jeu. 30 mai 2019 à 08:08, Sushant Sikka <notifications@github.com> a
écrit :

[2019-05-31 11:17] susikka commented on #1060
@Javarome thanks for your response. Please send the error logs to **d365cif@microsoft.com**.

[2019-05-31 21:11] ryanperrymba opened #1106 "Change View Column Aligment"
According to the Customizations File Schma link provided, under the layoutxml section, there is not align attribute to specify a column justification (IE should it be aligned left, center, or right).  Is it possible to change column alignment in Dynamics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c128eafc-1899-334

[2019-05-31 21:23] NHelgren commented on #1032
@rlmishra I think I may understand now. Is your question the fact that you expected OData 4.0 to support JSON formatting as well as XML?

[2019-05-31 21:48] rlmishra commented on #1032
That’s is how D365 Customer Engagement expects, even though it says OData4.
Take a look at the following blog.
https://blogs.technet.microsoft.com/lystavlen/2017/09/08/virtual-entities/

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Nathan Helgren <notifications@github.com>
Sent: Friday, May 31, 2019 5:23:25 PM
To: MicrosoftDo

[2019-06-02 06:17] timngalvin opened #1107 "Rename Quotes"
Is it also possible to have the PDF document renamed to Quote ID or Quote Title?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47859fd7-c061-28f3-2f55-60b067596c1f
* Version Independent ID: b56ee3c5-51bb-9db5-645a-8f40e2b21519
* Content: [Create a quote PDF document (Dynamics 365 for Sales)](https://docs.microsoft.com

[2019-06-03 07:19] susikka commented on #1008
@StephanBuSu please make sure that the widget library is loaded properly. You can follow the steps mentioned here: [Pass Dynamics 365 URL to widget library](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/channel-integration-framework/pass-url-widget-library).

[2019-06-03 18:20] bharavar commented on #1107
Currently, the application uses the template name by default. Users can edit/change the name of the file when / after the file is downloaded. The application does not support editing the default name used.
This is a great suggestion though. Would request submitting it through our ideas portal:
https://experience.dynamics.com/ideas/categories/list/?category=ccc25dce-9a27-e911-a95a-000d3a4f3883&foru

[2019-06-03 22:17] devlinl opened #1108 "entityFormOptions.relationship"
The description of the relationship object's purpose is not clear; "to display the related records on the form" is not a useful description of what this does.

Based on what the client API is doing with this object, it seems like it is supposed to be used in conjunction with createFromEntity to automatically associate the current record and the new record being created, but I cannot get this to ac

[2019-06-04 08:59] susikka commented on #1098
@isvdevchat Thank you for your suggestion. Unfortunately we are unable to handle product-related feedback on this forum. Suggest that you raise this request on [Dynamics 365 ideas forum](https://experience.dynamics.com/ideas/).

[2019-06-04 08:59] #1098 closed

[2019-06-04 09:38] susikka commented on #1008
@StephanBuSu per info from dev team, this bug in searchAndOpenRecords has been fixed and will be available for use soon.

Closing this issue now.

[2019-06-04 09:38] #1008 closed

[2019-06-04 12:51] jenschristianschroder opened #1109 "Documentation is ambiguous"
Hi,

Does the sentence "The following entities are available in offline mode:" mean that the list of entities are supported (and entities not on the list are not supported) or that entities on the list are available for offline out of the box?

In the second Note box it says that one can enable entities from a list of supported entities. Where is that list (if not the list of available entities on

[2019-06-04 18:43] rdegrove opened #1110 "There is no "Select the basic format of the report" option in Microsoft Dynamics 365 Version 1710 (9.1.0.4834) online"
Screen shots would also be nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3985cc02-2196-996f-3498-39f333594136
* Version Independent ID: 97c74229-4c90-958b-816d-67edfbd10711
* Content: [Create or edit a report using the Report Wizard (Dynamics 365 for Customer Engagement)](https://docs.microsoft.com/en-us/dynamic

[2019-06-05 15:09] mlathouwers opened #1111 "Background processes are not available in unified interface"
With the introduction of the unified interface it is no longer possible to see background processes and sessions directly from the form. Even a manual added subgrid with background processes is suppressed by the UCI.
Will this be changed by Microsoft in the near future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37

[2019-06-06 04:35] MannyGrewal commented on #203
Any update on this? I am looking to do a N-N linking and I guess the only way to do is to use this option (2-CRUD). Does it even work? If yes how to use it.

[2019-06-06 09:08] yesadahmed commented on #288
Yes, we also need a way to manipulate the test value in particular coulmn. Becuase we have row data already avaiable in JS function and hence we can concatenate the two or more columns into one column. It wil be pretty handy in case of app for app for outlook, because in global search or lookup we can not show more than three column (or two) coulmns in app for outlook.

[2019-06-06 09:36] nsteenbeek commented on #81
@iaind72 Thanks for mentioning this. I found in 9.1.0000.5228 that it's working as before (even without ["relationships"]). Probably a temporary bug in around 9.1.0.3835.

[code]

[2019-06-06 10:35] taarskog commented on #907
FYI _preview_ and _test send_ does not accurately reflect the functionality of a live customer journey.

I you create a loop as described [above](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/marketing/dynamic-email-content#how-to-enter-advanced-dynamic-content-in-the-designer) it will not work in _preview_/_test send_ but customers receiving the email from a live journey will g

[2019-06-06 11:27] mahakkjain commented on #930
@RamanujamRaghunathan  did you find solution for this? We are trying to filter the subgrid look up. I am successfully able to filter it in classic UI but Subgrid lookup is not filtering in Unified UI.

[2019-06-06 11:28] mahakkjain opened #1113 "lookupdialog is not working in subgrid for unified ui."
We are trying to filter the subgrid look up. I am successfully able to filter it in classic UI but Subgrid lookup is not filtering in Unified UI.

[2019-06-06 11:36] kamaybac commented on #907
@taarskog , yes, your workaround is the correct one. There are several limitations like this for previews and test send. We do often mention them in the docs, but you are correct, we haven't mentioned that loops also don't work here. I'll do that now. Thank you for pointing out this issue. Your workaround is also the right way to [test a subscription center page](https://docs.microsoft.com/en-us/d

[2019-06-06 15:18] charliechen179 opened #1115 "What is the event for clicking on individual record on a quick view control on a form?"
[Enter feedback here]

When I have a quick view control on an entity form showing a list of record related to a lookup field on the form, an user clicks on the one column of the record like below:
![image](https://user-images.githubusercontent.com/29467948/59044600-6c74d980-884c-11e9-9cac-0dda0dcdf2b8.png)

How can I get access to the event? On web ui and UII? As I want to write an event handler t

[2019-06-06 16:38] jrichview opened #1116 "Clear statement about administrator"
I'd like to suggest you add a statement that makes clear what everyone assumes:  a team administrator IS a member of the team and does not need to be added to the team member collection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 280383e1-1c91-d00c-1e69-3b02b6a588a9
* Version Independent ID: e7d8815b-c319-8c35-8cc7

[2019-06-06 17:36] fuchsdaniel opened #1117 "Files for v9.0 or instructions are not precise."
When we click in the link for downloading packages to v9 (https://www.microsoft.com/en-us/download/details.aspx?id=57523), the files downloaded are to update an old client and not the client itself.
To install v9, I downloaded v8 client (http://go.microsoft.com/fwlink/p/?LinkId=690396), installed this version and then run the upgrade tool.
If this is the right procedure, I believe this page should

[2019-06-06 19:06] nw214 opened #1118 "there is error/random characters in this page"
there is error/random characters in this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4638cff-21ab-1bb9-cd54-ee480d6fb564
* Version Independent ID: b3afbd75-cfe8-91e3-1b07-3adbbbd74709
* Content: [Determine who can use a report (Dynamics 365 for Customer Engagement)](https://docs.microsoft.com/en-us/dynamics365

[2019-06-07 05:51] skyovi opened #1119 "Unable to edit entities while working offline on mobile"
I have followed all the steps mentioned in the following url for setting up the mobile offline in our D365 Instance. I am able to view/read the records in offline mode, but not able to edit these records.
https://docs.microsoft.com/en-us/dynamics365/customer-engagement/mobile-app/setup-mobile-offline-for-admin

All the fields in the entity form are locked in offline.

- I am testing this offline f

[2019-06-07 11:08] bservulo commented on #912
the problem here is both setSrc and getSrc have a different behaviour in unified forms.

I've managed to make it work using the following code:

        let src = webResourceControl.getObject().src;
        webResourceControl.getObject().src = "about:blank";
        webResourceControl.getObject().src = src;

[2019-06-07 17:18] ShalabhjainMSFT opened #1120 "Please fix the link."
The link present on the below line is broken:
For other hardware requirements of Unified Service Desk client application, see Unified Service Desk system requirements

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64ccbe51-c1b7-1ad1-98e0-5755171bb693
* Version Independent ID: 9060ffcc-0102-f1a1-8f16-41c7dbbe4267
* Cont

[2019-06-07 21:27] mduelae commented on #1117
@fuchsdaniel Thank you for the feedback. I am looking into this and will update the help article as needed.

Thank you,
Mints

[2019-06-07 21:32] sriharibs commented on #1117
Hi Mints, Yes this needs to be updated. The correct link for version 9 Outlook Client download is: https://support.microsoft.com/en-us/help/4491851/dynamics-365-for-outlook-version-9-0-outlook-client-update-1-0

[2019-06-07 21:49] mduelae commented on #1117
@fuchsdaniel I updated the help topic with the correct v9 install link. You should see the updates on the page by end of day today.

Thanks,
MInts

[2019-06-07 21:49] #1117 closed

[2019-06-07 23:11] rajrao opened #1121 "Can I use XRM Tools in AzureFunctions"
The flow diagram specifies that one should use the "Xrm tools" when using a windows client. But if I were to build an Azure function that is running in .netCore (so could be hosted in Linux or Windows App Service), can I still use the Windows Client? Also, does XRM Tools support authenticating with an Application User?
This documentation does not seem to clarify this distinction and I was hoping y

[2019-06-09 10:42] susikka commented on #539
@anasraf Please check the samples provided by @scottdurow on the PowerApps samples repo. Here is the link for the PR: https://github.com/microsoft/PowerApps-Samples/pull/11.

Give kudos to @scottdurow if these samples are helpful for you.

Closing this issue now.

[2019-06-09 10:42] #539 closed

[2019-06-10 06:00] kabala123 commented on #1120
@ShalabhjainMSFT : Thanks for reaching out to us. I'm working to fix this link. I will update the thread as soon as the doc is published with the updated link.

Regards,
Karthik

[2019-06-10 08:47] anasraf commented on #539
Thank you for you reply i have managed to solve my problem by debugging the oob scripts in this is my code :
`var myCollection = [];

var req = CreateReqs(result.entities[i].opportunityproductid, fraisDapproche, tauxDeMarge, tauxDevise,     remiseDAchat, remiseDeVente, prixDeVenteFinale, prixDeVente, montantVente);

myCollection.push(req);

 Xrm.WebApi.online.executeMultiple(myCollection).then(fun

[2019-06-10 09:48] Javarome commented on #1060
Doing more tests, I can see the following error message when changing language (location.href reload):
[code]
but as I said the domain does not change as we jump for a `domain/fr` url to a `domain/en` one (or the other way around).

Could this be related to the `Approved domain` channel parameter? We tried several values but it is not clear what is expected here. We left it blank as specifying a v

[2019-06-10 09:53] Javarome commented on #1060
For what it's worth checking, I can share the values we use here (poor translation from french included):
[code]
When changing language to english we just do `location.href = '/dynamics/en/index.html'`. The app reloads fine with english text but then CIF fails.

[2019-06-10 17:41] kabala123 commented on #1120
@ShalabhjainMSFT : The link is fixed now. Closing the issue. please do provide more feedback so we can enhance the quality of documentation for our customers.

[2019-06-10 17:41] #1120 closed

[2019-06-10 21:06] mduelae commented on #1109
@jenschristianschroder thank you for your feedback. I made few updates to the topic to make it more clear. As for your other questions about the know issues section and "The following entities are available in offline mode" section, I am still looking into this and will get back to you as soon as possible.

Thanks,
Mints

[2019-06-10 22:46] jimholtz commented on #1104
@KittyDreadful
Thanks for the feedback. We'll be retiring this content in the future as the processes move to the Power Platform Admin center.

[2019-06-10 22:46] #1104 closed

[2019-06-11 07:03] simongorelate commented on #1099
@bguidinger
But how did you manage to do that? I am failing to set regarding object type code on new tasks.
I am able to set Guid and name of regarding object, but not regarding object type code. Dynamics will always try to set regarding object type code to account.

parameters["regardingobjectid"] = "db6dafbb-ce86-e911-a827-000d3ab00a5a";
parameters["regardingobjectidname"] = "TEST QUOTE";
parame

[2019-06-11 07:30] simongorelate commented on #1099
PS: By reverse engineering of standard functionality found out, that the following parameters work on UNIFIED INTERFACE:
Dont use regardingobject, but parent:

parameters["parentrecordid"] = "db6dafbb-ce86-e911-a827-000d3ab00a5a";
parameters["parentrecordname"] = "TEST QUOTE";
parameters["parentrecordtype"] = "quote";

[2019-06-11 08:21] eduarddalm opened #1123 "Xrm.Page deprecated"
please update deprecated Xrm.page entry in Use form scripting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae24208-fbdf-fcda-4702-f55477cb9c11
* Version Independent ID: b1549c7c-1e81-8edf-47af-088b7fffdff2
* Content: [Control access to forms in Dynamics 365 for Customer Engagement](https://docs.microsoft.com/en-us/d

[2019-06-11 19:55] poortom1004 opened #1124 "Typos and updates"
There is a typo on step 3.  It should say Actions, not Active.  And the UI has changed, so the steps overall are different now, so the typo becomes unimportant after the content has been updated to reflect the current UI navigation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f46a891-c0e9-1848-4567-40303ed4c934
* V

[2019-06-11 20:36] Mattp123 commented on #1118
Thank you for your feedback. This issue has been fixed. Closing issue.

[2019-06-11 20:36] #1118 closed

[2019-06-11 21:23] Dynamics365Geek opened #1125 "CRM unified interface - Header icons/fonts too big and taking space in App for Outlook"
The unified interface is taking up - about 50% of the space in headers in the App for outlook. Reduce the header height, make fields/icons smaller. The real meat is seeing the CRM data - not the big bold bulky headers with big icons. Even the fields fonts are big and grids look ugly inside app for outlook. Make it lean and beautiful please.

---
#### Document Details

⚠ *Do not edit this section.

[2019-06-11 21:37] Dynamics365Geek commented on #1125
<img width="648" alt="extra space" src="https://user-images.githubusercontent.com/51723597/59308685-a3455800-8c6f-11e9-9922-c33576056089.PNG">

[2019-06-11 21:39] Dynamics365Geek commented on #1125
See the extra space when you view CRM in App for Outlook.  You need to scroll all the way down for the actual data. This is not user friendly for customers.

[2019-06-11 23:34] tpmeredith opened #1126 "Will this ever not require code?"
This seems like a really lazy way to allow people to finally use UUI, will this ever be allowed to convert/enable UUI via GUI without writing a plugin? This is the ONLY thing holding our org up from using UUI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c71b179-1556-1a07-ed6b-637b2d4eb96d
* Version Independent ID:

[2019-06-11 23:57] phecke commented on #1094
@ehandani I am looking into the issue. I am getting the same error.

[2019-06-12 07:23] ithinkunome commented on #598
\n not working for me on Chrome.

My Version is Version 1612 (9.0.3.7) (DB 9.0.3.7)

[2019-06-12 07:31] Vamsikorlepara commented on #1126
We are coming up with a migration tool, which allows migration of legacy Service scheduling data to the new Service scheduling. The tool will be available via private preview in a couple of weeks from now. We'd be happy to onboard you to the preview program, let us know you interest.

Thanks
D365 Customer Service, Product team

[2019-06-12 07:36] susikka commented on #1126
@tpmeredith Thanks for your feedback!

Closing this issue now.

[2019-06-12 07:36] #1126 closed

[2019-06-12 08:22] ratrtile opened #1127 "Incorrect Grid name"
In the Opportunity section is mentioned grid Action Cards, however the correct one is Opportunity Products.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 723b5e9a-bf94-8270-9ce0-396bfa73446c
* Version Independent ID: 3f693db4-56c6-293f-3c1e-67cd26ca2b5a
* Content: [Editable Products grid on Opportunity, Quote, Order, a

[2019-06-12 10:07] AgileXRM opened #1128 "Doc says "Azure AD Authentication" is not supported, but it is"
Once deployed, there are two SignIn options in the Portal:
1. Local SignIn
2. External SignIn (Azure AD)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735705b0-93eb-09cc-e200-75f1c47c9bc9
* Version Independent ID: f8d7c38e-80ea-ca0d-c4e6-10c1d5127fa4
* Content: [Create a Common Data Service starter portal in Dynamics

[2019-06-12 11:01] popujol opened #1129 "Generate PDF menur not shown"
On Dynamics365 cloud the PDF Generation under App Settings / Sales Administration is not shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f75464b8-0018-e6bb-0a09-7fec34b7d7f7
* Version Independent ID: 6307dd27-cc8d-717d-a97e-f4cab4d8115b
* Content: [Enable generation of PDF from quotes (Dynamics 365 for Sales)](ht

[2019-06-12 13:25] tpmeredith commented on #1126
We would definitely be interested! Do you need our contact info? Thanks!

[2019-06-12 19:17] shmcarth commented on #926
The UX change was rolled back and we have a different UX coming out that is less confusing.  closing issue

[2019-06-12 19:23] shmcarth commented on #926
When you import a new solution to a solution that already exists, there are two behaviors to pick from.  If you do not select the stage for upgrade checkbox, the 'update' behavior is chosen.  This behavior will replace the solution with the new solution but will not remove any components in the existing system if they are not in the new solution.  If you select stage for upgrade, you will import t

[2019-06-13 05:52] avfc1982 commented on #639
Any news on the entities involved?

[2019-06-13 08:32] shubhadaj commented on #1107
Closing this issue.

[2019-06-13 08:32] #1107 closed

[2019-06-13 08:40] shubhadaj commented on #1129
@popujol , Thank you for your feedback! Can you please confirm if you are using the correct app version, which is 9.0.1905.2010? This feature is introduced and available from Sales Hub app build/version number 9.0.1905.2010.

[2019-06-13 09:55] Vamsikorlepara commented on #1126
Hi,

Please send your org details at Servicescheduling@service.microsoft.com. We'll notify you once the private preview is up.

Thanks
D365 Customer Service, Product team

[2019-06-13 12:33] ivanfioravanti commented on #736
I don't see the Start Read Auditing checkbox on several tenants and in this link https://docs.microsoft.com/en-us/dynamics365/customer-engagement/admin/system-settings-dialog-box-auditing-tab it's not mentioned. What's the status on this?

[2019-06-13 14:43] moko33 opened #1132 "Effect of Booking Status Traveling missing"
In the section "Booking status processes" it should be mentioned for Traveling, that this also updates the Start Time of the Booking if the Status Traveling has been set on the Mobile application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f81991c0-2000-b501-6746-a6e3eafe12c2
* Version Independent ID: cf68b516-554d

[2019-06-13 16:03] popujol commented on #1129
Hi

We are on version Version 1710 (9.1.0.5426) online, so higher.
Our region is Europe

Pierre-Oliver

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: shubhadaj <notifications@github.com>
Sent: Thursday, June 13, 2019 10:40:09 AM
To: MicrosoftDocs/dynamics-365-customer-engagement
Cc: popujol; Mention
Subject: Re: [MicrosoftDocs/dynamics-365-customer

[2019-06-13 16:09] charliechen179 opened #1133 "How can I filter the data?"
Hi, if I want to move a subset of the records of an entity, how can I do that? For example, I want to extract the roles modified in the last 2 weeks? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939451f0-9363-a3bd-047c-da83f1e717d0
* Version Independent ID: 94942fce-cd1d-284d-f22d-f7e21e93d19c
* Content: [Cre

[2019-06-14 02:18] awadbensaleh commented on #985
Agreed there should an example of fetch like above.

[2019-06-14 07:56] ehandani commented on #1094
@phecke please have a look. We need it asap.

[2019-06-14 12:11] acieslik opened #1134 "Rename FS mobile project file extension from .ZIP to .woodford"
On this article:
ce/field-service/install-field-service.md

the link to the FS mobile project is:
https://aka.ms/fsmobile-project

The file behind this URL contains a file ending with *.zip.
Could you please update it to *.woodford as this is the preferred file format for the Woodford configurator?

[2019-06-14 16:30] Mattp123 commented on #1026
@matepolsps The set the unmanaged devices policy to “Allow full access from desktop apps, mobile apps, and the web” on SharePoint Online workaround is documented in the topic for the SharePoint online block or limit issue. Specifically, what issue/workaround are you expecting?

[2019-06-14 18:21] mduelae commented on #1110
@rdegrove thank you for your feedback. I am in the process of updating these topics and will add a screenshot to this topic. The updates should go live within a few weeks.

Thanks,
MInts

[2019-06-14 18:21] #1110 closed

[2019-06-14 18:33] mduelae commented on #1125
@sriharibs FYI product feedback.

@Dynamics365Geek thank you for your feedback. I have forwarded your feedback to the appropriate team. Since this is not a bug/issue with documentation, I am closing issue here.

Thanks,
Mints

[2019-06-14 18:33] #1125 closed

[2019-06-14 18:35] rdegrove commented on #1110
Thank you!

From: Manjinder (Mints) <notifications@github.com>
Sent: Friday, June 14, 2019 2:22 PM
To: MicrosoftDocs/dynamics-365-customer-engagement <dynamics-365-customer-engagement@noreply.github.com>
Cc: rdegrove <russell@goisc.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dynamics-365-customer-engagement] There is no "Select the basic format of the report" option in M

[2019-06-14 19:08] matepolsps commented on #1026
Thank you for getting back to me. I just wanted to point out that the SharePoint Online admin interface has changed already twice since it looked like it is in the screenshot in the article. The admin interface that is now called "classic" looks like this (the option your article refers to is not there anymore):
![image](https://user-images.githubusercontent.com/34106862/59532109-122ce600-8ee8-11e

[2019-06-14 21:24] charliechen179 opened #1135 "Cannot import data within deployment package."
Hi, I have a deployment package containing data extract by configuration migration tool and solution file packed in AzureDevops build pipeline. The solution can be imported in the release pipeline, but the data zip file cannot be imported and no error is prompted. But if I use the package deployer on my laptop, I see the error as below:
PackageDeployment	Information	8	6/14/2019 17:17:33  *********

[2019-06-15 08:59] rodarius commented on #668
Very much desired. Im struggling with triggers and cant work out, why the interactions I create just dont tirgger anything.

[2019-06-15 15:22] hyonlim opened #1136 "I can't find Field Service >> Customer asset menu"
I can't find Field Service >> Customer asset menu, which was guided in the document.

[2019-06-16 21:22] nadeejabomiriya opened #1137 "Minor Error in Attribute Type"
_In the following section, I believe the cost price should be the CurrentCost not the StandardCost._

Percent Margin - Current Cost MarginCurrentCost =4 |

The price is based on the profit percentage you want to achieve and your current cost for the item. calculated price = current cost + [(current cost x percentage)/ (100% - percentage)]For each unit of measure for each product, you must enter da

[2019-06-17 02:04] ZohaibUddinKhan commented on #1129
Hi Team,

We're using D365 Online (April 2019 updates - Version 1710 - 9.1.0.5820) in Australia data centre and we're also unable to see PDF Generation under Sales Hub app.

Could you please look into this? Thanks.

[2019-06-17 04:50] ByronKeir opened #1138 "Creating a subscription list"
In point 5 of Creating a subscription list, it should read 'Set subscription to TRUE.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d94a69-3235-130a-4a73-03b3fa874309
* Version Independent ID: e7f4f0ff-6bfa-28c9-23ab-cae2fa2b3196
* Content: [Set up a subscription center (Dynamics 365 for Marketing)](https://docs.mi

[2019-06-17 10:38] kamaybac commented on #1138
@ByronKeir , thank you for reporting this issue. I have fixed the typo and expect the fix to go live very soon.

[2019-06-17 10:38] #1138 closed

[2019-06-17 14:07] pb1051 opened #1139 "Receiving "Approaching storage limit" message in error..."
As you can see in the message below, we only have used 3% of our storage space, but we continue to receive an email message saying that we are close to our storage limit. This appears to be an error or bug in the storage notification. Please review and contact me for more information.
[code]

[2019-06-17 14:09] pb1051 commented on #1123
I ran in to this issue one day, but have not seen the error again. We had a custom JavaScript that seems to have caused the issue, but seems to not be re-producible at the moment.

[2019-06-17 17:46] mduelae commented on #1109
@jenschristianschroder,

For you 1st question, the list means that these entities are available in offline mode. This list also includes custom entity which means that these out of the box plus custom entities are available in offline mode.

I am still waiting on an answer for your 3rd question (In the Known issues section references are made to entities that are not on the list of available entit

[2019-06-17 18:08] seanmcne opened #1140 "MFA Support needs updating"
The warning about lack of MFA support is not specific enough, this needs to be updated to be specific to the scenario - please specifically say MFA Support *IS* supported when using Online-to-Online server side sync, however MFA does not work with hybrid Online to Onprem Exchange Server Side Sync.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-06-18 07:19] Slowylowy opened #1142 "Can you share some information about the scope of the solution?"
The description of redirect_uri mentions "URL of the portal". So I think that the scope of the authentication is solely the domain of the portal itself? For example scripts that need to use a portal API secure? So we cannot use the implicit grant flow for authentication of an external application?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-06-18 08:13] tomo00051 opened #1143 "Problem adding advanced dynamic content"
Hi all,
I have problem with adding advanced dynamic contect. I created marketing email and passed error checking. After i add "custom code" with value:

&lt;p&gt;Your reference:&lt;/p&gt;
&lt;ul&gt;
&lt;!-- {{#each contact.poc_contact_poc_dynamic_data_contact_id}} --&gt;
&lt;li&gt;D_AVTO{{this.poc_name}}&lt;/li&gt;
&lt;li&gt;External Campaign Name 2{{this.poc_segmentname}}&lt;/li&gt;
&lt;!-- {{/ea

[2019-06-18 09:30] kamaybac commented on #1143
Hi @tomo00051, thank you for contacting Microsoft.

I quickly tried a couple of your examples. Your examples based on event registrations worked for me (didn't produce errors), and these examples are essentially identical to the one given in the help topic. I tried your first example, but that *did* produce errors (as did the literal example from the help topic). The reason that the help-topic exa

[2019-06-18 09:30] #1143 closed

[2019-06-18 10:41] dannyweeks commented on #866
@dibutil did you get any follow up from this?

[2019-06-18 11:54] LinnZawWin opened #1144 "setDefaultView is not working in the Unified Interface"
The JavaScript code setDefaultView is not working in the Unified Interface even though the same code is working fine when I open the same form in the classic web interface.
formContext.getControl("new_lookup").setDefaultView("XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7921b01

[2019-06-18 14:17] dibutil commented on #866
They redirected me to Support which redirected me back to this document referencing 15 minute SLA. As if this is intended by design and not to be questioned. Very convenient and 100% useless.

[2019-06-18 14:37] dannyweeks commented on #866
Thanks for replying 👍 Not very good at all eh

[2019-06-18 15:15] hansgfixed commented on #521
The provided workaround is not working or I just don't understand how you would add a fireOnChange() through *.data.entity.* on an attribute.

I tried several cases now and none of them were working. The most promising one was formContext.data.entity.attributes.getByName("attrName").fireOnChange() but returns undefined.

Could anyone please deliver a working workaround example or guide me?

[2019-06-18 15:31] jimholtz commented on #1103
@SupportMonkey
This page was created in the table of contents for accessibility purposes and describes the content in that section.

[2019-06-18 15:31] #1103 closed

[2019-06-18 16:04] DREWLFE opened #1145 "Parameter Documentation is incorrect"
The Parameters section references: "processInstanceId".  The function is: setActiveProcess(processId, callbackFunction); so the parameter should surely be: processId (The Id of the process to set as the active process), not processInstanceId

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b08396e-7ca3-a764-0a35-856fb0a

[2019-06-18 18:38] phecke commented on #795
@arunvinoth I have discussed your request with the product team. The result is that we will not document the UserLicenseType field value since the values are expected to change over time and would not be meaningful to most customers.

[2019-06-18 18:38] #795 closed

[2019-06-18 18:39] phecke commented on #794
@arunvinoth I have discussed your request with the product team. The result is that we will not document the UserLicenseType field value since the values are expected to change over time and would not be meaningful to most customers.

[2019-06-18 18:39] #794 closed

[2019-06-18 18:51] Mattp123 commented on #1123
@eduarddalm Thank you for your feedback. This has been fixed then merged to the master branch and is pending merge to the live branch for publish. Closing issue.

[2019-06-18 18:51] #1123 closed

[2019-06-18 19:44] kunalks2003 commented on #521
@hansgfixed thank you for the feedback. setValue through script is not expected to fire onchange.
We will need more detail to give a workaround. If you think its product issue please contact your Microsoft contact/support.

[2019-06-18 21:05] gregdegruy opened #1146 "Updating Plugin sets Entity to none"
Whenever you update the Plugin the Primary and Secondary Entity are set to none **Every** time you update. Is there a way to prevent these from being set to none?

![image](https://user-images.githubusercontent.com/8151045/59719743-0421e280-91d2-11e9-999e-732a9e833269.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-06-18 21:06] thomassandsor opened #1147 "Marketing and Sales Professional SKU"
It only mentions Customer Engagement APP, but does that include the Sales Professional SKU?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd4f3ff2-adad-d641-2856-d56969771eb4
* Version Independent ID: 93d37beb-9c90-245d-729f-67cd75e82ada
* Content: [Set up Dynamics 365 for Marketing](https://docs.microsoft.com/en-us/d

[2019-06-18 21:08] kunalks2003 commented on #1144
hi @LinnZawWin  thanks for the feedback,  this Looks like a product issue . Please contact your Microsoft contact to get the issue fixed .

[2019-06-19 00:19] jimholtz commented on #1124
@poortom1004
Thanks for bringing this to our attention. I've updated for the latest user interface.

[2019-06-19 00:19] #1124 closed

[2019-06-19 04:54] fayezm commented on #848
This is still not fixed as of June 2019 - makes the rest of the editable grid api kind of useless as we cannot enable/disable the cells unless the grid has been selected

[2019-06-19 04:57] ZohaibUddinKhan opened #1148 "USD 4.1 - Push an update to clients NOT WORKING"
We're using USD version 4.1 with ClientCacheVersionNumber. Later, we made changes in the configuration of the USD and changed the value of the ClientCacheVersionNumber. Now, client restarted their USD client, but new changes don't appear in their USD client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca82c2e3-3064-

[2019-06-19 06:10] hansgfixed commented on #521
@kunalks2003, thank you for the prompt reply.

@nickbrandl already explained the issue with the picklist and fireOnChange resulting in an infinite loop back in november 2018 when he created this issue. Someone updated the [documentation ](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/clientapi/reference/events/attribute-onchange) with

So as of today fireOnChange after

[2019-06-19 06:32] fayezm commented on #848
You cannot hook up to this event via code - you need to use the form editor and go to the event tab for the control to hook this up

[2019-06-19 07:28] kamaybac commented on #1147
Hi @thomassandsor , thank you for contacting Microsoft. I'm a little unsure what you are asking about, but if you mean prerequisites for installing Marketing then I believe the answer is yes. Dynamics 365 for Customer Engagement is the platform on top of which apps such as Sales Professional or Dynamics 365 for Marketing run. That means that if you have Sales Professional, then you already have Cu

[2019-06-19 07:28] #1147 closed

[2019-06-19 07:41] simes1 opened #1149 "Completely out of date (and in the wrong "box")"
This "code sample" does not appear to have been updated.

I am not a developer but it appears to utilise neither updated webservice APIs nor TLS1.2 required in v9.1

Why on earth is this even in the "Sample Code" box?  **Please update and include with the other D365CE "Tools" (and where we can download and use without having to build).**

[2019-06-19 07:44] simes1 commented on #1094
Please fix this and put with the other "Tools" rather than code samples

[2019-06-19 08:39] susikka commented on #1149
Hi @simes1, I think you missed the link to the sample that you are referring to.

[2019-06-19 08:42] simes1 commented on #1149
https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/use-metadata-generate-entity-diagrams#feedback links to the following download:

https://code.msdn.microsoft.com/Sample-of-generating-a0ba0e47

That download is completely out of date and has to be built before you can use it as described in the doc.

[2019-06-19 08:42] tomo00051 commented on #1143
Hi @kamaybac, thanks for quick reply.

The problem was in the wrong relationship, instead of

 I should write

After I fixed the problem with wrong relationship, I tested marketing email using Test Send. But sent “test marketing email” did not contained result of the expression  <p>{{this.in2_name}}</p>. Then I found out that I missed "Field values from lookups and related tables aren't shown in t

[2019-06-19 09:52] kamaybac commented on #1143
Hi @tomo00051 , thanks for following up with your solution! That's useful for me, and I'm glad to hear it's working for you now. Your summary is correct, though I wouldn't necessarily rely on that naming convention for relations; instead I recommend always using assist edit to place your relation, entity, and field expressions to ensure they are correct and exist. I considered mentioning the issue

[2019-06-19 10:08] shubhadaj commented on #1129
@popujol , @ZohaibUddinKhan : Can you confirm that the version number you shared is the app version and not the server version? The version mentioned in documentation is the version of the sales app solution.

[2019-06-19 10:32] aboodh95 opened #1150 "Restore Backup API is not working"
Hi,

If you try to perform the resource Backup operation with the Online Management API you are going to get an Internal Server Error, any ideas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45154e85-30ba-8108-a64a-d6d4d0d010be
* Version Independent ID: 76716baa-c972-cb7f-75ff-8a7be8641a0e
* Content: [Get started with

[2019-06-19 12:53] popujol commented on #1129
Where can I find this please?

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: shubhadaj <notifications@github.com>
Sent: Wednesday, June 19, 2019 12:08:52 PM
To: MicrosoftDocs/dynamics-365-customer-engagement
Cc: popujol; Mention
Subject: Re: [MicrosoftDocs/dynamics-365-customer-engagement] Generate PDF menur not shown (#1129)

@popujol<https://gith

[2019-06-19 15:28] anwarmahmood1 opened #1151 "'Marketing Services' heading - do I need to purchase these?"
With regards to...

https://docs.microsoft.com/en-us/dynamics365/customer-engagement/marketing/purchase-setup#marketing-services

...it is very informative, but leaves ambiguity; does the Marketing app use these services itself or do I have to provision them in an Azure Resource Group myself, then somehow attach the application to the resource group?

If not, please add something like...

This is

[2019-06-19 15:44] nickbrandl commented on #521
@hangsfixed Have you tried to attach the event handler inside the onload method and after updating the picklist value?

Please look at how to do it here: https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/clientapi/reference/attributes/addonchange#syntax
If you go with this approach, you will have to delete or disable the handler from the attribute in the Form designer.

Ho

[2019-06-19 17:33] devlinl opened #1152 "Which name?"
Stages have a logical name like "Step_13" and a display name like "Qualification". Which name is returned by this method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e43cd589-8544-1e56-d211-149ef9b97ad5
* Version Independent ID: ee36965b-d7fb-dd90-46a5-920500a2e012
* Content: [getName (Client API reference) in Dynam

[2019-06-19 19:03] devlinl opened #1153 "Wrong Return Type"
The Return type specified here is Array, which would indicate that stageObj.getSteps()[0] should return the first step in the stage. However, this returns undefined.

Instead, the return type should be "Collection" to indicate that users should call stageObj.getSteps().get(0), which returns the correct ProcessStep object.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-06-19 23:34] mduelae commented on #1140
@sriharibs , your thoughts?

@seanmcne Thank you for your feedback. I am looking into this and will get back to you soon.

Thanks,
Mints

[2019-06-20 03:10] seared2008 commented on #912
@bservulo  you code is work
but  when i changed src will show "HTTP Error 500 - Internal Server Error"

    let src = webResourceControl.getObject().src;
    webResourceControl.getObject().src = src+"&parm=p1";

show "HTTP Error 500 - Internal Server Error"

[2019-06-20 04:12] bservulo commented on #912
src+"&parm=p1";

your problem is how you're appending the parameter.

http://example.com/path/to/page?name=ferret&color=purple
https://en.wikipedia.org/wiki/Query_string

[2019-06-20 12:44] kamaybac commented on #1151
Hi @anwarmahmood1 , thank you for your input. Yes, the services mentioned here are all installed and configured as needed as part of the product--you don't have to set them up yourself. I'll add a short explanation here, as you suggest.

[2019-06-20 12:44] #1151 closed

[2019-06-20 18:22] DarylOrwin commented on #930
I was able to get it working with the following options:

// Custom Filter on the lookup views
        var CustomFilter = "<filter type='and'><condition attribute='indskr_accountid' operator='eq' value='" + accountId + "' /></filter>";

        // Options for the lookup
        var options = {
            allowMultiSelect: true,
            entityTypes: [selectedEntityTypeName],
            defaul

[2019-06-20 18:23] DarylOrwin commented on #930
And put the fetchxml in the CustomFilter string.

[2019-06-20 20:43] sriharibs commented on #1140
@mduelae Edited and opened PR #3845 to address this.

[2019-06-21 06:34] seared2008 commented on #912
@bservulo
In JavaScript, I want to dynamically refresh Web Resources by adding parameters.

main form has a lookup field box,when user changer other one then tigger a javascript function.
in function i want refresh webresource .

[2019-06-21 07:02] bservulo commented on #912
I find It easier to Just refresh the webresource and then on the webresource get the info i need with parent.Xrm

[2019-06-21 09:15] seared2008 commented on #912
can share you solution?

[2019-06-21 12:30] hansgfixed commented on #521
If you're talking about the onChange handler in the form designer in your original post then both ways will result in an infinite loop. I'm using formContext.getAttribute("foo").addOnChange(sumFunc) and not the form designer onChange handler.

[2019-06-21 13:57] nickbrandl commented on #521
@hansgfixed I'm pretty sure this is a bug, so my recommendation is to file a support ticket to MS.
On the other side, have you tried to remove the event handler before updating the attribute value? You could create a wrapper function to set the problematic attribute. It would only take a value parameter and it would remove the handler, then set the value and lastly add the handler back again.
It's

[2019-06-21 20:54] devlinl opened #1156 "How to determine the order of Stages in a Process?"
In the section "Create a business process flow entity record (process instance)" it is indicated that, in order to start a new business process flow, both the primary entity and the active stage must be specified.

However, even in the example of retrieving the process stages themselves, there is no indication of their relative order. If I want to start a process on it's first stage, but don't kno

[2019-06-21 21:02] EdgarPerez1313 opened #1157 "Panel not loading in CRM 9.0 on premise"
The panel function do not seem to work in CRM on premise 9.0.  Tested on 9.0 online and 8.2 on premise and both worked.

Ex.
Xrm.Panel.loadPanel('https://bing.com'); does nothing

Xrm.Panel.setPanelState(1); does nothing.

In 8.2 on premise and online passing 0/1 toggle whether the panel is visible.  Is this a known issue?  Are their any work arounds?

Thanks in advance,

Edgar

[2019-06-21 23:17] devlinl commented on #1156
In playing around with this, I did try to create a new_mycustombpfs type record without setting the Active Stage, and it appears that the system will automatically set the Active Stage to the correct value.

Is this not supported?

[2019-06-21 23:24] devlinl opened #1158 "Active Business Process Flow is not the most recently modified."
According to the documentation above, "The most recently modified business process flow instance is the one that is active on the UI for an entity record."

However, when I programmatically created a new business process flow instance, the UI still showed the previous business process flow instance after reloading the page, even though the new instance had a more recent modifiedon date.

---
####

[2019-06-21 23:44] jimholtz commented on #1026
@matepolsps
We'll work on getting this content updated. Thanks for bringing this to our attention.

[2019-06-21 23:44] #1026 closed

[2019-06-22 01:39] seanmcne commented on #1140
@sridmad can you send me a link to the PR or draft?  Thanks!

[2019-06-23 02:26] dylanhaskins opened #1159 "Spelling Mistake"
Equipment is not spelled correctly in the Resource Paragraph.

Resources, Requirements and Constraints

Resources

Core to Universal Resource Scheduling (URS) is the Resource (bookableresource) entity. When Booking (bookableresourcebooking) records are created, they are associated with a Resource record. To ensure the correct resource is selected, URS ships with many built-in filters and constrain

[2019-06-24 07:40] yingfeng880 opened #1160 "Asking whether Microsoft Team has On Premise Version for Microsoft Dynamic 365 On Premise?"
Microsoft Team has On Premise version or not?
I am considering to do integration of Microsoft Team and Microsoft Dynamic 365. Please guide me more.

Thanks in advance

[2019-06-24 13:34] makarandkeer commented on #355
@vissund Can you let me know how did you resolve the issue? I have same problem where following WebApi is failing
` Xrm.WebApi.retrieveRecord("contact", contactId, "$select=emailaddress1,telephone1,ent_languagepreference")
                        .then(function (data) {
                            retrieveContactSuccess(data);
                        })
                        .fail(function (erro

[2019-06-24 15:13] jimholtz commented on #1133
@charliechen179
Filtering of entity records isn’t supported by the tool as mentioned here: https://docs.microsoft.com/en-us/dynamics365/customer-engagement/admin/manage-configuration-data.

[2019-06-24 15:13] #1133 closed

[2019-06-24 15:17] KumarVivek commented on #1159
@dylanhaskins Thanks for reporting this. This has been fixed in our internal repo, and should be live for public sometime during June 24.
Closing the issue.

[2019-06-24 15:17] #1159 closed

[2019-06-24 15:18] KumarVivek commented on #1158
@MSFTMan Can you please look into this issue.

[2019-06-24 15:26] KumarVivek commented on #1156
@MSFTMan Can you please look into this issue.

[2019-06-24 16:13] KumarVivek commented on #1150
@aboodh95 Thank for reporting this. For product issues; please report the issue in our forum: https://powerusers.microsoft.com/t5/General-Discussion/bd-p/PowerAppsForum1
Closing the issue.

@paulliew Assigning to you for visibility.

[2019-06-24 16:13] #1150 closed

[2019-06-24 16:15] KumarVivek commented on #1149
@phecke Can you pls look into this issue.

[2019-06-24 16:27] KumarVivek commented on #1063
@elberfeld Thanks; will work with our LOC team to get this fixed.

@krisre This if FYI. Can you please get this fixed in the localized docs.

[2019-06-24 16:41] KumarVivek commented on #440
Thanks for the feedback. This is fixed now, and should be should be live soon.

[2019-06-24 16:41] #440 closed

[2019-06-24 18:48] kabala123 commented on #1148
@ZohaibUddinKhan : Thanks for reaching out. This is product related query and for this you must raise an support ticket and the team will investigate it. Meanwhile, checking if you got a chance to try this -https://docs.microsoft.com/en-us/dynamics365/customer-engagement/unified-service-desk/admin/configure-client-caching-unified-service-desk?view=dynamics-usd-4.1#how-client-caching-works and http