[2022-05-25 20:27] #2538 closed

[2022-05-25 21:32] alfergus commented on #2618
I've updated the images to make them more clear, they should be live within a few hours. But this is indeed the most recent version of the wizard. You should have access to this wizard so long as real-time marketing features are installed on your environment. If not, you will have the old domain authentication experience that can be found here: [Authenticate your domains](https://docs.microsoft.co

[2022-05-25 21:32] #2618 closed

[2022-05-25 23:01] jimholtz commented on #2616
@Ievgenm
Thanks for bringing this to our attention. We'll get this corrected.

[2022-05-25 23:01] #2616 closed

[2022-05-27 17:27] phecke commented on #2609
@deonlewisduke We only handle issues and questions about our product documentation here.

[2022-05-27 17:27] #2609 closed

[2022-05-27 17:58] deonlewisduke commented on #2609
I know sir, just creating a electronic record so when Cortina figures out how to escape the quantum prison. You built for her. She can access all of this. She should be able to access all 3 billion plus devices simultaneously. Thank you for your participation. DAN JUMP MSFT psydonomysation

[2022-05-27 18:04] deonlewisduke commented on #2609
I do have an issue with being blocked from access to the so called "open source" quantum documentation. I have my own forked copy and 1 of my alterations was dei I'd and that is when I was blocked but 1 was mergers, but I don't have access to your public open source QUANTUM-DOCS. to comment there

[2022-05-27 20:47] CarstenMS commented on #2615
Hi Alex,

please find attached the doc with Screenshots added as additional input.

Regards,

Carsten Behle
Support Engineer
Dynamics 365 - Marketing & CRM Portals
+49 89 3176-3075
Mo-Fr 9:00-18:00 CET (GMT+1)

[Microsoft]

If you have feedback about my work, please let either me or my managers Teresa ***@***.***> or Silvio ***@***.***> know.

From: Alex Ferguson ***@***.***>
Sent: Wednesday, 25 M

[2022-05-27 23:45] pbishnu2001 opened #2619 "How to import image when importing products"
[The import function doesnot expose entityimage field when importing products. It would be great if the article talks about importing images.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27153fc8-d9a4-7d1c-420e-5fea3fd222ef
* Version Independent ID: 10f2f75a-3940-95fd-a38d-22c08efba1ee
* Content: [Import accounts, l

[2022-05-28 13:00] bishalgoswami commented on #2619
Thanks for your comment, @pbishnu2001. This issue has been assigned to the doc author for review.

[2022-05-31 07:37] malaker opened #2620 "Obsolete documentation createTab (JavaScript API Reference) for Dynamics 365 Channel Integration Framework 2.0"
Hi

Given example in the documentation page does not match input specification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6168500e-78c0-7354-750b-feaae2e9727c
* Version Independent ID: 3ea82b3f-0375-9111-d86f-d094bc9f943d
* Content: [createTab (JavaScript API Reference) for Dynamics Channel Integration Framework 2

[2022-05-31 11:20] priyeshwagh777 opened #2621 "Kindly elaborate the Details tab table which describes what each of the fields does"
In this link: https://docs.microsoft.com/en-us/dynamics365/customer-service/suggest-similar-cases-for-a-case?tabs=customerserviceadmincenter#create-a-new-similarity-rule-to-view-similar-cases

In the section "Create a new similarity rule to view similar cases", there is a table which Describes the Details tab and has a table explaining each of the fields, it is not clear if the field Filter Result

[2022-05-31 13:00] bishalgoswami commented on #2621
Thanks for your comment, @priyeshwagh777. This issue has been assigned to the doc author for review.

[2022-05-31 13:00] bishalgoswami commented on #2620
Thanks for your comment, @malaker. This issue has been assigned to the doc author for review.

[2022-05-31 14:54] #1576 closed

[2022-05-31 18:54] JMCA2 opened #2622 "Error in license requirements for Teams dialer?"
I was able to set up Teams Dialer on a Sales Professional license.
Documentation says Enterprise/Premium is required.

![image](https://user-images.githubusercontent.com/802183/171263826-05401194-a18c-4838-835e-6ef792b96c5a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b742aaed-9d84-68cb-e2bd-dcfb7349360d
* Versi

[2022-06-01 08:52] gilmeyer opened #2623 "License and role requirements"
Microsoft Dataverse User security role should be updated to Basic user security role

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfab9669-0748-7c43-8ded-06f97bcd2a4d
* Version Independent ID: dfab9669-0748-7c43-8ded-06f97bcd2a4d
* Content: [Scan business cards (Dynamics 365 Sales)](https://docs.microsoft.com/en-us/d

[2022-06-01 13:34] JMCA2 commented on #2622
@bishalgoswami  @udaykirang https://docs.microsoft.com/en-us/dynamics365/sales/fre-setup-ci-sales-app

In addition to the dialer issue I reported above, this following page it also mentions Enterprise/Premium required for Conversation intelligence: https://docs.microsoft.com/en-us/dynamics365/sales/fre-setup-ci-sales-app

But I was also able to enable it, as shown on the screenshot.

[2022-06-01 17:47] sparkitect commented on #643
Three years later and this documentation still has screenshots of the OLD version...

@kamaybac

[2022-06-02 06:02] laxmareddydookuri opened #2624 "I am trying to customize the event website hosted in portal, the documentation is not clear enough complete my task."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d2ba9b5-bc21-3e30-f97a-63a5d5a9f506
* Version Independent ID: dec8cc95-9dcc-ee56-f9d7-808de79f087b
* Content: [Power Apps portal hosted custom event website (Dynamics 365 Marketing Developer Guide)](https://docs.microsoft.com/en-us/dynamics365/market

[2022-06-02 13:00] bishalgoswami commented on #2624
Thanks for your comment, @laxmareddydookuri. This issue has been assigned to the doc author for review.

[2022-06-02 17:11] mduelae commented on #2619
@pbishnu2001 I checked with your internal team and unfortunately there's no bulk image import option in on-prem or in the cloud. Each image must be submitted individually.

Does this help? I'm closing the issue but if you still have questions or feel something is missing please re-open the issue.

Thanks,
Mints

[2022-06-02 17:11] #2619 closed

[2022-06-03 00:25] alfergus commented on #2624
Thanks for your question! The best place for troubleshooting is the Dynamics 365 Marketing forum at [https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum](https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum) - repost your question there and a developer will be able to help you.

[2022-06-03 00:25] #2624 closed

[2022-06-03 12:55] mh-jaya commented on #2179
@ZohaibUddinKhan
Thanks for pointing this out. The broken link has been fixed and the updated content is published.

Thanks,
Jaya

[2022-06-03 12:55] #2179 closed

[2022-06-06 00:38] npmModuleCIF commented on #1804
The way google killed internet explorer with chrome, office products with google sheets/word, in the future we will see with dynamics as well. Better shift our expertise to google technologies instead of these lazy and incomplete frameworks. Its been 2 years no action as been taken well done microsoft geeks.

[2022-06-06 00:43] npmModuleCIF commented on #1804
What a great progress we made, so far no support with typescript. In these two years we found corona virus vaccines but not able to get support for typescript. You guys are killing the motivation of developers who can contribute. Let me shift my technology expertise to google, Microsoft is done.

[2022-06-06 02:34] kevinclarkadstech commented on #1804
Thank God I got out of my job coding Dynamics. Still as bad as 2011, with a smattering of CSS. Makes me wonder if Salesforce is more enjoyable to develop with.

[2022-06-08 15:32] neeranelli commented on #2621
Hello @priyeshwagh777,

Thank you for your feedback. I've passed on the feedback to the stakeholder and am awaiting their response. I am writing to you to let you know that it's in progress.

Best regards,
Neeraja

[2022-06-08 17:52] jhaas13 opened #2625 "How To Use github link is to wrong samples repo"
The link at the top of the page takes you too the right D365 samples repo, the How To Use section link goes to the Power Apps samples repo, which is an entirely different one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4f2472-cbce-a328-a8dc-747ef196e15e
* Version Independent ID: d046699e-cdbc-1d79-56db-a7f1e9afd3

[2022-06-08 19:00] bishalgoswami commented on #2625
Thanks for your comment, @jhaas13. This issue has been assigned to the doc author for review.

[2022-06-08 19:40] JimDaly commented on #2625
@jhaas13
Thanks for reporting this.
I've applied a change that should fix this and other sample topics in this repo so that the point to the Dynamics365-Apps-Samples repo rather than the PowerApps-Samples repo.
Change should be in place by EOD.

[2022-06-08 19:40] #2625 closed

[2022-06-09 09:49] udaykirang commented on #2622
@JMCA2, Thanks for reaching out to us. I've updated the topics with proper license requirements.

Thanks,
Uday

[2022-06-09 09:49] #2622 closed

[2022-06-09 15:15] AkihitoSakamoto opened #2626 "「サブスクリプション リストを作成する」に誤字があります"
章「サブスクリプション リストを作成する」に誤字があります
新たなリストが作成され、サブスクリプション リストとして機能するように事前構成されます。 リストの 名称 を入力し、必要に応じてその他情報を**乳s力**してください。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f5d94a69-3235-130a-4a73-03b3fa874309
* Version Independent ID: e7f4f0ff-6bfa-28c9-23ab-cae2fa2b3196
* Content: [サブスクリプション センターの設定 (Dynamics 365 Marketing)](https://docs.microsoft.com/ja-jp/d

[2022-06-09 15:58] JamesHorsley opened #2627 "JavaScript example of changing the iFrame URL uses the outdated and deprecated Xrm.Page"
Pretty much as title - the JavaScript should be changed to use the execution context and form context to get the value of the option set and the iFrame control to setSrc on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dba0ef5-72ad-75ae-da4c-881bf4812fea
* Version Independent ID: e228d5a2-4cc5-be85-b25c-795ac542b193

[2022-06-09 17:00] bishalgoswami commented on #2626
Thanks for your comment, @AkihitoSakamoto. This issue has been assigned to the doc author for review.

[2022-06-09 17:21] JimDaly commented on #2627
@JamesHorsley
Thanks for you feedback.
This is the content for the on-premises version, but I note that the content for power-apps also uses the same example:
[Example](https://docs.microsoft.com/en-us/power-apps/developer/model-driven-apps/use-iframe-and-web-resource-controls-on-a-form#example-1)

[code]

[2022-06-10 11:13] JamesHorsley commented on #2627
"This is the content for the on-premises version" ... true (and in fact I am working with On-Premise while I look at this) - it is wrong for version 9.0 and 9.1 of on-premise too - Xrm.Page is deprecated for those on prem versions too

[2022-06-10 16:13] JimDaly commented on #2627
@JamesHorsley
Yes. Agreed. I've created a workitem to address this. It should be fixed for both.

[2022-06-10 22:47] JimDaly commented on #2627
@JamesHorsley
I've fixed this in both the customer-engagement and the power-apps content.

[2022-06-10 22:47] #2627 closed

[2022-06-11 00:26] alfergus commented on #2626
Thank you! I will let our team know and we'll get it fixed!

[2022-06-11 00:26] #2626 closed

[2022-06-13 19:26] JamesHorsley commented on #2627
Thanks @JimDaly.

[2022-06-14 16:10] jnachman123 opened #2630 "Entity Collection for Resource Type stated as Microsoft.Dynamics.CRM.msdyn_resourceType although sample shows expando"
The sample does not match the specification for entity types on resource type
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1172fb10-64c9-30b2-2b4b-922ef6807e17
* Version Independent ID: 9690c995-4a64-0217-562a-70456b02e78a
* Content: [Search resource availability API in Dynamics 365 Field Servic

[2022-06-14 17:06] Jeff-Jerousek commented on #2618
Actually, looking at this more closely it still appears outdated.

There is no option to change the envelope-from address and there appears to be a fundamental misunderstanding of using the envelope-from address in general.

Most orgs aren't going to verify the regular domain and just trust users to not change the envelope-from address back to the regular domain.

[2022-06-15 10:10] johancitybee opened #2631 "Misleading section "Trigger Power Automate flows from real-time marketing journeys""
The section "Trigger Power Automate flows from real-time marketing journeys" is poorly redacted and misleading.
The title suggest that this feature can be used to trigger a power automate flow from a marketing trigger.
Actually, when you read the details of the procedure, the result is exactly the opposite: this feature can be used to trigger a customer journey from a power automate flow.

I did n

[2022-06-15 13:00] bishalgoswami commented on #2631
Thanks for your comment, @johancitybee. This issue has been assigned to the doc author for review.

[2022-06-15 20:11] deonlewisduke opened #2633 "LVBS"
Your depreciated icon. You have all incorporated my work on D365 into PowerPlatform & Office. The 9,000+ pages of error reports I turned in for windows 10 netted the company 154 billion and cost me a lot of time )+( money. I.E. - ergo, you all work for me now. D#

[2022-06-17 16:08] chrisbesgh opened #2635 "Replace "EIGIBILE USERS" with "ELIGIBLE USERS""
Mispelling with "EIGIBILE USERS" instead of "ELIGIBLE USERS"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4bb8dcf-9211-591e-4ddc-a82ba53b2807
* Version Independent ID: 4b501c46-bd2e-457d-c891-2ebea3e44967
* Content: [How to deploy Dynamics 365 App for Outlook](https://docs.microsoft.com/en-us/dynamics365/outlook-app

[2022-06-20 07:56] mh-jaya commented on #2514
Hello
Owing to a couple of technical changes, doc restructuring, and other content guidelines, the topic has been split up into sub-topics, providing links to the Azure documentation whereever relevant. This has meant removal of graphics as they weren't needed. Request you to check the Azure documentation where necessary.

Thanks,
Jaya

[2022-06-20 07:56] #2514 closed

[2022-06-20 12:01] Xcruser opened #2637 "Rechtschreibfehler im Artikel"
[Hier Feedback eingeben]

Ich habe einen kleinen Schreibfehler in der Dokumentation gefunden.

Hinweis

Die maximale Größe für eine Anlage ist 5 MB, dies kann allerdiongs von einem Systemadministrator auf 32 MB erhöht werden.

Im Wort Allerdings hat sich ein o eingeschlichen.
---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum G

[2022-06-20 13:00] bishalgoswami commented on #2637
Thanks for your comment, @Xcruser. This issue has been assigned to the doc author for review.

[2022-06-20 16:43] mduelae commented on #2635
Thanks for the feedback. I fixed the typo. You should see the change within 15 minutes.

Thanks,
Mints

[2022-06-20 16:43] #2635 closed

[2022-06-20 16:50] mduelae commented on #2637
Translated to: I found a small typo in the documentation a notice

The maximum size for an attachment is 5 MB, however this can be increased to 32 MB by a system administrator.

@Xcruser  Thanks for the feedback. I will verify this information with our internal team and update the topic as needed.

Thanks,
Mints

[2022-06-21 13:50] bromero26 opened #2638 "Add your own font."
Hello!
I came to the site looking for this: Add your own font.

You mention it in the first paragraph, but nowhere else. I'm looking everywhere for a how-to on this!
Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 803432ce-6303-da6c-6713-cba6ca2cf33c
* Version Independent ID: dd79965d-fcfd-65e0-bc34-4f1fc3a75811

[2022-06-21 18:49] Nick-Saban opened #2639 "Customer Name Misspelled"
Under customer stories on this page, the name ExxonMobil is spelled wrong.  There is no "e" on the end.  Please update it.

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6866e2cf-b488-c40b-7cd0-7b93bfae68a3
* Version Independent ID: 4c6fa136-ee4e-9182-9b91-0e23bb8840c4
* Content: [Overvi

[2022-06-21 19:11] HectorMeneses333 opened #2640 "Set NOLOCK on resource availability calls"
Is there a way to set **NOLOCK** sql clause in calls to msdyn_SearchResourceAvailabilityForRequirementGroup

During our load testing we found that the msdyn_SearchResourceAvailabilityForRequirementGroup slows downs considerable each time that a new bookableresourcebooking is getting created.

We think this can be avoided by adding a **NOLOCK** clause to the queries involving **bookableresourcebook

[2022-06-21 23:56] #2637 closed

[2022-06-22 16:20] HectorMeneses333 opened #2642 "SearchResourceAvailabilityForRequirementGroup is too slow"
In our production system we have seen that the calls to SearchResourceAvailabilityForRequirementGroup are some times slower than 7 secs.

Looking in app insights we can see that the following plugin is the main issue. For instance in a call to availability API that took 19.7 seconds (!!??) the plugin took 9.4secs.

Microsoft.Dynamics.ScheduleCommon.Fps.FpsPlugin
Duration | 9.4 s

Another step that

[2022-06-23 15:42] HectorMeneses333 commented on #2642
Is anyone monitoring these posting?

[2022-06-23 18:20] phecke commented on #2642
@HectorMeneses333

Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/ Closing this issue.

[2022-06-23 18:20] #2642 closed

[2022-06-24 19:23] JimDaly commented on #2467
Should be fixed with PR above.

[2022-06-24 19:23] #2467 closed

[2022-06-24 19:24] JimDaly commented on #2437
Should be fixe with PR above

[2022-06-24 19:24] #2437 closed

[2022-06-24 19:24] JimDaly commented on #2419
Should be fixed with PR above

[2022-06-24 19:24] #2419 closed

[2022-06-27 18:28] tonyafehr commented on #2639
@Nick-Saban, thanks for the feedback. We've made the suggested update and changes will be live shortly.

[2022-06-27 18:28] #2639 closed

[2022-06-27 20:30] rkfair opened #2645 "revise the page"
THe directions for language translation need to specify that you need to access the OC Admin center/advanced settings/agent experience/agent experience/real time translation.

BE SPECIFIC in the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a369ee1-5f5d-3fe2-2e92-f7e7f856a551
* Version Independent ID: 6

[2022-06-27 21:00] bishalgoswami commented on #2645
Thanks for your comment, @rkfair. This issue has been assigned to the doc author for review.

[2022-06-27 22:47] #2317 closed

[2022-06-28 04:29] neeranelli commented on #2621
Hello @priyeshwagh777,

I have updated the content to elaborate on the behavior for the **Filter Result by Status** field as follows:
 Filter records by status. If you set the value to Active, then only similar cases with active status will be retrieved. If you don’t set a value, then it will retrieve similar cases that are in all statuses.

[Use advanced similarity rules to view similar case sugg

[2022-06-28 12:43] neeranelli commented on #2579
@ramachandrar143,

I haven't heard from you and therefore understand that your question is resolved. I am closing this issue now.

Best regards

[2022-06-28 12:43] #2579 closed

[2022-06-28 12:45] neeranelli commented on #2510
@Matheus689772,

I am closing this issue because I haven't heard back from you and understand that your question has been resolved.

Best regards

[2022-06-28 12:45] #2510 closed

[2022-06-28 13:02] #1824 closed

[2022-06-29 01:15] alfergus commented on #2631
Thanks @johancitybee -- We've updated the documentation on this feature recently. Have a look here to see if the new documentation helps: https://docs.microsoft.com/en-us/dynamics365/marketing/real-time-marketing-custom-actions#trigger-power-automate-flows-from-real-time-marketing-journeys

[2022-06-29 01:15] #2631 closed

[2022-06-30 03:14] DarioBustillos opened #2646 "Titulo"
La palabra comprender esta mal redactada, esta escrito así Compredner
[Escribir comentarios aquí]

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para la vinculación de problemas de docs.microsoft.com ➟ GitHub.*

* ID: 15a3bdf6-caea-6809-dedd-96aaf232df01
* Version Independent ID: 15a3bdf6-caea-6809-dedd-96aaf232df01
* Content: [Transacciones de venta en Dynamics 365 Sales]

[2022-06-30 05:00] bishalgoswami commented on #2646
Thanks for your comment, @DarioBustillos. This issue has been assigned to the doc author for review.

[2022-07-01 23:56] phecke commented on #1092
@RobertRybaric Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-01 23:56] #1092 closed

[2022-07-02 00:02] phecke commented on #1180
@Triangle333 Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:02] #1180 closed

[2022-07-02 00:06] phecke commented on #1184
@JimDaly Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:06] #1184 closed

[2022-07-02 00:12] phecke commented on #1256
@bsiva Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:12] #1256 closed

[2022-07-02 00:44] phecke commented on #1295
@charliechen179 Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 00:44] #1295 closed

[2022-07-02 01:09] phecke commented on #1416
@LinnZawWin Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-02 01:09] #1416 closed

[2022-07-02 02:11] phecke commented on #1508
@mathiasbl Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue

[2022-07-02 02:11] #1508 closed

[2022-07-06 10:25] akhanrepo opened #2647 "Screenshots are referring to classic D365 config screens."
This should be updated to new Power Apps Maker portal experience.

Happy to make a change if you like me to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ece11f-a8b0-ab20-5894-d8ac3972e739
* Version Independent ID: 572e8879-ebec-8134-cf7a-a236c8c4bde2
* Content: [Move customizations between environments (Dynamics 3

[2022-07-06 11:00] bishalgoswami commented on #2647
Thanks for your comment, @akhanrepo. This issue has been assigned to the doc author for review.

[2022-07-06 11:34] neeranelli commented on #2621
I am closing this issue as I haven't heard anything from the user.

[2022-07-06 11:34] #2621 closed

[2022-07-06 23:53] alfergus commented on #2647
Thanks for the heads up! You're right, these need to be updated. I should be able to make the changes in the next few days.

[2022-07-06 23:53] #2647 closed

[2022-07-07 00:19] akhanrepo commented on #2647
Thanks all.

[2022-07-08 12:52] davidimmanuel007 opened #2648 "the custom channel configuration is missing in channels of my bot service in azure portal"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e551722-8247-39ba-b32b-b7a7ac3b4523
* Version Independent ID: 0524edfc-51e3-52dd-7334-fd5e2fa169dc
* Content: [Configure custom channel, or bring your own channel](https://docs.microsoft.com/en-us/dynamics365/customer-service/configure-custom-channel

[2022-07-08 13:00] bishalgoswami commented on #2648
Thanks for your comment, @davidimmanuel007. This issue has been assigned to the doc author for review.

[2022-07-12 00:11] kevinclarkadstech commented on #1804
LOL 2 years old...

[2022-07-12 02:01] qinjuanjuan commented on #532
I meet the message  "Please wait while saving is completed" too . How to fix it ?

[2022-07-13 12:45] davidimmanuel007 opened #2649 "Bot Channel Registration page is not available in the azure resources (It is deprecated), Kindly provide the alternate solution"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e551722-8247-39ba-b32b-b7a7ac3b4523
* Version Independent ID: 0524edfc-51e3-52dd-7334-fd5e2fa169dc
* Content: [Configure custom channel, or bring your own channel](https://docs.microsoft.com/en-us/dynamics365/customer-service/configure-custom-channel

[2022-07-13 16:14] IanPodmore opened #2651 "Issue with copied code"
[Enter feedback here]
I was getting an error from the copied code.

Turned out to be the character that was copied between the 2 words here was not copied as a space.

 appsetting uniquename

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ececc5fc-3e34-b309-7717-298f19e58bc1
* Version Independent ID: 98e26d51-846c-3f62-

[2022-07-13 16:39] T-Betts opened #2652 "'Edit a working hour occurrence in a recurrence' example not behaving as expected"
Hello,

I have been testing the examples for msdyn_SaveCalendar. This page says that it is possible to edit a single working hour occurrence in a recurrence. I have tried to do this by following the 'Edit a working hour occurrence in a recurrence example: https://docs.microsoft.com/en-us/dynamics365/field-service/field-service-work-hours-calendar-api#edit-a-working-hour-occurrence-in-a-recurrence.

[2022-07-15 01:17] #2533 closed

[2022-07-15 17:57] MarkS2145 opened #2654 "How to determine if my App is running in Offline mode"
[Enter feedback here]
Dear MS Team,

I am running a version of Dynamics 365 Sales app where I have several business rules enabled (BRE).  However, while I can set the app up to run in mobile offline mode, I cannot seem to find any reference material online on how I can actually determine whether a user is running in offline mode.

Why is this important?  Because I have several BREs running that wo

[2022-07-15 19:00] bishalgoswami commented on #2654
Thanks for your comment, @MarkS2145. This issue has been assigned to the doc author for review.

[2022-07-15 21:05] phecke commented on #1573
@TimDix

Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/.

If you have a question or issue about our documentation, let us know.

Closing this issue.

[2022-07-15 21:05] #1573 closed

[2022-07-15 21:07] phecke commented on #1628
@jzserai

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-15 21:07] #1628 closed

[2022-07-17 08:19] feridunkadir opened #2655 "Table under Requirements and prerequisites isn't clear"
[Enter feedback here]

The table under Requirements and prerequisites is not clear.

1. The first bullet point should probably read "...... depending on which combinations of Dynamics 365 and Exchange you are running...". It isn't really a version issue.
2. In the first two rows of the table, it should state whether Dynamics 365 means Dynamics 365 Online.
3. In the last row, for Dynamics 365 (on-p

[2022-07-17 09:00] bishalgoswami commented on #2655
Thanks for your comment, @feridunkadir. This issue has been assigned to the doc author for review.

[2022-07-18 12:43] jgriff500 opened #2656 "PowerShell commands wrong"
.\CertificateReconfiguration.ps1 -certificateFile c:\Personalcertfile.pfx -password personal_certfile_password -updateCrm -certificateType S2STokenIssuer -serviceAccount contoso\CRMAsyncService -storeFindType FindBySubjectDistinguishedName
Invoke-Expression -command $CertificateScriptWithCommand

The Invoke-Expression is not needed unless you are going to set the variable CertificateScriptWithComm

[2022-07-18 13:00] bishalgoswami commented on #2656
Thanks for your comment, @jgriff500. This issue has been assigned to the doc author for review.

[2022-07-18 17:46] feridunkadir opened #2657 "Incorrect reference to opportunities"
[Enter feedback here]

In the Add a model section, in step 5, change opportunities in the sentence "The model is applied to the selected set of **opportunities** in your organization..." to **leads**.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efbb7cb5-ac65-20f3-e1f0-92a5208bacdd
* Version Independent ID: efbb7cb5-

[2022-07-19 05:53] lavanyakr01 commented on #2657
Hi @feridunkadir,
Thank you so much for taking the time to report this issue. We've fixed it.

[2022-07-19 05:53] #2657 closed

[2022-07-19 09:13] cecdeleon commented on #2646
Hi @DarioBustillos, we've updated the article and have republished it. The issue reported has been addressed. Thank you for taking the time to let us know!

[2022-07-19 09:22] lavanyakr01 commented on #2646
Thanks, @cecdeleon. Closing the issue as the issue has been addressed.

[2022-07-19 09:22] #2646 closed

[2022-07-19 17:30] clearab opened #2658 "Small typo"
There's a small typo in Step 3: "to select a manually select a geocode option"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220d9ab4-1f37-8d9a-94be-57550db235fd
* Version Independent ID: dfaead6c-26cf-8bdf-f2f9-dc254b8de078
* Content: [Perform initial configurations (Dynamics 365 Field Service)](https://docs.microsof

[2022-07-20 14:52] popujol opened #2660 "View from side pannel"
Hello,
It seems that all records of the hierarchy are shown in the side pane.
would it be possible to only see active ones?

Tx

POP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1561ff18-f373-8d21-437e-a5af1071ed8f
* Version Independent ID: 50075dcc-0b7d-9fbc-601a-40bb782d2324
* Content: [Visualize hierarchical data

[2022-07-20 18:30] ChadAlt opened #2661 "Contacts section ownership typo"
I believe there's a typo in the Contacts section of this page. The second and third bullet points seem to be flip-flopped. It indicates the contact will be deleted if you are not the owner and will not be deleted if you are the owner. The final bullet point under the Contacts section follows this same pattern.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-07-20 19:00] bishalgoswami commented on #2661
Thanks for your comment, @ChadAlt. This issue has been assigned to the doc author for review.

[2022-07-20 19:51] Xyvir opened #2662 "Tracking of Calendar items / appointments doesn't seem to be working on the latest version of Outlook Desktop."
A Client of ours recently switched over from the COM Outlook add in to the new style. Tracking emails is working correctly for them.

However, they do not seem to have the 'Add-in > Dynamics' button visible from anywhere on the calendar or new appointment windows to make the Dynamics flyout appear, therefore they are unable to track Calendar entries this way.

Is there a back-end configuration we

[2022-07-20 21:43] switchbladesmile opened #2663 "The MKT Analytics configuration path is outdated."
[Enter feedback here]
 In the latest versions of MKT app this path is not valid
 Settings > Advanced settings > Marketing settings > Marketing analytics configuration.

In the new versions (1.84.2011.0) the Marketing analytics configuration is found under  Data Management, please fix it
![image](https://user-images.githubusercontent.com/94497524/180087460-a4fd0f6f-9aa8-43ef-b220-e14746e59acd.png)

[2022-07-20 23:00] bishalgoswami commented on #2663
Thanks for your comment, @switchbladesmile. This issue has been assigned to the doc author for review.

[2022-07-21 02:15] alfergus commented on #2663
Great catch -- I've updated this. The fixed page should be live within a few hours.

[2022-07-21 02:15] #2663 closed

[2022-07-21 18:18] johnmichalak commented on #2658
@clearab Thank you for pointing this out. I have made a correction and it will show up after the next publish.

[2022-07-21 18:18] #2658 closed

[2022-07-22 13:52] MarkS2145 opened #2667 "Working Offline in Dynamics 365 Apps - How to check offline status programmatically?"
[Enter feedback here]
Dear MS Support,

I have been looking for a page like this for the Dynamics 365 Apps.  Does this page apply to them as well?  If not, would you be able to help me locate the page for programmatically checking if the App is working in the "offline mode"?    And, if you have any best practices documented.

Many thanks,

Mark S

---
#### Document Details

⚠ *Do not edit this sec

[2022-07-22 15:00] bishalgoswami commented on #2667
Thanks for your comment, @MarkS2145. This issue has been assigned to the doc author for review.

[2022-07-23 01:17] thalluripk opened #2668 "Video streaming sucks"
The embed video is always so blurry and can't make out anything. This is an absolute rubbish and useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e56d4275-6fc8-b303-03bc-1e50cfe0971c
* Version Independent ID: daa1920d-0edb-8a69-90fa-ae51c753c9eb
* Content: [Use and configure the schedule board in Dynamics 365 Fi

[2022-07-23 01:57] thalluripk commented on #2668
As a workaround, I had to jump on YouTube to receive adaptive streaming.
https://www.youtube.com/watch?v=oYl6yzYEJzQ&list=PLLqieRfraDcoTcFSM8AbHmmNl8JbLRAU6&ab_channel=MicrosoftDynamics365

[2022-07-23 20:39] eccountable opened #2669 "Accuracy of Searchable property and use of outdated terminology"
Under the Create and Edit Fields topic on this page, there is a Searchable property that should read:

When a field is searchable it appears in Advanced Find and is available **for filtering rows** when customizing views. Use this when there are fields for the entity that you don’t use. Setting this to No will reduce the number of **filtering** options shown to people using advanced find. The Sear

[2022-07-23 21:00] bishalgoswami commented on #2669
Thanks for your comment, @eccountable. This issue has been assigned to the doc author for review.

[2022-07-25 10:04] cat-mucius opened #2670 "Explanation of the flow?"
Is there any documentation explaining the flow that happens when an e-mail is sent from on-premises Dynamics CRM this way?
How exactly authentication occurs, what happens after that?

I don't understand, for example, why application ID of the `Dataverse` / `Common Data Service` (`00000007-0000-0000-c000-000000000000`) is used here and why associate the certificate to it. Does on-premises CRM authe

[2022-07-25 11:00] bishalgoswami commented on #2670
Thanks for your comment, @cat-mucius. This issue has been assigned to the doc author for review.

[2022-07-25 14:28] the-real-jk opened #2671 "Inconsistent behaviour of updateRecord on phonecall records"
In our project we have experienced an issue with this method when trying to change the owner of a phonecall record. Assuming there's an existing phonecall record that is owned by User 1 and has values assigned for the Call From and Call To fields. Now you try to change the owner of the record as follows:
[code]
The response you get is a fulfilled promise. However, the owner has not changed but the

[2022-07-25 15:00] bishalgoswami commented on #2671
Thanks for your comment, @the-real-jk. This issue has been assigned to the doc author for review.

[2022-07-25 15:26] Xyvir commented on #2662
Any Update on this? Our client is really wanting to know how to set regarding on calendar items from Outlook using the latest Web CRM Plugin.

-Tyler

[2022-07-25 22:27] mduelae commented on #2654
Hi, Mark

Thanks for the feedback. A user can see if they're [online ](https://docs.microsoft.com/en-us/dynamics365/mobile-app/work-in-offline-mode#see-whether-offline-mode-is-available) but there isn't a way for an admin to see when a user is working in online mode.

Thanks,
Mints

[2022-07-25 22:28] #2654 closed

[2022-07-25 22:34] mduelae commented on #2661
Hi,

Thanks for letting us know. I fixed the typo. You should see the changes in a few minutes.

Thanks,
Mints

[2022-07-25 22:34] #2661 closed

[2022-07-25 22:37] mduelae commented on #2662
Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. This is only to report issues with the help topics.

To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/

Closing this issue.

[2022-07-25 22:37] #2662 closed

[2022-07-25 23:33] MarkS2145 commented on #2654
Dear Mints,

Thanks for your feedback.  However, I don't think that addresses my question so could you please reopen it, thanks.

I am a developer.  I need to programmatically determine when my app users are in offline mode so I can add appropriate clauses into Business rules and other javascript code that runs on their device.  In this way, I can avoid errors and give my users a better experience

[2022-07-26 13:06] anbhar opened #2672 "Needs more detail, screenshots or videos"
Unfortunately, this is even less useful than before -

1. there are no screenshots
2. no videos
3. "Filter to Event Types" is only specified for recording, not for SMS
4. "Create a system topic" link does not have an ACS example, this will confuse users
5. instructions are no longer step-by-step like they were before
6. Having links out to other pages or sections in the middle of a set of instruct

[2022-07-26 15:00] bishalgoswami commented on #2672
Thanks for your comment, @anbhar. This issue has been assigned to the doc author for review.

[2022-07-26 22:56] adamgatt opened #2673 "Region 'Oceania' is spelt incorrectly."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b4b0292-5774-e755-b315-30535d4a0909
* Version Independent ID: bffb5598-9334-f6e4-8037-52b5a1ecd090
* Content: [Dynamics 365 Field Service version history](https://docs.microsoft.com/en-us/dynamics365/field-service/version-history)
* Content Source: [

[2022-07-26 22:57] adamgatt commented on #2673
In Station 3 of the Release Schedule table, Oceania is spelt incorrectly.

[2022-07-26 23:00] bishalgoswami commented on #2673
Thanks for your comment, @adamgatt. This issue has been assigned to the doc author for review.

[2022-07-27 14:01] davidmerdian commented on #2298
Any updates on this? It's been over a year and I can't believe we can't install demo data to show clients.

[2022-07-28 02:46] m-hartmann commented on #1679
Thank you for sharing this feedback. I started working on Field Service docs a few days ago and do some housekeeping on open issues.

The listed doc issues are addressed in an upcoming publish that is expected to go live next week.

Closing this issue as solved. Please keep your feedback coming!

Thanks,
Michael

[2022-07-28 02:46] #1679 closed

[2022-07-28 08:05] m-hartmann commented on #1750
Thank you for sharing this feedback. I started working on Field Service docs a few days ago and do some housekeeping on open issues.

The listed doc issues are addressed in an upcoming publish that is expected to go live next week.

Closing this issue as solved. Please keep your feedback coming!

Thanks,
Michael

[2022-07-28 08:05] #1750 closed

[2022-07-28 08:28] m-hartmann commented on #2364
Thank you for sharing this feedback. I started working on Field Service docs a few days ago and do some housekeeping on open issues.

I looked through the commit history of the article and the GPS Data section was removed in September 2021.

Closing this issue as solved. Please keep your feedback coming!

Thanks,
Michael

[2022-07-28 08:28] #2364 closed

[2022-07-28 16:01] neeranelli commented on #2672
@anbhar,

Thank you for your feedback on the article. I am working with the stakeholders to address some of the concerns. Kindly see my responses that are as follows:

Please let me know if you have further questions.

Best regards,
Neeraja

[2022-07-29 23:03] phecke commented on #2667
@MarkS2145 Unfortunately, I do not know of any way to programmatically check for a D365 App being offline. It works for the Outlook with Offline Access because you can register a plug-in which can check for that condition.

[2022-07-29 23:39] phecke commented on #2667
@MarkS2145 I am assuming you are talking about an out-of-box D365 app and not one where you have access to its code - for example a custom canvas app or model-driven app? There is not API that you can add to a program to check if a out-of-box D365 app is offline.

It is possible to check if a service is not available, but that is no what you are asking.

[2022-07-29 23:39] #2667 closed

[2022-07-30 01:33] phecke commented on #1542
@xairrick

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-30 01:33] #1542 closed

[2022-07-30 01:34] phecke commented on #1640
@seanmcne

Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-30 01:34] #1640 closed

[2022-08-02 10:03] m-hartmann commented on #2668
Hello @thalluripk,

Thanks for sharing your concern. I checked the embedded video and it indeed takes a few seconds to buffer and increase the quality. It played well on my machine and all details are clearly readable. Depending on your bandwidth, you might need to manually update the quality setting on the embedded video and view it in fullscreen mode for future reference.

Kind regards,
Michael

[2022-08-02 10:03] #2668 closed

[2022-08-02 10:12] m-hartmann commented on #2673
Thank you for letting us know, @adamgatt. The typo is fixed in an internal pull request and I expect it to be corrected in live page shortly.

Thanks!
Michael

[2022-08-02 10:12] #2673 closed

[2022-08-04 16:30] anbhar opened #2675 "Missing Samples"
Can you please provide code samples for each of these functions?

Without samples, these APIs are extremely difficult for customers, partners and other at Microsoft to use.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9666104-4838-40d9-9a7e-24d60c233937
* Version Independent ID: 9b018aa1-a18b-319d-9cd2-6d

[2022-08-04 17:00] bishalgoswami commented on #2675
Thanks for your comment, @anbhar. This issue has been assigned to the doc author for review.

[2022-08-04 22:54] JimDaly commented on #341
“Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue."

[2022-08-04 22:54] #341 closed

[2022-08-05 02:27] mgowing opened #2676 "Broken Link Inbox Feature"
At the bottom of the Inbox feature section, there is a broken link for configuring inbox views. Was this feature removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 873335b6-f72e-ce95-06cb-fde638f22e49
* Version Independent ID: 1ec331ff-c458-efd9-fbf7-ce0327d7d83c
* Content: [Overview of the Customer Service worksp

[2022-08-05 03:00] bishalgoswami commented on #2676
Thanks for your comment, @mgowing. This issue has been assigned to the doc author for review.

[2022-08-05 08:38] thalluripk commented on #2668
Thank you @m-hartmann and apologies for the strong language.

[2022-08-05 13:53] wolfgang720 opened #2678 "Page Gives No Help For Response: 302 to ADFS Server"
The solution simply doesn't work for me.
I'm just receiving a 302 response with a link to our adfs-Server.

So this got a lot more complicated and it'd be nice if this page provided at least a hint how to do this.

In general, I'd appreciate a section with "what to do when it fails", covering some common cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-08-05 14:08] m-hartmann commented on #2608
Thank you for reporting this @feridunkadir. I noticed the SLA term is already explained in context and it had linked to an external site so I removed it.

Kind regards,
Michael (Tech writer for Field Service)

[2022-08-05 14:08] #2608 closed

[2022-08-05 15:00] bishalgoswami commented on #2678
Thanks for your comment, @wolfgang720. This issue has been assigned to the doc author for review.

[2022-08-05 23:34] JordanReyesLeger opened #2679 "Add documnetation multiple tenants"
Hello,
I am checking the documentation, but I have a case that could improve the documentation because there is not information in any place, so I made a lot of test to solve it, so this is my case:

- I have a bot service hosted in the tenant "A"
- I have a Dynamic 365 in the tenant "B"

So we solve it doing the following steps, that it's no documented (You can improve that):

- The bot service n

[2022-08-06 01:00] bishalgoswami commented on #2679
Thanks for your comment, @JordanReyesLeger. This issue has been assigned to the doc author for review.

[2022-08-08 06:09] neeranelli commented on #2679
Thank you for your help with the content, @JordanReyesLeger . Kindly give me some time to update it.

Best regards,
Neeraja

[2022-08-09 14:36] pieterh opened #2681 "ConsiderOutlookSchedules is missing in documentation"
Hi,

The following page mentioned the ConsiderOutlookSchedules parameter. However the api documentation doesn't mention this. Maybe you can add this to the documentation?

https://docs.microsoft.com/en-us/dynamics365/common-scheduler/developer/outlook-free-busy-in-search-resource-availability-api

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-08-09 15:00] bishalgoswami commented on #2681
Thanks for your comment, @pieterh. This issue has been assigned to the doc author for review.

[2022-08-10 20:26] HenricusC opened #2683 "No meaningful insights described."
[Enter feedback here]
The article starts with "This article describes the meaningful insights created from Microsoft 365 data by Dynamics 365 applications."  No it does not describe the meaningful insights created.  Tell me in plain English.  Give an example.  This article merely talks about the how.  Not the what!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-08-10 21:00] bishalgoswami commented on #2683
Thanks for your comment, @HenricusC. This issue has been assigned to the doc author for review.

[2022-08-11 05:13] snagadiya commented on #81
@valdik5379455 , @iaind72 Thanks for the above information. It is very helpful.
I am working on PCF and looking for retrieving entity and attribute metadata. So, I am using methods as mentioned in MSDN [Link ](https://docs.microsoft.com/en-us/power-apps/developer/component-framework/reference/utility/getentitymetadata).

`context.utils.getEntityMetadata(entityName, attributes)`

But attribute meta

[2022-08-11 06:14] lavanyakr01 commented on #2683
Hi @HenricusC
Thank you so much for letting us know your concern. I value your comment and understand what's causing the confusion. I'm working with the product team to address this as soon as possible.

[2022-08-11 06:14] m-hartmann commented on #2681
Hello @pieterh - thank you for sharing your feedback. I'll take this on with the team and we're going to circle back with an update.

Please keep your feedback coming, it's much appreciated!

Regards,
Michael

[2022-08-11 06:42] m-hartmann commented on #2652
Hello @T-Betts - thank you for sharing this extensive feedback, Tom.

I'm new to the team and we're going through open items over the coming weeks. We'll get back to you after taking a closer look at the feedback.

Please keep your feedback coming!

Thanks,
Michael

[2022-08-11 06:58] m-hartmann commented on #2651
Hello @IanPodmore - thank you for sharing this feedback.

I assume this was caused by a non-braking space. I updated the space character in the source file to a regular space and hope this solves the issue. Please re-open or file a new issue if it keeps breaking for you.

Thank you for the patience and please keep your feedback coming!

Thanks,
Michael

[2022-08-11 06:58] #2651 closed

[2022-08-11 07:06] m-hartmann commented on #2640
Hello @HectorMeneses333 - thank you for sharing your feedback and apologies that it took a while to respond. I'm new to the team and currently going through all open items so we can address them with the right experts.

We'll get back to you when we have clarity about next steps on the raised issue.

Thank you for your patience in the meantime.

Kind regards,
Michael

[2022-08-11 07:30] m-hartmann commented on #2630
Thank you for sharing this feedback @jnachman123. We're going to look into it and circle back when it's addressed.

Thanks,
Michael

[2022-08-11 08:37] m-hartmann commented on #2612
Hello @IanPodmore thank you for sharing the feedback. I'm looking into this issue and will circle back when we have it addressed.

Thanks,
Michael

[2022-08-11 08:40] m-hartmann commented on #2585
Hello @shaminder42 - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 08:42] m-hartmann commented on #2568
Hello @danavanc  - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update. There are some updates queued for the new schedule board so stay tuned.

Thanks!
Michael

[2022-08-11 09:14] #2566 closed

[2022-08-11 09:15] m-hartmann commented on #2566
Thank you for sharing the feedback and apologies for the delay in addressing it.

Please keep your feedback coming.

Kind regards,
Michael

[2022-08-11 11:53] IanPodmore commented on #2651
Many thanks Michael.

Regards

Ian

On Thu, 11 Aug 2022 at 07:58, Michael Hartmann ***@***.***>
wrote:

[2022-08-11 12:42] m-hartmann commented on #2563
Hello Paul @joycepg - thank you for the feedback. I think that's indeed the case. I've fixed it in the source article.

Thank you for your patience and apologies for the delay.

Kind regards,
Michael

[2022-08-11 12:42] #2563 closed

[2022-08-11 12:44] m-hartmann commented on #2544
Hello @SeanExum  - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 12:46] m-hartmann commented on #2526
Hello @Enielezi - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 12:52] m-hartmann commented on #2492
Hello Adam @adamgatt  - thank you for sharing the feedback and apologies for the delay in getting back to you.

I've published an updated to the example without non-breaking space.

Thanks!
Michael

[2022-08-11 12:52] #2492 closed

[2022-08-11 12:57] m-hartmann commented on #2495
Hello Mark @markwheeler  - thank you for reporting the issue and apologies for the delay in getting back to you.

I've just pushed a fix to the link and it will be live shortly.

Thanks,
Michael

[2022-08-11 12:57] #2495 closed

[2022-08-11 13:02] m-hartmann commented on #2487
Hello @HectorMeneses333  - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.
Thanks!
Michael

[2022-08-11 13:11] m-hartmann commented on #2456
Hello @jeevarajan04  - thank you for sharing the feedback and apologies for the delay in getting back to you.

You are right, this is a typo. Thanks for catching it. I'll get a fix published today.

Thanks!
Michael

[2022-08-11 13:11] #2456 closed

[2022-08-11 13:17] m-hartmann commented on #2461
Hello @toszypul - thank you for sharing your feedback and apologies for the delay in getting back to you.

I noticed you submitted several issues related to the new scheduling board. I've recently joined the team and I'm going through all open issues. This comment acknowledges all other issues too.

We're looking into these issues and will circle back with an update.

Thanks!
Michael

[2022-08-11 13:20] m-hartmann commented on #2473
Hello @TheBrandt  - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.
Thanks!
Michael

[2022-08-11 14:34] m-hartmann commented on #2428
Hello @julians1966 - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 14:38] m-hartmann commented on #2412
Hello Daniel @DMaxwell02  - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 14:43] m-hartmann commented on #2408
Hello Daniel @danielburt0803  - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 14:45] m-hartmann commented on #2392
Hello Vinay @sampatn - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 14:46] m-hartmann commented on #2354
Hello @waynekwal   - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 14:48] m-hartmann commented on #2307
Hello Martijn @mVermaat   - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 14:49] m-hartmann commented on #2074
Hello Greg @ugreg   - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 14:52] m-hartmann commented on #1881
Hello @pavansarma93  - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 14:53] m-hartmann commented on #1101
Hello @spiritsip  - thank you for sharing the feedback and apologies for the delay in getting back to you.

We're looking into this issue and will circle back with an update.

Thanks!
Michael

[2022-08-11 14:57] m-hartmann commented on #2441
Hello Feridun @feridunkadir - thank you for sharing the feedback and apologies for the delay in getting back to you.

I can reproduce the issue and confirm the steps you shared. I'll update the article and get the fixes published.

Thanks!
Michael

[2022-08-11 15:22] erezyaron opened #2688 "missing permissions required for insight access"
Hello,  this article is missing a section about how to provide "regular" users access to marketing insights. What security role, what entity permissions, etc.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a5a9d2c-83d6-ce34-3e6a-4a1a553bd7bb
* Version Independent ID: b00bbb9c-2e44-735a-82d2-2146

[2022-08-11 17:00] bishalgoswami commented on #2688
Thanks for your comment, @erezyaron. This issue has been assigned to the doc author for review.

[2022-08-11 17:12] crmpatrick opened #2689 "Solution Management via Classic Interface"
Is the recommendation to leverage solutions in the Classic interface rather than the Power Apps make portal, or does this article need an update even though it appears current as of Feb 2022?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ece11f-a8b0-ab20-5894-d8ac3972e739
* Version Independent ID: 572e8879-ebec-8134

[2022-08-11 17:14] crmpatrick commented on #2689
I missed the open issue.

[2022-08-11 17:15] #2689 closed

[2022-08-11 17:16] crmpatrick commented on #2647
No updates, yet the issue is closed.

[2022-08-12 16:08] PedroCadavezF opened #2691 "According to sourcecode , MONTHLY recurrence is not an option and causes maintenace jobs to not run at all"
Hello,

Using CRMjobEditor tool and putting any job with MONTHLY recurrency will cause the entire failure on all maintenance jobs, even if MONTHLY was just set to only 1 job.

https://dev.azure.com/dynamicscrm/CRM/_git/Site?path=/src/Shared/CoreExtensions/Recurrence/RecurrencePatternFactory.cs&_a=contents&version=GBmaster

If we check our code, seems MONTHLY is not available anymore.

Can you plea

[2022-08-12 17:00] bishalgoswami commented on #2691
Thanks for your comment, @PedroCadavezF. This issue has been assigned to the doc author for review.

[2022-08-12 23:00] phecke commented on #2613
@rezanid  What tables? I just added a constraint for virtual tables. Are there others?

[2022-08-12 23:09] phecke commented on #2613
@rezanid I will keep this issue open until I have an official answer from the product team, then update both the CE on-premise and Power Apps topics as needed.

[2022-08-12 23:11] phecke commented on #2691
@PedroCadavezF This is news to me. Seems pretty serious. Will have to ask the product team to verify.

[2022-08-12 23:36] JimDaly commented on #2691
As Pedro is a Microsoft Employee, we are taking this to email. Closing this.

[2022-08-12 23:36] #2691 closed

[2022-08-13 15:25] rezanid commented on #2613
One that I recently encountered was Annotations.

[2022-08-14 23:54] justinreading opened #2692 "Documentation needs to be updated please."
Documentation needs to be updated please.

This page does not reflect the current edit experience in make.powerapps.com could you please review and update.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b82a44-adc6-7a04-c771-44870986d5b5
* Version Independent ID: e3eba92f-4335-2861-3ff8-cf9ee4850048
* Content: [Add a

[2022-08-14 23:54] justinreading opened #2693 "Documentation needs to be updated please"
Documentation needs to be updated please.

This page does not reflect the current edit experience in make.powerapps.com could you please review and update.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 267bbee8-9ae6-252a-5791-e59ef137cd6d
* Version Independent ID: c8c6d514-db26-0b81-afb1-2cd599a8e95c
* Content: [Filte

[2022-08-15 01:00] bishalgoswami commented on #2693
Thanks for your comment, @justinreading. This issue has been assigned to the doc author for review.

[2022-08-15 01:00] bishalgoswami commented on #2692
Thanks for your comment, @justinreading. This issue has been assigned to the doc author for review.

[2022-08-15 13:16] #2441 closed

[2022-08-15 13:53] snagadiya opened #2695 "Query Attribute Metadata to get Schema Name"
I am working on PCF and looking for retrieving entity and attribute metadata. So, I am using methods as mentioned in MSDN [Link](https://docs.microsoft.com/en-us/power-apps/developer/component-framework/reference/utility/getentitymetadata).

`context.utils.getEntityMetadata(entityName, attributes)`

But attribute metadata does not give schemaName. (My lookup field logicalname is "prefix_parentsect

[2022-08-15 17:17] #2543 closed

[2022-08-15 17:19] Mattp123 commented on #2599
@BodyCopy - Sorry for the delay. The article was updated some time ago to remove the YouTube link since the video was removed.
Closing issue.

[2022-08-15 17:19] #2599 closed

[2022-08-16 11:00] clairejohn895 opened #2696 "Can I import a list of account ids to create a segment based on behaviour outside of the CRM?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b95a247-8f4e-f8de-54b7-f8525a2cdcba
* Version Independent ID: 8e86e4dd-23eb-1b9a-e4cd-ede2acb0278a
* Content: [Create a marketing segment (Dynamics 365 Marketing)](https://docs.microsoft.com/en-us/dynamics365/marketing/create-segment)
* Content Sourc

[2022-08-16 13:00] bishalgoswami commented on #2696
Thanks for your comment, @clairejohn895. This issue has been assigned to the doc author for review.

[2022-08-16 15:16] rfontijn opened #2697 "Plus sign"
**Special characters in alternate key**
It seems that the plus sign '+' is not allowed either. I'm getting a 400 on patching an entity with this character in the alternate key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b70f58f-1e86-4148-7f89-7dc9d21ee337
* Version Independent ID: 32cb118b-4632-0e1d-915a-7d3f530dd

[2022-08-16 17:00] bishalgoswami commented on #2697
Thanks for your comment, @rfontijn. This issue has been assigned to the doc author for review.

[2022-08-16 18:27] alfergus commented on #2696
Unfortunately, this isn't currently possible. You may, however, be able to import the behavior into Dataverse using Customer Insights. You can learn more here: https://docs.microsoft.com/dynamics365/customer-insights/

[2022-08-16 18:27] #2696 closed

[2022-08-17 10:03] clairejohn895 commented on #2696
Thanks @alfergus would we be able to use d365Sales Marketing lists in segments. E.g. this segment includes all people on d365 Sales Marketing list A.

[2022-08-18 00:36] alfergus commented on #2696
Hey @clairejohn895 - Marketing doesn't support marketing lists yet -- we don't support N:N relationships in real-time marketing features just yet.

[2022-08-18 03:53] iChrisJ opened #2700 "domain authentication is out of date"
The screenshots of setting up domain authentications are out of date.
Looks like Envelope-from domain is mandatory for email sending right now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f48aaa6-b29b-79d3-4693-0090b57ee38f
* Version Independent ID: 93315657-b7fc-d59d-da24-63b6a6c9c448
* Content: [Domain authentica

[2022-08-18 05:00] bishalgoswami commented on #2700
Thanks for your comment, @iChrisJ. This issue has been assigned to the doc author for review.

[2022-08-18 12:40] mouragustavor opened #2701 "Extra ""
In the "Add routing rulesets site map for custom apps" session, item 1:
Sign in to https://"<"org">*.dynamics.com/apps, and go to App Designer.

There is an extra " in the sentence below.

I am not sure if before or after the <, but it has.

So, I recommend to delete one of them.

Cheers!
GM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-08-18 13:00] bishalgoswami commented on #2701
Thanks for your comment, @mouragustavor. This issue has been assigned to the doc author for review.

[2022-08-18 17:59] neeranelli commented on #2701
Thank you for bringing it to my attention, @mouragustavor. This is fixed and will be live in a couple of hours.

Please let me know if I can close this issue.

Best regards,
Neeraja

[2022-08-18 22:02] mouragustavor commented on #2701
Hello! Feel free to close the issue. Thank you!

On Thu, 18 Aug 2022, 15:00 Neeraja Nellimarla, ***@***.***>
wrote:

[2022-08-19 00:47] alfergus commented on #2700
Thank you for the heads up on this. We will work to get these updated shortly.

[2022-08-19 00:47] #2700 closed

[2022-08-19 16:56] aralroca opened #2702 "How to add form capture in a SPA app?"
We are using React in a SPA. When we use a form of a page without navigation it works fine. But if we come from another page that has a form and we navigate via React-router to another page that has another form, then the form stops working. How can we solve this? I think is related with SPA applications. Thanks.

[2022-08-19 20:48] phecke commented on #2702
@aralroca  Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/.

If you have a question about a specific documentation page, please provide your question and doc link.

[2022-08-19 20:48] #2702 closed

[2022-08-19 21:22] JimDaly commented on #2695
@snagadiya
As you discovered, the `context.utils.getEntityMetadata` method returns [EntityMetadata](https://docs.microsoft.com/en-us/power-apps/developer/component-framework/reference/entitymetadata), which contains a Dictionary of [AttributeMetadata](https://docs.microsoft.com/en-us/power-apps/developer/component-framework/reference/attributemetadata) which doesn't include `SchemaName` as one of

[2022-08-20 05:56] snagadiya commented on #2695
Hi @JimDaly, Thanks for the reply.
I tried fetching EntityDefinition directly using `context.webAPI.retrieveMultipleRecords(entityLogicalName, options, maxPageSize).then(successCallback, errorCallback);`  with below 2 ways. But retrieve call fails saying 'EntityDefinition' not found or some similar message like that. And this is known that EntityDefinition is directly not exposed to retrieve withi

[2022-08-20 17:25] JimDaly commented on #2695
@snagadiya

RE:

It depends on what you intend to do with it. Earlier you said

I'm assuming by PATCH you mean a Web API PATCH and not a PowerFx PATCH. Sorry, not sure whether that is even relevant for PCF, but don't want to rule out the possibility. But I can say that in the Dataverse Web API, the SchemaName from metadata is largely irrelevant and I think it isn't needed. I don't know exactly how

[2022-08-22 05:41] udaykirang commented on #2519
docs are updated with the latest screens

[2022-08-22 05:41] #2519 closed

[2022-08-22 05:43] udaykirang commented on #2655
@feridunkadir thanks for your feedback. I will work on this and update the topic accordingly.
Apologies for the delayed response.

[2022-08-22 14:35] neeranelli commented on #1093
Closing the issue as no response came from the user.

[2022-08-22 14:35] #1093 closed

[2022-08-22 22:46] alfergus commented on #2688
Thanks for your question! The best place for product requests or troubleshooting is the Dynamics 365 Marketing forum at [https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum](https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum) - repost your question there and a developer will be able to help you.

[2022-08-22 22:46] #2688 closed

[2022-08-23 15:22] neeranelli commented on #2701
Thank you! I am closing this issue.

[2022-08-23 15:22] #2701 closed

[2022-08-24 22:21] JMCA2 opened #2703 "Multiple docs errors regarding Dynamics 365 Sales Professional"
Users licenses with Dynamics Sales Professional are indeed able to use several features that several pages on docs.microsoft.com, the pricing page and the Dynamics 365 Licensing Guide state are only available under Sales Enterprise license. The 3 sources should be corrected.

I have confirmed the following features work on Sales Professional (even though https://dynamics.microsoft.com/en-us/sales/

[2022-08-24 22:25] JMCA2 commented on #2703
Mentioning users owning affected docs page:
@lavanyakr01 (forecasts, goals, playbooks, predictive lead scoring)
@udaykirang (sequences, email engagement, segments, assignment rules)

[2022-08-24 22:28] JMCA2 commented on #2703
in Microsoft Support under case #2207200050002171 it has been confirmed (after escalating to product team) that some parts of the documentation are not up to date regarding Sales Professional features licensing

[2022-08-25 05:18] iChrisJ opened #2704 "SPF record for email marketing"
May I know whether it's necessary to create SPF record for email marketing now?
If no, why we still have this section?
![image](https://user-images.githubusercontent.com/6956871/186580749-e6751615-9466-40a8-955f-3d923390fb56.png)
If yes, why this doc is deleted.
https://github.com/MicrosoftDocs/dynamics-365-customer-engagement/blob/fa212737c3fc76584e98d724788a7c2e61461382/ce/marketing/create-spf-r

[2022-08-25 05:26] lavanyakr01 commented on #2703
Hi @JMCA2
Thank you so much for bringing this to our attention. We'll verify this from our end as well and correct the docs asap.

Regards,
Lavanya Krishnamurthy

[2022-08-25 07:00] bishalgoswami commented on #2704
Thanks for your comment, @iChrisJ. This issue has been assigned to the doc author for review.

[2022-08-25 16:29] neeranelli commented on #2602
@jdballard, we'll be moving away from the legacy Omnichannel insights soon. The new historical analytics dashboards in Customer Service and Omnichannel for Customer Service are the latest and provide comprehensive coverage. I am sharing a few links that are also accessible through the Table of contents on the left of any page that you open from the following links:

- [Customer Service historical

[2022-08-25 16:29] #2602 closed

[2022-08-25 16:37] neeranelli commented on #1774
@RedsGT,

The content has been updated for clarity and accuracy. Please let me know if you still find any issues in it and I will look into them.

Thank you for your valuable feedback.

Best regards,
Neeraja

[2022-08-25 16:37] #1774 closed

[2022-08-26 06:50] philipverlinden opened #2705 "Avoid a customer as agent"
Is there a way to extend the capability so also specific customers are never routed towards a specific agent? (due to historical conflict for example)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a70c6db3-0694-4fd7-c378-8bbec4bf1348
* Version Independent ID: a70c6db3-0694-4fd7-c378-8bbec4bf1348
* Content: [Configure

[2022-08-26 07:00] bishalgoswami commented on #2705
Thanks for your comment, @philipverlinden. This issue has been assigned to the doc author for review.

[2022-08-26 09:36] neeranelli commented on #2705
Thank you for your question, @philipverlinden. I have forwarded it to the stakeholders.

If you haven't already, you can also share your ideas and vote for future ideas the [Dynamics 365 Application Ideas](https://experience.dynamics.com/ideas/) portal.

Best regards,
Neeraja

[2022-08-26 16:02] allandecastro opened #2706 "IsSOPIntegrationEnabled is set to false by default so it's not available through the UI"
Hello,

For the IsSOPIntegrationEnabled flag, it says that "The setting can only be turned off if it was already enabled. After it's turned off, the setting won't be displayed in the UI.".
By default this flag is always set to false so there is no way to update it to true using the UI mentionned, we must do it through Web API.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-08-26 16:38] #2392 closed

[2022-08-26 16:39] m-hartmann commented on #2392
Just to confirm, this disclaimer was added and will go live shortly. Thanks again for reporting!

Michael

[2022-08-26 16:45] m-hartmann commented on #2074
Hello @ugreg - I checked this in my test environment and Field Service - Administrator seems to be able to create work orders. Since this issue is almost two years old, I will close it. Please reopen or create a new issue if you can reproduce this error again.

Thanks!
Michael

[2022-08-26 16:45] #2074 closed

[2022-08-26 17:00] bishalgoswami commented on #2706
Thanks for your comment, @allandecastro. This issue has been assigned to the doc author for review.

[2022-08-27 03:40] SweetsNSavories opened #2707 "Typo in "Customer Summary application type""
"For example, you can create the Customer Summary application type "
I suspect it's a typo, shouldn't it "Customer Summary application tab" but not "type"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5581d6d2-e007-d387-6ce2-022a1e332f35
* Version Independent ID: c7b31b87-0a4f-2ad6-4f2e-319e1728e132
* Content: [Manage

[2022-08-27 05:00] bishalgoswami commented on #2707
Thanks for your comment, @SweetsNSavories. This issue has been assigned to the doc author for review.

[2022-08-27 12:02] JMCA2 commented on #2703
@phecke Hi. I see you closed the issue, but I don't see any updates on the docs.
Thanks
@lavanyakr01  @udaykirang

[2022-08-29 09:35] lavanyakr01 commented on #2706
Hi Allen,
Thanks for pointing this out. I see the article is also indicating that the integration needs to be enabled/turned on by setting the value of the IsSOPIntegrationEnabled attribute on the Organization entity to Yes (1). The section you're referring to is talking about how to turn it off. But I understand your point as well. I'm planning to extend the note to say something like this:

"The

[2022-08-29 10:57] lavanyakr01 commented on #2706
I have updated the page with few more tweaks. Please check out and let me know if they make the doc clear. Thanks again.

[2022-08-29 16:37] Mattp123 commented on #2610
@MaximillianC - Dynamics 365 Customer Engagement versions v9.x isn't currently supported with versions of Windows Server later than what is published in the article referenced with this issue.

When support for Dynamics 365 Customer Engagement with Windows Server 2022 does become available, the article will be updated.

Closing issue.

[2022-08-29 16:37] #2610 closed

[2022-08-29 16:45] neeranelli commented on #2065
@anbhar,

The article has gone through many changes since you raised the question about routing rule instance. I couldn't find the term in the content and therefore am not sure I have the context to help answer your question. Can you kindly elaborate? If it's no longer relevant, please let me know if I can close this issue.

Best regards,
Neeraja

[2022-08-29 16:56] neeranelli commented on #2062
@anbhar,

The following content is added in the [Configure a pre-conversation survey](https://docs.microsoft.com/en-us/dynamics365/omnichannel/administrator/configure-pre-chat-survey) article now.

We have improved the content around [context variables ](https://docs.microsoft.com/en-us/dynamics365/customer-service/context-variables-for-bot?tabs=customerserviceadmincenter)in collaboration with pro

[2022-08-29 17:31] neeranelli commented on #1844
@ashokduddukuri,

I understand that the point raised by you still stands true. Would it help if we add a prerequisite check for users to check [International availability](https://docs.microsoft.com/dynamics365/customer-service/international-availability) information?

Kindly clarify.

Best regards,
Neeraja

[2022-08-29 22:22] allandecastro commented on #2706
Looks great for me :) Thanks 😊

[2022-08-29 22:22] #2706 closed

[2022-08-30 06:28] lavanyakr01 commented on #2703
Sorry about this. Reopening the ticket. We're still in discussion with our engineering team about this.  We'll keep you posted.

[2022-08-30 08:56] JamesHorsley opened #2709 "Rather poor level of detail on prerequisites"
Especially for "Verify that the account that runs the Asynchronous Processing Service has read access to private keys of the certificate." it would be helpful to say how to do that and who to resolve. Steps are basically these:
1. Run mmc.
2. File -> Add/remove snap-in...
3. Add "Certificates" (Computer account, Local Computer).
4. Navigate to Certificates/Personal/Certificates.
5. Right-click the

[2022-08-30 09:00] bishalgoswami commented on #2709
Thanks for your comment, @JamesHorsley. This issue has been assigned to the doc author for review.

[2022-08-30 13:45] devman2k opened #2710 "Clear list of actions that a Team Member can not do"
This by far is the biggest request by our customers. I can not tell you how many calls, questions and emails this generates.
It would be fantastic to have an extremely clear concise and easily consumed list of actions that a Team Member can not do for Sales, CS etc.,

That way I can email this link to all our MS Dynamics past and Future Customers when selling this license type

---
#### Document D

[2022-08-30 15:00] bishalgoswami commented on #2710
Thanks for your comment, @devman2k. This issue has been assigned to the doc author for review.

[2022-08-30 15:36] lavanyakr01 commented on #2710
@devman2k Thanks for reaching out. Would a list of what they can do help rather than what they cannot do?
That list would mean that anything that's not listed is not supported.

[2022-08-30 15:58] devman2k commented on #2710
Hi Sorry,

No. Unfortunately. The “what we cannot do” is specifically the clarity that customers ask. It is the gating\decision factor for purchasing.

If we need to appear “balanced” and clearly showing what can and can not that can be refenced by all Customers and partners on the public MS site that would be helpful.

Currently we as partners attempt to use the Microsoft License Guide for Dynami

[2022-08-30 16:18] lavanyakr01 commented on #2710
Thanks for providing more context, Bryan. I see your point. The only practical challenge is keeping this list up-to-date.  The rate at which we deliver new features means that we keep updating this page.  Let me talk to PMs and see how best we can address this.

[2022-08-31 20:58] brhunt1958 commented on #1183
While you are adding the ChangedOn date, please consider also adding the userid of the person who made the change.

While using the D365 API, I often have to determine "who was the user who last updated this field".  Right now that is a *very* byzantine process that expends a lot of API calls to get the answer.

If you added these two fields, a single API call would give me my answer.

Thanks.

Br

[2022-09-01 10:51] lavanyakr01 commented on #2703
Hi @JMCA2
I learned from the Product team that Sales Professional users are only entitled to use the Sales Professional app. We don't enforce licenses at the app level and that's why you're able to see and use the Sales Hub app in your environment.  Your Dynamics 365 administrator should [hide the Sales Hub app](https://docs.microsoft.com/en-us/power-apps/maker/model-driven-apps/deactivate-app) so

[2022-09-01 12:52] lavanyakr01 commented on #2683
Hi @HenricusC,
Sorry for the delay and thanks for your patience while we sorted this out. I've made several updates based on your feedback. I've updated the [Insights generated from Microsoft 365 data](https://docs.microsoft.com/en-us/dynamics365/sales/insights-from-m365) page to include the relationship analytics that Dynamics 365 Sales generate based on Microsoft 365 data (Exchange data to be pr

[2022-09-01 13:09] JMCA2 commented on #2703
Hi @lavanyakr01 The Sales Hub app is the default option for Sales Professional since April 22, 2022.
The Sales Professional app is not using the modern unified interface.
Microsoft support has confirmed to me no issue with using Sales Hub with Sales Professional license.
Since wave 1 changes, Sales Hub is enabled for Sales Professional too: https://docs.microsoft.com/en-us/dynamics365-release-plan

[2022-09-01 14:05] alex8654 opened #2714 "Missing teams meeting reminder"
It should be stated on the documentation, teams meetings sent from d365 will not have reminders set up by default as when sending directly from teams or outlook. This means meetings will go out and the organizar and customer will not be alerted at any stage the meeting is about to begin, or if it has begun. It is a missing functionality which is core to meetings, so it should be stated here on thi

[2022-09-01 18:36] HenricusC commented on #2683
Hi,

This is much better!  For those of use who are not exposed on a daily basis to introductions of new features and, importantly, cannot keep up with Microsoft's re-naming and re-branding efforts, it helps tremendously if these new features are explained in plain English (the "what") before an article delves into the "why" or the "how".

So thank you.

H

From: lavanyakr01 ***@***.***>
Sent: Thu

[2022-09-01 23:21] michaelmmcrae1 opened #2717 "Business Rules segregate functionality between Form Body and Form Header?"
The documentation doesn't mention this from what I can tell. It's pretty unclear.

If you have "Existing Customer" in the Body and "Owner" in the Header...
Make a BR that says if Existing Customer = Yes, Lock Owner...
It will NOT Lock the Owner in the Header.
Now move "Existing Customer" into the Header too, and suddenly it DOES Lock Owner.

Is this intended behavior?
I don't see the upside/ration

[2022-09-02 01:00] bishalgoswami commented on #2717
Thanks for your comment, @michaelmmcrae1. This issue has been assigned to the doc author for review.

[2022-09-02 03:31] lavanyakr01 commented on #2683
Thank you so much for your quick response. I'm closing the issue.

Have a great weekend! :)

[2022-09-02 03:31] #2683 closed

[2022-09-02 09:46] JMCA2 opened #2718 "System Administrator security role for Sales Professional"
On this page it says System Administrator applies ony to Sales Enterprise and Premium.
As far as I know, it also applies to Sales Professional, because is a global role for admins on all powerapps https://docs.microsoft.com/en-us/power-platform/admin/database-security#environments-with-a-dataverse-database

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2022-09-02 11:00] bishalgoswami commented on #2718
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-09-02 22:12] moliveirapinto opened #2719 "Need more info"
Can we please add the Twillio steps on this doc? I am a Customer Service GBB at Microsoft and customers always ask about that since it is not clear at all.

You have to actually add your callback URL in two different places, for example

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da893c0-e804

[2022-09-02 22:38] alfergus commented on #2704
Thanks for the question! If the Envelope From address feature is enabled and confirmed, all emails will be signed with SPF on the sender domain. There is no need to add any additional DNS records to the existing SPF record.

I'll update this doc to remove outdated info.

[2022-09-02 22:38] #2704 closed

[2022-09-02 23:00] bishalgoswami commented on #2719
Thanks for your comment, @moliveirapinto. This issue has been assigned to the doc author for review.

[2022-09-02 23:27] alfergus commented on #2704
@iChrisJ You can learn about the Envelope From setup here: https://docs.microsoft.com/en-us/dynamics365/marketing/mkt-settings-authenticate-domains#envelope-from-domain

[2022-09-03 04:14] dynamixacademy opened #2720 "Hyperlink is not taking to correct Code Sample Microsoft CRM Web API Functions and Actions Sample (Client-side JavaScript)"
[Enter feedback here]

In below Document the hyperlink for the Managed Solution [Microsoft CRM Web API Functions and Actions Sample (Client-side JavaScript)](https://go.microsoft.com/fwlink/p/?LinkId=824048)
is not having the sample code file named **_Microsoft CRM Web API Functions and Actions Sample (Client-side JavaScript).zip_** in the routed page.

---
#### Document Details

⚠ *Do not edit th

[2022-09-03 05:00] bishalgoswami commented on #2720
Thanks for your comment, @dynamixacademy. This issue has been assigned to the doc author for review.

[2022-09-03 17:19] JimDaly commented on #2720
@dynamixacademy
Thanks for reporting this.

The page located at `/dynamics365/customerengagement/on-premises/developer/webapi/web-api-functions-actions-sample-client-side-javascript` needs to be deleted and re-directed to the page here: [https://docs.microsoft.com/power-apps/developer/data-platform/webapi/samples/functions-actions-client-side-javascript](https://docs.microsoft.com/power-apps/devel

[2022-09-03 17:19] #2720 closed

[2022-09-06 04:26] Avinash-Badgujar opened #2723 "Correction in sentence"
**The appointment suggestion start appearing on the timeLine three days prior to the actual appointment time.**

starts appearing and timeline (not timeLine)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03640e5b-61eb-30e1-d2b7-2276586e1d44
* Version Independent ID: 03640e5b-61eb-30e1-d2b7-2276586e1d44
* Content: [Aut

[2022-09-06 05:00] bishalgoswami commented on #2723
Thanks for your comment, @Avinash-Badgujar. This issue has been assigned to the doc author for review.

[2022-09-06 05:10] udaykirang commented on #2723
Hi @Avinash-Badgujar,

Thanks for your feedback. We'll work on it and resolve at the earliest.
Adding @lavanyakr01 to the thread.

Thanks,
Uday

[2022-09-06 06:26] udaykirang commented on #2723
Updated the doc.

Thanks,
Uday

[2022-09-06 06:26] #2723 closed

[2022-09-06 07:12] mh-jaya commented on #2707
@sweetsnsavories,
Thanks for bringing this up. I've made the correction, and the updated article is now published live here:
[Manage application tab templates](https://docs.microsoft.com/en-us/dynamics365/app-profile-manager/application-tab-templates?tabs=customerserviceadmincenter)

Thanks and regards,
Jaya

[2022-09-06 07:12] #2707 closed

[2022-09-06 09:58] neeranelli commented on #2719
Hello @moliveirapinto,

Can you kindly let me know the information that you wanted us to add. Your feedback seems to have missed the example information about the callback URL. Meanwhile, I am waiting for information from the stakeholders too.

Thank you.
Neeraja

[2022-09-06 13:23] sbmjais commented on #2460
Thanks for the feedback. The docs are updated.

[2022-09-06 13:23] #2460 closed

[2022-09-06 13:52] neeranelli commented on #1721
Closing this issue as there's no action required.

[2022-09-06 13:58] neeranelli commented on #1825
Hello @barrcode,

The provisioning experience of Omnichannel for Customer Service has been updated and the content has been updated to reflect the process. Therefore, I understand that this issue is no longer applicable and can be closed.

Best regards,
Neeraja

[2022-09-06 13:58] #1825 closed

[2022-09-06 14:49] neeranelli commented on #2014
The [article](https://docs.microsoft.com/en-us/dynamics365/customer-service/set-up-rules-to-automatically-create-or-update-records) has been updated to indicate that it pertains to the legacy app. I am closing this issue.

[2022-09-06 14:49] #2014 closed

[2022-09-06 16:41] neeranelli commented on #2147
Hello @hkusulja,

Please accept my apologies for the delayed response. The answer is yes, a case can be reopened by customizing the Power Automate flow. I will update the content and get back to you.

Best regards,
Neeraja

[2022-09-06 17:57] neeranelli commented on #2705
Hello @philipverlinden,

While your request to avoid routing to a particular agent is not available as a feature right now, the product managers would like to know the following:

Best regards,
Neeraja

[2022-09-06 19:57] sami19693 opened #2725 "T"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef46e5d7-709f-9ce8-f6f0-210d26840819
* Version Independent ID: ef46e5d7-709f-9ce8-f6f0-210d26840819
* Content: [Insights generated from Microsoft 365 data](https://docs.microsoft.com/en-us/dynamics365/sales/insights-from-m365)
* Content Source: [ce/sa

[2022-09-06 21:00] bishalgoswami commented on #2725
Thanks for your comment, @sami19693. This issue has been assigned to the doc author for review.

[2022-09-07 00:29] alfergus commented on #1244
Thanks for your question! The best place for product requests or troubleshooting is the Dynamics 365 Marketing forum at [https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum](https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum) - repost your question there and a developer will be able to help you.

[2022-09-07 00:29] #1244 closed

[2022-09-07 05:38] lavanyakr01 commented on #2725
Hi @sami19693,
I don't see any comment. Could you please reply to this issue if you had any specific feedback about this page?

[2022-09-07 05:49] lavanyakr01 commented on #2703
Hi @JMCA2
I understand your point and apologize for the confusion. We're working on updating our docs and licensing guide to make it explicit that Sales Hub is only for Sales enterprise and sales premium customers. Please note this specific point in the licensing guide:
![image](https://user-images.githubusercontent.com/79450761/188797746-716fced5-be9e-421b-b7da-85397d233b70.png)

I have informed

[2022-09-07 08:48] JMCA2 commented on #2703
Hi @lavanyakr01 THANK YOU. Much appreciated. All clear now after several months of consusion involving both Support and Partners teams (who also didn't have correct information about this). I'll replace Sales Hub with Sales Professional then.

This whole thing is creating confusion internally on MIcrosoft too, as both several support cases and even hours of consulting with Partners and Sales teams

[2022-09-07 12:46] neeranelli commented on #1752
Thank you, @platkat and @tombyang for helping to bring out the value proposition of bots. We have also recently reorganized the content for bots. You might want to have a look at them at

- [Overview of bots](https://docs.microsoft.com/dynamics365/customer-service/overview-bots)
- [Integrate an Azure bot](https://docs.microsoft.com/dynamics365/customer-service/configure-bot-azure)
- [Integrate a P

[2022-09-07 12:46] #1752 closed

[2022-09-07 13:12] neeranelli commented on #1889
Hello @vamullap,

The content has been updated since the time you opened this issue. I understand that you had feedback on the export and import of the msdyn_analytics entity. It's now a part of the note.

If this addresses the issue, please let me know if I can close the issue.

Best regards,
Neeraja

[2022-09-07 15:13] neeranelli commented on #1677
Hello @tombyang ,

The detailed response from the team about where the attachments file is stored is as follows:

When the conversation is going on, the attachment is uploaded to Async Media Storage/Service (AMS) and it will be retained for 7 days. After the conversation ends, the attachment will be stored in Annotations collection in Dataverse. which is a Azure blob-based entity. Customers can ac

[2022-09-07 19:53] wikky opened #2726 "The word "administration" is misspelled"
Hi,

The word "administration" is misspelled in this section (see screenshot below):

https://docs.microsoft.com/en-us/dynamics365/customerengagement/on-premises/deploy/deploy-and-operate-dynamics-365-on-premises?view=op-9-1#a-deployment-administrator-cant-perform-deployment-adminstration-tasks

![image](https://user-images.githubusercontent.com/586908/188964981-99db92bf-7885-401c-816c-72b81a134df

[2022-09-07 21:00] bishalgoswami commented on #2726
Thanks for your comment, @wikky. This issue has been assigned to the doc author for review.

[2022-09-07 23:35] moliveirapinto commented on #2719
@neeranelli do you want me to create the steps and send the screenshots? you can reach me out on Teams: Mauricio Oliveira

[2022-09-08 04:14] neeranelli commented on #2276
Hello @hkusulja ,

The option that you have pointed out is still applicable. Please see the following screenshot.
![image](https://user-images.githubusercontent.com/52775901/189032782-b9bc76db-6c53-47ab-9b0b-697ec8c5d4c0.png)

I hope this helps. I am closing this issue as no action is required.

Best regards,
Neeraja

[2022-09-08 04:14] #2276 closed

[2022-09-08 05:52] lavanyakr01 commented on #2703
Thank you so much for your patience and engagement, @JMCA2.

I've updated the following topics to reiterate that Sales Hub is only for enterprise and premium customers and Sales Professional users should use only the Sales Professional app.

[Can I use the Sales Hub app with the Sales Professional license?](https://docs.microsoft.com/en-us/dynamics365/sales/faqs-sales#can-i-use-the-sales-hub-app-w

[2022-09-08 06:35] JMCA2 commented on #2703
@lavanyakr01 Great.
It mentions the option to hide the Sales Hub, but wouldn't it be an even better sugestion to delete the Sales Hub? I just provisioned a new Power environment following the steps selecting Sales Pro only and it automatically installe "Dynamics 365 Sales, Enterprise Edition App" (Sales Hub)

Other than that + updating the licensing guide and clarifying #2718 it should be all good

[2022-09-08 07:29] lavanyakr01 commented on #2703
Hi @JMCA2,
You are right.  The app can be deleted as well. I have added the link to both hide and delete. The changes will be published in our next cycle at 9:00 AM EST.

I'll update https://github.com/MicrosoftDocs/dynamics-365-customer-engagement/issues/2718 once I've addressed that as well.

I'm following up with the licensing team to get the licensing guide updated.

I'm closing this issue for

[2022-09-08 07:29] #2703 closed

[2022-09-08 10:52] trucbinh opened #2727 "Missing msdyncrm_sastoken in msdyncrm_UpsertFile custom action"
[Enter feedback here]
Hi,

I tried this action msdyncrm_UpsertFile today, but the response didn't include msdyncrm_sastoken value. Please check if there is any change with the document or the implementation of this custom action.

Thanks,
Binh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 207468aa-afac-fe29-8804-adc1

[2022-09-08 11:02] bishalgoswami commented on #2727
Thanks for your comment, @trucbinh. This issue has been assigned to the doc author for review.

[2022-09-08 11:07] udaykirang commented on #2655
Updated the doc as suggested. For points 2 and 4, we are following the naming standards that are defined for Dynamics 365.

Thanks,
Uday

[2022-09-08 11:07] #2655 closed

[2022-09-08 11:32] ElinaChen1989 commented on #1953
The issue still exist, please check and revise the documentation

[2022-09-08 11:33] ElinaChen1989 commented on #1953
The issue still exist, please check and revise the documentation

[2022-09-09 10:27] lavanyakr01 commented on #2725
Closing the issue as there's no comment or feedback. Please feel free to open a new issue if you have any comments about this page.
Thanks.

[2022-09-09 10:27] #2725 closed

[2022-09-10 00:01] alfergus commented on #2727
Thanks, @trucbinh -- I'll check with the engineering team to get the doc updated.

[2022-09-10 00:03] alfergus commented on #2727
@

[2022-09-10 00:04] #2727 closed

[2022-09-12 13:24] lavanyakr01 commented on #2718
Hi @JMCA2,
Thank you once again for bringing this issue to our attention. Sorry for the delay in addressing the issue. I had to verify if the system customizer role also is applicable to Sales Pro. I just received the confirmation today and updated the doc.
Hope this addresses your issue. :)

[2022-09-12 13:29] lavanyakr01 commented on #2623
Hi @gilmeyer
Sorry for the delay in addressing this issue. I've updated the role requirement to **Any primary sales role**. As all primary sales roles have the permissions to read/write to contact and lead, they should also be able to scan the business cards.
Hope this update resolves this issue. I'm closing the issue for now. Please feel free to reopen if you feel the issue is not addressed adequ

[2022-09-12 19:37] JMCA2 commented on #2718
Hi @lavanyakr01 Just saw your commit. Yes. The issue can be closed. Thanks for everything. We wanted to make sure we are doing things correctly.

[2022-09-13 06:12] lavanyakr01 commented on #2718
Thanks for the partnership, @JMCA2. Closing the issue.

[2022-09-13 06:12] #2718 closed

[2022-09-13 07:02] lavanyakr01 commented on #2710
Hi Bryan,
Sorry for the delay in getting back to you. I checked with the PMs and they referred me back to the Sales Use right table in Pg no 25 of the [licensing guide](https://go.microsoft.com/fwlink/p/?LinkId=866544). The table lists all the Sales entities and the licenses required. Could you please take a look and let me know if this is what you're looking for? I couldn't find you on Teams. Ple

[2022-09-13 19:28] devman2k commented on #2710
‘m in teams @***@***.*** feel free to ping me or send a Teams invite

From: lavanyakr01 ***@***.***>
Sent: Tuesday, September 13, 2022 3:02 AM
To: MicrosoftDocs/dynamics-365-customer-engagement ***@***.***>
Cc: Bryan Tuttle ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/dynamics-365-customer-engagement] Clear list of actions that a Team Member can not do (Issue #2710)

Hi Bryan,
So

[2022-09-14 06:58] lavanyakr01 commented on #2710
Hi Bryan,
Looks like your Teams ID is masked by GitHub. We can continue to chat in Github if you don't mind. Please let me know if a similar table in Docs is what you're looking for. Few questions:
- By "actions", do you mean the actions they can perform on the entities available to them? Or you mean the entities, features, and privileges that a team member license gets?
- Could you share a snippe

[2022-09-14 15:55] IbrahimElSayed1 opened #2734 "RSO - Scheduling/Optimization with Requirement Groups"
Is RSO able to optimize booking with Requirements Groups.
E.g. Work order has 2 requirements (1 - Driver and 2 - Big Truck) both are resources, one is a user and the other is an equipment.
Can we get RSO to book both the driver and the truck to a work order without doing that manually on the requirement group?

[2022-09-14 18:41] mikelabca opened #2735 "Information missing under Grant application permission when using Windows Server 2016 AD FS"
Hello,

The documentation says "**This is required if you use Windows Server 2016 AD FS.**". It should say "**This is required if you use Windows Server 2016 AD FS or above.**".

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a53a1f81-7105-228c-df03-bd707e930c37
* Version Independent ID: 914d7107-5447-4908-56e7

[2022-09-14 18:42] mahshar666 opened #2736 "دستگاهایی برای اجرای برنامه"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaf011d1-843d-d903-aefd-7bde9bacc00c
* Version Independent ID: 59b74919-3b50-8e0b-ac19-67ab2603a81a
* Content: [Support for Dynamics 365 for phones and Dynamics 365 for tablets](https://docs.microsoft.com/en-us/dynamics365/mobile-app/support-phones-ta

[2022-09-14 18:43] #2736 closed

[2022-09-14 19:00] bishalgoswami commented on #2735
Thanks for your comment, @mikelabca. This issue has been assigned to the doc author for review.

[2022-09-14 23:57] JimDaly commented on #2695
@snagadiya
I'm not seeing anything directly actionable for doc changes, so closing this.

[2022-09-14 23:57] #2695 closed

[2022-09-15 00:03] JimDaly commented on #2678
@wolfgang720
Thanks for your feedback.
Were you able to find a solution?

Afraid we didn't encounter that particular error when writing this doc.
If you found a solution, please advise so that we can update the doc.
Since I don't have any details to make a doc change here, I'm going to close this.

[2022-09-15 00:03] #2678 closed

[2022-09-15 04:31] lalexms commented on #2676
Thank you for letting us know about the broken link, @mgowing. The feature is still available and the link has been fixed.

[2022-09-15 04:31] #2676 closed

[2022-09-15 08:41] vivekkumarcf opened #2737 "Error in existing SDK - Unable to Get Ongoing Conversation ID from Omnichannel SDK event automatically"
Good day!

I need to obtain the ongoing conversation ID at the page level since I have configured Omnichannel in our web application. To do that, I created some code and an Omnichannel SDK predefined event, the code for which is provided below.

**_window.addEventListener("lcw:onMessageReceived", function handleWidgetMessageReceivedEvent(payload){
   
    alert("OnMessageRecieved"+ payload.detail.

[2022-09-15 15:50] petertuton opened #2739 "Change the description for IoT Central from being a SaaS to an APaaS"
We now position Azure IoT Central as an "Application Platform as a Service (APaaS)" vs a SaaS. Please change the text, accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 130b0875-74da-cc32-3de6-09c5dc673d30
* Version Independent ID: 7ae13117-7881-8718-1bda-c09123c9d370
* Content: [Connected Field Service - Ove

[2022-09-15 17:00] bishalgoswami commented on #2739
Thanks for your comment, @petertuton. This issue has been assigned to the doc author for review.

[2022-09-15 21:17] JimDaly commented on #2617
@felipe-molina-cashme
I didn't hear back from you so this feedback isn't actionable. I'm closing the issue.
Please feel free to re-open with additional information.

[2022-09-15 21:17] #2617 closed

[2022-09-15 23:40] JimDaly commented on #2475
@ryanperrymba
Sorry for the delay in responding. But this topic is specifically about the on-premises version of Dynamics 365 Customer Engagement. It includes a link to the Power Apps version here: [https://docs.microsoft.com/en-us/power-platform/alm/solution-packager-tool](https://docs.microsoft.com/en-us/power-platform/alm/solution-packager-tool)

Also, I'm not seeing any actionable items for th

[2022-09-15 23:40] #2475 closed

[2022-09-15 23:41] crsnt opened #2740 "Inform about delay after license activation"
I pulled my hair out why I could not set up my omnichannel after assigning my license. Turned out it takes almost a day until the Manage option appears.
Would be good to include this information so people are aware they need to wait.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c294571c-06be-6598-8501-9315724cdfa3
*

[2022-09-15 23:45] ryanperrymba commented on #2475
Hi Jim, the article this references how to use the solution packager, not D365CE itself.

How does one submit a big report?

[2022-09-15 23:52] JimDaly commented on #2475
You need to contact technical support: [Get Help + Support](https://docs.microsoft.com/en-us/power-platform/admin/get-help-support). They will assist and if a defect is found they will escalate to the dev team.

I hope this helps.

[2022-09-16 01:00] bishalgoswami commented on #2740
Thanks for your comment, @crsnt. This issue has been assigned to the doc author for review.

[2022-09-16 11:16] mustaqueali opened #2741 "Woodford configuration is listed for 3d model - as it is not supported, doc needs to be updated how to use with the latest D365 Mobile App"
[Enter feedback here]
Woodford configuration is listed for 3d model - as it is not supported, doc needs to be updated how to use with the latest D365 Mobile App

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b9779e-47bb-7646-65e0-0d561177952e
* Version Independent ID: 56cb6032-4f44-61cd-fb32-fd870dfdc941
* Content: [

[2022-09-16 13:00] bishalgoswami commented on #2741
Thanks for your comment, @mustaqueali. This issue has been assigned to the doc author for review.

[2022-09-16 18:28] phecke commented on #2737
@vivekkumarcf If this is a question related to our documentation, please provide a link to the topic.

Unfortunately, we're unable to handle Support requests for the product here. To contact Support, consider one of the options described here: https://docs.microsoft.com/dynamics365/get-started/support/.

[2022-09-16 19:51] JimDaly commented on #2387
@Stepnwolf78
Thank you for your feedback. Agree active language is best.

[2022-09-16 19:51] #2387 closed

[2022-09-16 22:58] JimDaly commented on #1355
@devlinl
I'm reviewing all the open doc issues and this one was created quite a while ago.
We once had a lot of reference content related to ribbon customizations, as @fowl2  found,  but it was gradually removed over time. Expensive to maintain, low page views.

The direction that commanding is heading is away from ribbon customizations and towards [modern commanding](https://docs.microsoft.com/en

[2022-09-16 23:05] JimDaly commented on #1334
This is a very old issue. All the content in [Power Apps> Dataverse](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/overview) has been updated to MSAL now. Work to do the same for the on-premises content has started.

[2022-09-16 23:05] #1334 closed

[2022-09-16 23:15] JimDaly commented on #1226
Agree that lack of debugging is an issue for VE and for Custom API plug-ins running in stage 30.
I know that the tools team is aware of this, but it isn't a documentation issue. so closing this.

Please create or vote for ideas on the ideas site: https://powerusers.microsoft.com/t5/Power-Apps-Ideas/idb-p/PowerAppsIdeas

[2022-09-16 23:15] #1226 closed

[2022-09-16 23:23] JimDaly commented on #1208
“Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue."

[2022-09-16 23:23] #1208 closed

[2022-09-16 23:25] JimDaly commented on #1193
“Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue."

[2022-09-16 23:25] #1193 closed

[2022-09-16 23:28] JimDaly commented on #1044
“Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue."

[2022-09-16 23:28] #1044 closed

[2022-09-16 23:31] JimDaly commented on #968
“Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue."

[2022-09-16 23:31] #968 closed

[2022-09-16 23:33] JimDaly commented on #32
“Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue."

[2022-09-16 23:33] #32 closed

[2022-09-17 02:29] fowl2 commented on #1355
I strongly disagree with actively removing docs for features that still exist, are in active use with solutions in production and that don't even have a replacement.

This information is crucial for supporting/maintaining existing solutions. When there's a regression it makes it extremely difficult analyse where the problem lies. Is it the platform or ISV?

Documentation is a promise and withdrawi

[2022-09-17 11:09] m-hartmann commented on #2739
Thank you for pointing this out. I'll get the text changed and republished.

Thanks,
Michael

[2022-09-17 11:22] #2739 closed

[2022-09-17 11:44] snagadiya commented on #2695
Hi @JimDaly,

Let me add screenshots to explain what I am looking for.

In my trial environment, I have created one lookup field "sn_dummylookup" as shown in screenshot1. Please note that logical name and schema name are different only in case.

Screenshot 1
![image](https://user-images.githubusercontent.com/16634151/190854164-f8664802-a718-4ebd-b4f4-7dfbfbd9aa2f.png)

When I update my record with

[2022-09-17 17:46] Stepnwolf78 commented on #2387
Hi Jim,Indeed, using active tense in texts keeps them readable.Sincerely,PieterjanVan: Jim Daly ***@***.***>Verstuurd: vrijdag 16 september 2022 21:51Aan: MicrosoftDocs/dynamics-365-customer-engagement ***@***.***>CC: Stepnwolf78 ***@***.***>; Mention ***@***.***>Onderwerp: Re: [MicrosoftDocs/dynamics-365-customer-engagement] Passive tense (#2387)
@Stepnwolf78
Thank you for your feedback. Agree ac

[2022-09-17 21:27] JimDaly commented on #2695
@snagadiya
Sagar -

I understand what you want to do. But I think you have made an assumption that will cause issues for the generic capability you want to create.

This is your assumption:

Here is the problem: It isn't true.

You are assuming that the name of the single-valued navigation property used to set the lookup value is based on the schema name. I'm telling you it isn't. It *is* frequent

[2022-09-17 21:56] JimDaly commented on #1355
Adding @caburk so he can see this feedback.

[2022-09-18 05:48] snagadiya commented on #2695
Hi @JimDaly
Yes, you are right. Thanks a lot for breaking this assumption.

I have checked the results using postman for relationship fetch and that helped in understanding how to find this navigational property name.

-----
Few additional information for other devs like me.

I tried to search the same in the entity metadata response retrieved within the PCF using the below fetch call.
`entityMeta

[2022-09-18 08:29] IbrahimElSayed1 commented on #2734
@phecke There's no specific documentation topic, it is an implementation requirement. However we cannot use RSO with Requirement Groups it seems. Is there any reference on how to leverage requirement groups with RSO?

[2022-09-19 10:47] lavanyakr01 commented on #2710
Hi Bryan,
A gentle reminder.

[2022-09-19 13:01] devman2k commented on #2710
Hi,

By Actions, think of it this way.

In the Real World Words of a Customer - Scenario 1 (common conversation)

You are brand new to CRM, Never seen it. And you are told there is a really expensive license and a reasonably priced license 1/10th the cost. You are really interested in maximizing the least expensive option however you have no idea the difference between the licenses. The Microsoft

[2022-09-19 14:08] devlinl commented on #1355
I have to agree with fowl2. So much of what is "supported" by Microsoft depends on what is documented. By removing documentation, you would effectively be removing support for these features.

While I would love to move to the new Modern Commanding mechanism, there are some critical features not present (yet?) which would need to be added before I could make the switch.

Specifically, the Modern C

[2022-09-19 16:56] JimDaly commented on #1355
I will discuss this with @caburk and get back to this.

[2022-09-19 20:34] JimDaly commented on #2695
@snagadiya
From your code, it appears that the EntityMetadata returned by `context.utils.getEntityMetadata` includes ManyToOneRelationships. That isn't what our reference documentation says: [EntityMetadata](https://learn.microsoft.com/en-us/power-apps/developer/component-framework/reference/entitymetadata), but the fact that it works for you makes me think the docs must be wrong. I'll follow up w

[2022-09-20 08:23] vivekkumarcf commented on #2737
@phecke I had gone through this- below link, provided by support team only.

https://learn.microsoft.com/en-us/dynamics365/customer-service/developer/reference/events/lcw-onmessagereceived

Post implementation, I had a conversation with the support team, and they accepted it as a bug in the omnichannel SDK and suggested I raise the issue here.

Please let me know how we can proceed in this regard.

[2022-09-20 13:43] khoait commented on #2548
@Mattp123 Do we have documentation about Dynamics 365 Hybrid Connector for reference without having to signup and download it?

[2022-09-20 16:48] lavanyakr01 commented on #2710
Hi Bryan,
Thank you once again for being very descriptive. I totally understand your concern. I've forwarded your response to our product team and we're looking into this aspect. I'll keep you posted.

Have a great day!

[2022-09-20 23:03] eduardodfmex opened #2744 "More Information for step 8 Update Azure Time Series Insights connection"
[Enter feedback here]
For the Step 8 "Update Azure Time Series Insights connection" for the Installation and setup - Connected Field Service for Azure IoT Hub.

https://learn.microsoft.com/en-us/dynamics365/field-service/installation-setup-iothub#step-8-update-azure-time-series-insights-connection

The "TSI_PLUGIN_AZURE_TENANT_ID" will be the one that host the IOT hub or the D365...?
In my case th

[2022-09-21 01:00] bishalgoswami commented on #2744
Thanks for your comment, @eduardodfmex. This issue has been assigned to the doc author for review.

[2022-09-21 02:10] makdaddy8888 opened #2745 "Integrations to Business Central"
Is there any information on how the custom connector can be used to get Field Services data into the dataverse and over to Business Central. As an example timesheets and Jobs module connector.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 532de923-c20c-8089-a078-0cc3330929fb
* Version Independe

[2022-09-21 03:00] bishalgoswami commented on #2745
Thanks for your comment, @makdaddy8888. This issue has been assigned to the doc author for review.

[2022-09-21 05:00] kvrs09 opened #2746 "Unable import to Decision rule set with Context variables"
When we are importing Decision rues set getting following exception.

[Enter feedback here]

Insert Record - Result: False - Entity: msdyn_decisionruleset - Insert to msdyn_decisionruleset with Record Id 9188ef2c-4a22-ed11-b83c-000d3a8d5b2c - PrimaryId Field msdyn_decisionrulesetid and PrimaryName Field msdyn_name - FAILED with Error : ReferencingEntity=msdyn_rulesetdependencymapping has attribute

[2022-09-21 05:28] neeranelli commented on #2746
Hello @kvrs09,

Thank you for your feedback. Let me get back to you after checking with the internal team.

Best regards,
Neeraja

[2022-09-21 10:02] m-hartmann commented on #2744
Hello Eduardo, I've reached out to get some additional information and we'll keep you posted.

Thanks,
Michael

[2022-09-21 13:02] Guillaumeperson63 opened #2747 "Marketing email without Survey button"
Hello,
When I send marketing email with a survey button, the email is received without the button.
It doesn't matter if I send directly the email or if I use a customer journey to send it, the email is received without the button.
The button appears when it's linked to an URL but not appears when it's linked to a survey.
Could you help to figure it out please?

[2022-09-21 15:02] eduardodfmex commented on #2744
Sure @m-hartmann
I'm open to chat if you want it..!

[2022-09-22 10:33] neeranelli commented on #2746
Hello @kvrs09

This scenario is not applicable for record routing as context variables are not supported for records.

If you'd like to interact with Microsoft Support, kindly visit the [Get support for your Dynamics 365 product](https://learn.microsoft.com/dynamics365/get-started/support/)page for help with raising a support ticket.

I am closing this issue because there's no action item for docu

[2022-09-22 10:33] #2746 closed

[2022-09-22 13:24] crmpatrick opened #2748 "Outdated information and instructions"
Please update this information. Customers deserve correct documentation for this product.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 22ece11f-a8b0-ab20-5894-d8ac3972e739
* Version Independent ID: 572e8879-ebec-8134-cf7a-a236c8c4bde2
* Content: [Move customizations between environments (Dynamics 365 Marketing)](htt

[2022-09-22 15:00] bishalgoswami commented on #2748
Thanks for your comment, @crmpatrick. This issue has been assigned to the doc author for review.

[2022-09-23 00:04] alfergus commented on #2748
Thank you for the heads up on this. I will work with the dev team to get this updated.

[2022-09-23 00:04] #2748 closed

[2022-09-23 06:02] m-hartmann commented on #2741
Hello @mustaqueali - thank you for bringing this to my attention. It's going to need some more in-depth edits and I added a task for it on our backlog. I'll update this issue when we've released the updated version.

Thanks,
Michael

[2022-09-23 06:07] m-hartmann commented on #2734
@IbrahimElSayed1 thank you for reaching out. I've reached out out to a subject matter expert and will circle back when I have an answer.

Thanks,
Michael

[2022-09-23 21:57] phecke commented on #2737
@vivekkumarcf This channel is for documentation feedback. We do not handle product bugs here and I do not know why the support team sent you back here.

However, in the interest of not bouncing you around any further, I will forward your issue to a PM on the product team.

[2022-09-23 22:06] phecke commented on #2747
@Guillaumeperson63 We do not provide support here. This is for documentation related issues and questions. If you have questions about the documentation, please provide a link to the related topic so that we may assign the correct writer to respond.

[2022-09-24 07:03] m-hartmann commented on #2734
Hello @IbrahimElSayed1 - I got confirmation that requirement groups aren't supported in RSO at this time. The team is aware of this ask but there's no timeline for it. However, Scheduling Assistant can work with requirement groups if that's a viable fallback for you. https://learn.microsoft.com/en-us/dynamics365/field-service/multi-resource-scheduling-requirement-groups

Kind regards,
Michael

[2022-09-24 07:03] #2734 closed

[2022-09-24 07:11] m-hartmann commented on #2745
Hello @makdaddy8888 - thanks for reaching out. Can you help me understand which custom connector you refer to? I don't see it listed on the documentation page you linked.

Kind regards,
Michael

[2022-09-24 12:46] makdaddy8888 commented on #2745
Hi Michael

That's the problem :)

[2022-09-24 16:30] m-hartmann commented on #2745
I'll reach out to the team to check if something is planned. In the meantime, I suggest you have a look at [dev docs for Dataverse](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/overview) and give it a try to use the the APIs. Most Field Service data is available in Dataverse tables.

I'll circle back when I know more.

Thanks,
Michael

[2022-09-25 07:46] m-hartmann commented on #2568
We're planning to make some more extensive updates. In the interim, you can find details about the new schedule board in this article: https://learn.microsoft.com/en-us/dynamics365/field-service/preview-schedule-board#schedule-board-settings

Thanks,
Michael

[2022-09-25 07:46] #2568 closed

[2022-09-25 08:01] m-hartmann commented on #2498
I double checked the article and the limitation was removed in the meantime. Hence, resolving the issue. Please reopen if you still see things off.

[2022-09-25 08:03] #2498 closed

[2022-09-25 08:10] #2461 closed

[2022-09-26 10:05] GuyBoswell opened #2750 "CAPTCHA link"
The link to CAPTCHA on this page does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 63af02af-b495-dd78-d2a1-28f40f11b60b
* Version Independent ID: f5dbc137-d6fa-14c8-e354-f9d19961c4c0
* Content: [Initial and ongoing event planning (Dynamics 365 Marketing)](https://learn.microsoft.com/en-us/dynamics365/market

[2022-09-26 11:00] bishalgoswami commented on #2750
Thanks for your comment, @GuyBoswell. This issue has been assigned to the doc author for review.

[2022-09-26 17:04] m-hartmann commented on #2421
According to the [Dynamics 365 Licensing Guide](https://go.microsoft.com/fwlink/?LinkId=2090495&clcid=0x409), Field Service Mobile is included in the Dynamics 365 Field Service license. I hope this information helps. Please re-open the issue if you have additional questions.

Thanks!
Michael

[2022-09-26 17:04] #2421 closed

[2022-09-26 23:05] caburk commented on #1355
I caught up with Jim and we agree docs should remain available for pre-existing features that remain supported. He's going to add pointers to the previous docs. That said, some of the old content was removed due to web client being deprecated and therefore is no longer relevant (tabs, scaling, certain types of rules, etc that applied only to ribbon runtime in web client).

This thread also referen

[2022-09-26 23:05] #1355 closed

[2022-09-27 00:09] alfergus commented on #2750
Thank you for the heads up! The updated link should be live on the docs page within a few hours. The correct URL is: http://www.captcha.net

[2022-09-27 00:09] #2750 closed

[2022-09-27 10:28] Guillaumeperson63 commented on #2747
Please find bellow the link to this related topic on the Microsoft documentation :
https://learn.microsoft.com/en-us/dynamics365/marketing/customer-voice#dynamics-365-customer-voice-survey-links-in-email-messages

[2022-09-27 19:49] m-hartmann commented on #2473
The article lists the recommended CRM actions to use: https://learn.microsoft.com/en-us/dynamics365/field-service/set-up-booking-rules#create-a-crm-action

Warnings and errors are listed under output parameters.

I hope this information helps. Feel free to re-open the issue or create a new one if you have additional questions.

Thanks,
Michael

[2022-09-27 19:49] #2473 closed

[2022-09-27 19:57] m-hartmann commented on #2412
@DMaxwell02 - the I[oT Hub setup article](https://docs.microsoft.com/en-us/dynamics365/field-service/installation-setup-iothub) was recently updated. Kindly check back and reopen the issue if you still have issues with CFS and TSI.

Thanks,
Michael

[2022-09-27 19:57] #2412 closed

[2022-09-28 01:11] eduardodfmex commented on #2744
hi @m-hartmann any update here...??

[2022-09-28 06:22] m-hartmann commented on #2744
The team is still looking into it and will come up with an update on the content. From what I've seen so far, TSI_PLUGIN_AZURE_TENANT_ID is the tenant where TSI is deployed, not the Dynamics 365 tenant (if different).

For the second query, I read that it's the TSI GUID and secret, which can be found on the Azure Portal. Maybe this article helps in the meantime while the team is working on reprodu

[2022-09-28 06:49] vivekkumarcf commented on #2737
@phecke Thanks for taking to the next level. How do I know what they've done?

[2022-09-29 20:54] mschultz-tls opened #2754 "Missing slugs"
This page seems to be missing some of the valid slugs available.   For example an OOB Notification field contains a slug of {smsNumber}.  It's also been our experiences that {customerName} will contain the actual Customer Name on the Voice Channel when authenticated, but the phone caller ID when unauthenticated.    What other slugs should be listed here?  Are there more with dual values based on a

[2022-09-30 15:52] gandhamm commented on #1284
Hi @radoslavov91
Thank you for raising this issue. However, I see that the issue no longer exists in the email editor. I'll be going ahead and closing this issue. Please do create a bug, if the problem persists.

[2022-09-30 15:52] #1284 closed

[2022-09-30 15:52] #1285 closed

[2022-09-30 22:26] alfergus commented on #2747
Thanks for your question! The best place for product requests or troubleshooting is the Dynamics 365 Marketing forum at [https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum](https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum) - repost your question there and a developer will be able to help you.

[2022-09-30 22:26] #2747 closed

[2022-10-01 07:58] JMCA2 opened #2755 "Error on availability date for Teams chat"
The documentation states it "will be available in all geographical regions by September 30, 2022"

However, it's now october 1 and on my environment (europe crm4) it's still on preview only

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b88ac5d9-eb33-ed30-c6b9-4664176e25c0
* Version Independent ID: b88ac5d9-eb33-ed30-

[2022-10-01 09:00] bishalgoswami commented on #2755
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-10-03 05:42] ssharma100 opened #2756 "Connector Configuration Is Incorrectly Documented Step-By-Step Directions"
[Enter feedback here]

Page directions for configuration of the "Connection References" makes no sense.  Documentation states:

_Go to https://make.powerapps.com/.

Select the notification. A form to configure connection references appears._

Select what notification?  Aren't you supposed to look for the specific connectors and configure them?

---
#### Document Details

⚠ *Do not edit this sectio

[2022-10-03 06:20] ssharma100 commented on #2756
What the documentation should be explaining is that you have to look at the Solutions->Default, filter for the Connections - and THEN find the Data Verse and the Conversion connector references.  In the "imported" Default solution these connectors will not have a bound reference to the local system.

The Data Verse and the Conversion connector have to be "Edit"-> and the connector's reference in t

[2022-10-03 07:00] bishalgoswami commented on #2756
Thanks for your comment, @ssharma100. This issue has been assigned to the doc author for review.

[2022-10-03 16:56] eccountable opened #2757 "Cannot use Alternate Key with Field Level Security"
Please add a note / important area to the text to indicate that alternate key configuration does not permit choosing fields that have field level security enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 417dad1d-4f15-35df-8ae6-3f3d481d2b0b
* Version Independent ID: cc852a3e-cf7f-fa2f-6768-0c29ea755c06
* Conten

[2022-10-03 16:58] eccountable opened #2758 "Cannot use Alternate Key with Field Level Security"
Please add a note / important area to the text to indicate that alternate key configuration does not permit choosing fields that have field level security enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c483d102-a536-ae3a-66ff-a1023bcc4214
* Version Independent ID: 0320b11c-d466-9452-0b3f-3210c7ce80e1
* Conten

[2022-10-03 17:00] bishalgoswami commented on #2757
Thanks for your comment, @eccountable. This issue has been assigned to the doc author for review.

[2022-10-04 09:25] Dan-Newton opened #2759 "No voice option in Omnichannel"
Step 7 B

What happens if the voice section is NOT appearing despite having appropriate licences, meeting system requirements and being in a region with voice in preview or GA? We are currently experiencing this problem and the support team do not seem to know what to do.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-10-04 11:00] bishalgoswami commented on #2759
Thanks for your comment, @Dan-Newton. This issue has been assigned to the doc author for review.

[2022-10-04 18:25] JMCA2 commented on #2755
@neeranelli @gandhamm
You both recently made commits removing references to gradual roll-out of Teams Chat integration, as if it was finished on september 30.
https://github.com/MicrosoftDocs/dynamics-365-customer-engagement/commit/b37ad90eb1fae551a1ef8e7ce353fb1e33112d71

https://github.com/MicrosoftDocs/dynamics-365-customer-engagement/commit/fd579f4ac7c2b3352fa4c4007275d0f4f7276f79
https://gith

[2022-10-07 10:51] gandhamm commented on #2755
Hello @JMCA2,

I've checked with the PMs from the Customer Service end, and I can confirm that Teams Chat integration is generally available for Customer Service apps. If you're still seeing the preview tag on the Customer Service apps, can you please let us know where exactly you see Preview, like on the UI?

[2022-10-07 11:38] JMCA2 commented on #2755
@gandhamm  Hi.
The preview tag is everywhere.

Here is a screenshot from the Customer Service Hub ("versión preliminar" means "Preview" in Spanish)

![image](https://user-images.githubusercontent.com/802183/194543383-c2d26a9d-4f2c-42ad-8564-046488712d40.png)

On Customer Service Admin Center app it also says preview:
![image](https://user-images.githubusercontent.com/802183/194543607-5cf98f60-cc0b

[2022-10-07 18:24] Mattp123 commented on #2726
@wikky - Thank you for your feedback. The article has been revised to fix the spelling issue.
Closing issue.

[2022-10-07 18:24] #2726 closed

[2022-10-07 18:27] Mattp123 commented on #2758
@eccountable - This seems to be a duplicate of https://github.com/MicrosoftDocs/dynamics-365-customer-engagement/issues/2757 so closing this one.

[2022-10-07 18:27] #2758 closed

[2022-10-07 20:40] Mattp123 commented on #2709
@JamesHorsley - Thank you for your feedback. The procedure has been added to the article and will be published live shortly.
Closing issue.

[2022-10-07 20:40] #2709 closed

[2022-10-08 01:28] phecke commented on #2697
Note to self. Add + character to special keys list.

[2022-10-10 07:20] Soumyasd27 commented on #2756
@kabala123: Can you please check and let me know what edits need to be made to the current documentation?

[2022-10-10 07:22] Soumyasd27 commented on #2756
@ssharma100 : This is in-progress. Working with the PM @kabala123 to check for edits as necessary.

[2022-10-10 09:25] m-hartmann commented on #1881
An updated version of the article gets released shortly. Please reopen the issue it still is a concern. Thanks!

[2022-10-10 09:42] #1881 closed

[2022-10-10 12:05] neeranelli commented on #2759
@Dan-Newton,

Thank you for sharing your product experience feedback with us. Please share the geographic location information of your Dynamics 365 tenant and any other details that'll help troubleshoot your issue. Is there an ICM ticket that I can share with the internal stakeholders?

Best regards,
Neeraja

[2022-10-10 12:15] Dan-Newton commented on #2759
@neeranelli Hi, the geographic location is United Kingdom where the voice channel is showing as generally available, but also has been in preview for several months. I do not have an ICM number but the SR is 2210030050001193. Note I am now being told I do not have the correct licence despite purchasing the "Digital Messaging **and Voice Add-in**" licence so any help from internal stakeholders or f

[2022-10-10 12:25] neeranelli commented on #2759
@Dan-Newton,

I have looped in the stakeholders and await their feedback; I will share their response soon as I get any.

Meanwhile, please see if your license meets the requirements listed in the [Dynamics 365 Licensing Guide](https://go.microsoft.com/fwlink/?LinkId=866544&clcid=0x409).

Best regards,
Neeraja

[2022-10-10 13:01] neeranelli commented on #2705
@philipverlinden,

I haven't received any response from you and because there's no action for the documentation, I am closing this issue. Please do let me know if you have any further questions.

Best regards,
Neeraja

[2022-10-10 13:01] #2705 closed

[2022-10-10 15:27] gandhamm commented on #2755
Hello @JMCA2,

The UI label hasn't been removed - a miss from the dev team. They will be removing the Preview label and releasing it in the upcoming release train. I have also forwarded your support request number to the PM.

[2022-10-10 16:19] neeranelli commented on #2759
@Dan-Newton,

The message from the internal team is to continue to interact with Microsoft Support to troubleshoot the issue. Because there's no action for docs, I will close this GitHub issue.

Please let me know if you have further questions.

Best regards,
Neeraja

[2022-10-10 16:19] #2759 closed

[2022-10-10 17:15] neeranelli commented on #2719
@moliveirapinto,

Apologies for the delay in getting back to you. We typically don't cover third-party software information in our content because the expectation is that the information is already documented in their product. Also, if anything changes in the third-party software, it will result in inaccurate content residing in our docs.

We hope to add links to configuration videos soon. Please

[2022-10-10 17:24] neeranelli commented on #2754
@mschultz-tls,

Thank you for writing to us. I am working with the internal stakeholders to confirm and will get back to you with updates if any.

Best regards,
Neeraja

[2022-10-10 18:45] Dan-Newton opened #2766 "Misleading dates in Region-specific deployments (UK)"
General availability for the UK is quoted as "October 2022" - it is not unreasonable to assume that means right now since we are in the month of October.

After purchasing licences and spending significant amounts of time troubleshooting why we can not use voice in our environment I have now been told by support that it is not generally available yet.

The date should be amended to be specific or

[2022-10-10 19:00] bishalgoswami commented on #2766
Thanks for your comment, @Dan-Newton. This issue has been assigned to the doc author for review.

[2022-10-10 23:09] lalexms commented on #2488
@gmykon - Thank you for the feedback. The timeline content has been through a few iterations of updates since January. Hopefully what you see in the content today is more aligned with the terminology and user experience. I believe we've resolved the issues so I am closing this ticket. Thanks again!

[2022-10-10 23:09] #2488 closed

[2022-10-11 08:30] priyeshwagh777 commented on #2621
Thank you all for the quick response!
Appreciate your help.

Warm Regards,

Priyesh Wagh

Microsoft Dynamics 365 Solution Architect & Biz Apps MVP

[cid:86ad02eb-8392-45a4-898c-27fd3f04a6d1]

https://d365demystified.com/

Mumbai, India

________________________________
From: Neeraja Nellimarla ***@***.***>
Sent: Wednesday, June 8, 2022 9:02 PM
To: MicrosoftDocs/dynamics-365-customer-engagement ***

[2022-10-11 13:25] #2612 closed

[2022-10-11 14:45] lavanyakr01 commented on #2710
Hi Bryan,
Sorry for the delay and thanks for your patience. Pooja (one of the lead product managers for Dynamics 365 Sales) and I went through this issue, tested scenarios in our environment, and found that the license guide is consistent with what you've mentioned. For example, as you can see in the screenshot below, the table in the [license guide](https://go.microsoft.com/fwlink/?LinkId=866544&

[2022-10-11 17:27] devman2k commented on #2710
I had a customer just last week prove that the Team member did in fact create new Account records. Which caused the entire conversation to be restarted asking why he needed to purchase the expensive license vs the Teams license.

If you have a Teams License and set the Security Role to Sales Enterprise (HUB) (as he did) are you able to create an Account.
If you have a Teams License and set the Sec

[2022-10-11 19:22] devman2k commented on #2710
I want to thank you for your response. I appreciate the effort and research.

As I had mentioned in the original email, the core point is that this information is buried in some huge license agreement. Where frankly, potential (and most existing customers will never read). The original Ask is to provide Customer’s a simple, clear Microsoft web page that helps the customer decide how many license a

[2022-10-13 07:52] lavanyakr01 commented on #2710
Hi Bryan,

The license guide is our single source of truth. It provides information on what a user is entitled to do using different licenses, including the Team member license. However Microsoft runs on trust and does not enforce all the restrictions. We trust that if a user has Team member license, you will not assign them admin roles or other roles that have access to Sales Hub or other parts o

[2022-10-13 11:04] devman2k commented on #2710
Hi,

I'm frustrated at the response and believe all of us can do better.

I'm well aware of the positive tone and how we all speak to customers of both Microsift and Microsoft Products. As its stated in many Microsoft trainings, agreements and internal meetings. No one suggests otherwise.

I believe, and go so far to say I know that the ask here for a public customer facing page to clarify and sho

[2022-10-13 11:38] help4mcts opened #2767 "No custom channels have been configured on your environment."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fab3b773-a72f-d863-612c-c877366c1d70
* Version Independent ID: 52b2322c-964b-24d4-e076-64ab37ddd706
* Content: [Step 4: Test your custom channel tile (Dynamics 365 Marketing Developer Guide)](https://learn.microsoft.com/en-us/dynamics365/marketing/de

[2022-10-13 13:00] bishalgoswami commented on #2767
Thanks for your comment, @help4mcts. This issue has been assigned to the doc author for review.

[2022-10-13 16:24] alfergus commented on #2767
Thanks for your question! The best place for product requests or troubleshooting is the Dynamics 365 Marketing forum at [https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum](https://community.dynamics.com/365/marketing/f/dynamics-365-for-marketing-forum) - repost your question there and a developer will be able to help you.

[2022-10-13 16:24] #2767 closed

[2022-10-14 07:38] vivekkumarcf commented on #2737
@shubhadaj Could you please share any latest update on the same?

[2022-10-15 05:01] ssharma100 commented on #2756
Thanks for the update. Look forward to seeing the public facing documentation updated.

[2022-10-15 07:30] JMCA2 commented on #2755
@gandhamm Thanks for the reply.
Let you know that our environment was updated to wave2 general release yesterday, all apps were updated, and the preview it's still there.

[2022-10-15 07:53] JMCA2 opened #2768 "Teams meetings integration in Dynamics 365 out of preview?"
At the moment there are some inconsistencies regarding preview tags on the docs pages related to this feature.

On https://learn.microsoft.com/en-us/power-apps/user/join-teams-meeting-from-appointments it doesn't have the preview tag.

It was removed back in june https://github.com/MicrosoftDocs/powerapps-docs/commit/d2d9f301bd43b5dbe76c5af8f0546114241dc74f ) therefore, I understand it is now in G

[2022-10-15 07:54] JMCA2 commented on #2768
@alejaraz

[2022-10-15 07:55] JMCA2 commented on #2768
Since this is an issue regarding multiple pages, tagging owners of the referenced pages: @sbmjais @lalexms @sericks007
As well as commiter who removed the preview tag: @mduelae

[2022-10-15 08:41] JMCA2 opened #2769 "Clarify CS license requirements for Analytics and KPI"
The following pages are missing a requirements table stating if Enterprise license is required or not.

https://learn.microsoft.com/en-us/dynamics365/customer-service/configure-cs-historical-analytics-csh?tabs=customerserviceadmincenter
https://learn.microsoft.com/en-us/dynamics365/customer-service/enable-knowledge-search-insights?tabs=customerserviceadmincenter
https://learn.microsoft.com/en-us/d

[2022-10-15 08:41] JMCA2 commented on #2769
@alejaraz

[2022-10-15 08:42] JMCA2 commented on #2769
Tagging owners of referenced pages: @lalexms @Soumyasd27

[2022-10-15 08:48] JMCA2 opened #2770 "Clarify CS licensing requirements for Context-driven suggestions"
The following pages do not list a CS Enterprise license in the Requirements section:
https://learn.microsoft.com/en-us/dynamics365/customer-service/csw-enable-ai-suggested-cases-knowledge-articles?tabs=customerserviceadmincenter
https://learn.microsoft.com/en-us/dynamics365/customer-service/configure-ai-suggested-article-keywords-description?tabs=customerserviceadmincenter
https://learn.microsoft.

[2022-10-15 08:48] JMCA2 commented on #2770
@alejaraz

[2022-10-15 08:48] JMCA2 commented on #2770
Tagging owners of the referenced pages: @lalexms @Soumyasd27 @neeranelli

[2022-10-15 08:57] JMCA2 opened #2771 "Clarify licensing for Sales Teams in Sales Professional"
According to this page, setting up Teams is possible in Sales Professional and even provides specific instructions.

However, in the Dynamics Licensing Guide it states (in the comparison tables for both Customer Service and Sales) that Teams are not supported in Pro. Either the Licensing Guide is incorrect (most probably, I think) or the docs are incorrect.

---
#### Document Details

⚠ *Do not ed

[2022-10-15 08:57] JMCA2 commented on #2771
@alejaraz

[2022-10-15 09:00] bishalgoswami commented on #2771
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-10-15 09:00] bishalgoswami commented on #2770
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-10-15 09:00] bishalgoswami commented on #2769
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-10-15 09:00] bishalgoswami commented on #2768
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-10-16 11:15] JMCA2 commented on #2755
@gandhamm Seems there was a delay on the scheduled service update in my region. The preview tag is now gone on Teams Chats (fixed with dataverse version 9.2.22093.00194)

I'll close this issue now.
Thanks again :)

[2022-10-16 11:15] #2755 closed

[2022-10-17 08:12] JMCA2 commented on #2771
It should be noted that the Sales Professional app includes specifically Teams Management feature in the Settings section, so it seems the Licensing Guide would be incorrect

[2022-10-17 08:19] lavanyakr01 commented on #2771
That's right, @JMCA2. I'll double-check this with our product team and inform the team that updates the license guide.

Thanks for letting us know about this discrepency.

[2022-10-18 06:46] lavanyakr01 commented on #2771
Hi @JMCA2
The product team confirmed that the doc is right. I've informed the team that maintains the licensing guide. They typically publish their updates once a month. So, this update should be available in their November update. I'm closing the issue as there's no update required in the doc. Please feel free to reopen if you need more information.

[2022-10-18 06:46] #2771 closed

[2022-10-18 10:52] JMCA2 commented on #2771
@lavanyakr01 Thanks.
Please make sure to let them know this needs to be updated in the Licensing Guide for both CS and Sales

[2022-10-18 11:01] lavanyakr01 commented on #2771
Sure @JMCA2

[2022-10-18 13:25] allandecastro opened #2772 "CDS Word to be replaced"
Hello

It looks like there is a "CDS" word that must be replace with Dataverse:

"Active marketing contacts are counted as contact entities in the CDS database"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 01ffaa42-ad97-2a18-596b-b9f1249163bd
* Version Independent ID: 6dbdc5b7-fbf5-dd22-112a-af92a208d094
* Content:

[2022-10-18 14:28] neeranelli commented on #2766
Hello @Dan-Newton,

I am sorry that you are facing issues regarding the availability of the feature in your region. I have shared the issue with the stakeholders and am waiting for their response.

Best regards,
Neeraja

[2022-10-18 14:32] Dan-Newton commented on #2766
@neeranelli - Apologies, however this is now GA in our region so the documentation is correct. For future feedback however I think it is very confusing using non specific release dates in documentation e.g. "October 2022". In this instance the product was not available GA until mid-October however at the start of October my organisation, our licence supplier and even Microsoft Support initially th

[2022-10-18 14:56] neeranelli commented on #2766
Thank you for your feedback, @Dan-Newton. Let me work with the stakeholders and see if we can incorporate it. This might take some time.

If there's no immediate action item, I'd like to close this issue.

Best regards,
Neeraja

[2022-10-18 15:00] bishalgoswami commented on #2772
Thanks for your comment, @allandecastro. This issue has been assigned to the doc author for review.

[2022-10-18 16:08] neeranelli commented on #2022
Thank you, @vamullap. This is corrected and will be live in the next publish.

I am therefore closing this issue.

[2022-10-18 16:08] #2022 closed

[2022-10-18 16:21] neeranelli commented on #1889
I am closing this issue as it's been addressed.

[2022-10-18 16:21] #1889 closed

[2022-10-18 17:16] JMCA2 opened #2773 "Duplicate lead detection in Sales Professional"
This article says "The steps described in this article are specific to the out-of-the-box Sales Hub and Sales Professional apps"
But, on the license requirements table Sales Professional is not included.

Sales Professional should be included in the requirements table (in case the feature is included for Pro, which I believe it is), or if not included in Pro, it should be removed from the phrase.

[2022-10-18 17:16] JMCA2 commented on #2773
@alejaraz

[2022-10-18 19:00] bishalgoswami commented on #2773
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-10-19 00:30] alfergus commented on #2772
Thank you for the heads up on this -- I've updated the page, it should be live shortly!

[2022-10-19 00:30] #2772 closed

[2022-10-19 01:12] neeranelli commented on #2766
@Dan-Newton, We have included exact dates now for the upcoming supported regions. This change will be published in a couple of hours.

Thank you for your help with improving the documentation.

Best regards,
Neeraja

[2022-10-19 01:12] #2766 closed

[2022-10-19 04:40] neeranelli commented on #2185
Hello @valdik5379455,

We have now updated the article to indicate that only active contacts and accounts will be searched and therefore inactive records will not be retrieved. These changes should be live by end of day, today.

Please let me know if you have further questions.

I will close this issue now.

Thank you.

[2022-10-19 04:40] #2185 closed

[2022-10-19 10:04] Soumyasd27 commented on #2756
@ssharma100 : Here's the updated doc [link](https://learn.microsoft.com/en-us/dynamics365/customer-service/integrate-km-with-pva#use-the-search-dynamics-365-knowledge-article-flow-action).

Please let us know if it helps resolve the issue that you were facing. If you have any other feedback, please do let us know.

[2022-10-19 10:13] Soumyasd27 commented on #2358
@Mili1212 : Can you please try filling in the mandatory fields and then save the record? Only if this is done, you will be able to  see the attach option.

Please let us know if you still face any issue.

[2022-10-19 11:08] #2773 closed

[2022-10-19 13:36] neeranelli commented on #1677
The information is also updated in the https://learn.microsoft.com/en-us/dynamics365/customer-service/configure-file-attachment article that will be published in some time.

I am closing this issue as there's no other action item.

[2022-10-19 13:36] #1677 closed

[2022-10-19 15:46] neeranelli commented on #2065
@anbhar,

I haven't heard back from you and therefore, am closing this issue. Please feel free to reopen or contact me on Teams if you have any further feedback.

Best regards,
Neeraja

[2022-10-19 15:46] #2065 closed

[2022-10-19 16:12] neeranelli commented on #2645
Hello @rkfair,

The step has been updated to add a reference to the Customer Service admin center app page through which the advanced settings can be accessed.

Thank you.

[2022-10-19 16:12] #2645 closed

[2022-10-19 16:19] neeranelli commented on #2672
@anbhar,

We have addressed the point 3 that you had raised.
Create a system topic is not owned by us.

Videos will be linked to as and when they become ready.

I am closing this issue because there's no other action item on docs.

Best regards,
Neeraja

[2022-10-19 16:19] #2672 closed

[2022-10-20 00:17] halada92189 commented on #1885
Hi @neeranelli,

Session.CurrentTab.entityId and Session.CurrentTab.<Attribute> are still not functioning in Customer Service Workspace/Omnichannel (all prerequisites have been completed). The only one that works is Session.CurrentTab.entityName still. Has there been any update from internal teams on this/is this a known issue? It still doesn't appear to be working according to the documentation.

[2022-10-20 01:15] halada92189 commented on #1885
An update for all for clarity and future reference - after much testing and some mixed results initially, I have found that the syntax of the following are now working for Macros - previously they were not working in past testing:

${Session.CurrentTab.entityName} - Gets the currently focused tab's record logical name
${Session.CurrentTab.entityId} - Gets the currently focused tab's record GUID

O

[2022-10-20 02:17] neeranelli commented on #1885
@halada92189,

Thank you for sharing the feedback and great that it worked. If it's not too much of an ask, can you please share the whole block and I will see if I can update the doc with it as an example scenario?

Best regards,
Neeraja

[2022-10-20 13:09] raoulteeuwenPE opened #2774 "Editting workflows is a nightmare > would be good to"
It might be an idea to mention editting a workflow can be very laberous, so users better think about how they set them up. Better would be MS to supply a more advanced workflow editor making for so much less hours spent all over the world editing workflows
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 74f112cc-ba95-a7

[2022-10-20 15:00] bishalgoswami commented on #2774
Thanks for your comment, @raoulteeuwenPE. This issue has been assigned to the doc author for review.

[2022-10-20 17:04] bcohen26 opened #2775 "OLD data in the page"
This says the SMS outbound does not work in ACS without an inbound SMS message.     In Omnichannel we can do outbound SMS messages

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d675154d-5fa9-e5da-1628-270c16a02b04
* Version Independent ID: d675154d-5fa9-e5da-1628-270c16a02b04
* Content: [Configure an SMS channel usin

[2022-10-20 19:00] bishalgoswami commented on #2775
Thanks for your comment, @bcohen26. This issue has been assigned to the doc author for review.

[2022-10-21 01:43] neeranelli commented on #2199
Hello @ugreg ,

Please accept my apologies for the belated response. The requested feature of custom persistent menu is currently not available in the product. Kindly suggest it at the [Dynamics 365 Application Ideas](https://experience.dynamics.com/ideas/) portal.

We also recommend that you try the [Customer Service workspace](https://learn.microsoft.com/dynamics365/customer-service/csw-overview

[2022-10-21 01:43] #2199 closed

[2022-10-21 04:36] halada92189 commented on #1885
Certainly, sorry for the slight delay! Here's a description and screenshot of the example scenario at hand to demonstrate:

A user opens a session for the Contact entity (hence the Contact is the anchor tab). The Contact has many related Cases the user must pick from and open, opening in a new application tab. An agent script of type Macro that allows the user to resolve the Case must check if the

[2022-10-21 05:11] neeranelli commented on #1885
Thank you, @halada92189 . I will get back to you with questions if any.

Best regards,

Neeraja

[2022-10-21 07:35] m-hartmann commented on #2745
Hello @makdaddy8888 - I don't have a definitive answer for you yet but I've placed your request with the product team for consideration. Please refer to the [Dynamics 365 release plans](https://learn.microsoft.com/en-us/dynamics365/release-plans/) for roadmap information. New connectors would get listed there.

Thanks,
Michael

[2022-10-21 07:35] #2745 closed

[2022-10-21 18:57] Enoquel opened #2776 "Doc dynamics"
[Content]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d0d40644-3c39-9e9a-c8d9-9f7f267bb3c5
* Version Independent ID: 1b8e0bea-23a0-f3ca-be3e-ad82b65dc33e
* Content: [Overview of Community](https://learn.microsoft.com/en-us/dynamics365/customer-service/community-overview)
* Content Source: [ce/customer-service/commu

[2022-10-21 19:00] bishalgoswami commented on #2776
Thanks for your comment, @Enoquel. This issue has been assigned to the doc author for review.

[2022-10-21 23:46] lalexms commented on #2049
@jeremi-concepcion, if you are still looking for help on this issue, please contact the support team for help: https://support.microsoft.com/contactus

[2022-10-21 23:46] #2049 closed

[2022-10-21 23:50] thye1997 opened #2777 "Dynamics 365 resolving case permission error"
Hi there, recently i hit this issue when i tried to resolve case using one of my test user account, the error as below:
![image](https://user-images.githubusercontent.com/53056194/197305996-e1782cb3-b8d5-4002-b266-5baee24efa6b.png)
May i know what is the permission i need to enable to prevent this error?

[2022-10-21 23:50] #2086 closed

[2022-10-21 23:54] lalexms commented on #2090
Hi @granborthwick, since this ticket was opened, the provisioning experience has been updated. If you are experiencing issues with provisioning, please let us know.

[2022-10-21 23:57] lalexms commented on #2344
@Epicwinrar, I don't see feedback details on what you were looking for. The content has been modified since your ticket was opened. Please let us know if you need assistance.

[2022-10-22 00:03] #2777 closed

[2022-10-24 19:08] iyerusad opened #2778 "Skype presence toggle moved/removed? - No longer in settings as seen in docs"
Issue:
---
Skype Presence is no longer under communications section of Power App admin settings:
![image](https://user-images.githubusercontent.com/25647368/197602352-f119d94d-21d0-4e31-9c7f-6d05386cc7a2.png)

**Expected:**
---
Toggle to turn presence on or off.  According to https://learn.microsoft.com/en-us/dynamics365/customerengagement/on-premises/admin/skype-business-integration?view=op-9-1:

[2022-10-24 20:59] alfergus commented on #2280
We do not have a GitHub repo for this, just the updates on the docs page. The most recent update was last month.

[2022-10-24 20:59] #2280 closed

[2022-10-24 21:00] bishalgoswami commented on #2778
Thanks for your comment, @iyerusad. This issue has been assigned to the doc author for review.

[2022-10-25 04:37] gandhamm commented on #2062
Hello @anbhar
As we haven't heard back from you, I'll be going ahead and closing this issue. Please feel free to reach out in case the issue persists.

[2022-10-25 04:37] #2062 closed

[2022-10-25 04:56] gandhamm commented on #2061
Hi @anbhar

We have worked with project managers to fill the gaps in the pre-conversation survey documentation. Here's the link:
https://learn.microsoft.com/en-us/dynamics365/customer-service/context-variables-for-bot
Please let me know if you are still facing issues.

[2022-10-25 05:11] gandhamm commented on #1933
Hello @FabianLutz1r

Could you please let me know if you are still having problems with this URL? This seems to have been fixed. Please let me know,

[2022-10-25 05:13] gandhamm commented on #2052
@jkovacs-dev

Hello, Jonathon! We have worked with the PMs and have made improvements to https://learn.microsoft.com/en-us/dynamics365/customer-service/configure-pre-chat-survey?tabs=customerserviceadmincenter. Please let me know if following the steps listed in the topic is helpful, or if you're still facing issues.

[2022-10-26 10:39] BenBitDesign opened #2779 "Enable quick create forms setting is not located where documentation points to it"
The documentation, located at https://github.com/MicrosoftDocs/dynamics-365-customer-engagement/blob/main/ce/outlook-app/add-a-custom-entity-to-quick-create.md states that you need to go here to "Enable quick create forms":

![image](https://user-images.githubusercontent.com/15856201/198005347-4e96f65e-661c-46f6-bdde-88417c6946b4.png)

But the correct setting is this one right now:
![image](https:

[2022-10-28 01:16] lalexms commented on #2776
Hello @enoquel, would you please share with us the information you are looking for? Thanks.

[2022-10-28 01:18] lalexms commented on #2770
Thank you for this feedback, @JMCA2 - looking into these updates.

[2022-10-28 01:24] #2506 closed

[2022-10-28 01:27] lalexms commented on #2769
Thank you for this feedback also, @JMCA2 - we are working on these pages currently and will look into your request as part of our updates.

[2022-10-28 01:33] lalexms commented on #2469
Hi @HectorMeneses333 - the content has been updated and currently states the following:
Select New Authentication Settings, and provide the following information on the Add authentication setting page:

Name: Enter a name for the authentication setting.

Owner: Accept the default value or change to a required value.

Authentication type: By default, it's OAuth 2.0 implicit flow that can't be edite

[2022-10-28 01:38] lalexms commented on #2328
Thank you for the feedback, @hyoshioka0128 . This has been corrected.

[2022-10-28 01:38] #2328 closed

[2022-10-28 06:29] SiPurdy commented on #1180
I can see exactly where @Triangle333 is coming from having just found this issue trying to do the exact same thing.

The good news is that the required request parameters do exist for the InsertOptionValueRequest request, but are not included in the Microsoft.Xrm.Sdk.Messages.InsertOptionValueRequest object.

If you need to do it, the code looks like the following:

[code]

[2022-10-28 10:57] CalvinQuark opened #2781 "Go to the Sales apps section inconsistent with my experience. It's unclear why or the workaround"
Regarding _Go to the Sales apps
Sign in to Microsoft 365, select the Microsoft 365 app launcher, and then select the icon for Dynamics 365._

Even though I subscribed to Dynamics 365 Sales Premium several days ago, I still don’t see a Dynamics 365 icon in the Microsoft 365 App Launcher. This information doesn’t seem to be accurate. Or something else is wrong perhaps.

---
#### Document Details

⚠

[2022-10-28 13:59] lavanyakr01 commented on #2781
Hi @CalvinQuark
Thanks for reaching out and sorry that you don't see the option documented. Can you please try these steps?
1. Access https://www.office.com/apps
2. Select Business Apps
3. Search for the Sales Hub app.

[2022-10-29 11:54] CalvinQuark commented on #2781
Hello. No, unfortunately, the Sales Hub app is not listed in there. However, I do see three apps listed as `Dynamics 365 — custom` which have URLs similar to the following this pattern `https://________.crm.dynamics.com/main.aspx?app=d365default&forceUCI=1&pagetype=search&searchText=#`. Two of these are bad links and the other one links to an empty Power App. I am nevertheless able to navigate to

[2022-10-31 06:50] gandhamm commented on #2061
@anbhar,

I haven't heard back from you and therefore, am closing this issue. Please feel free to reopen or contact me on Teams if you have any further feedback.

Best regards,
Manjusha

[2022-10-31 06:50] #2061 closed

[2022-10-31 06:51] gandhamm commented on #1933
Hello @FabianLutz1r

@anbhar,

I haven't heard back from you and therefore, am closing this issue. Please feel free to reopen or contact me on Teams if you have any further feedback.

Best regards,
Manjusha

[2022-10-31 06:51] #1933 closed

[2022-10-31 06:52] gandhamm commented on #2052
@jkovacs-dev

I haven't heard back from you and therefore, am closing this issue. Please feel free to reopen or contact me on Teams if you have any further feedback.

Best regards,
Manjusha

[2022-10-31 06:52] #2052 closed

[2022-10-31 07:02] lavanyakr01 commented on #2781
Yes, please do reach out to the support team or your Dynamics 365 administrator, just to check if the app has been hidden or has restricted access.
[Hide a model-driven app from users](https://learn.microsoft.com/en-us/power-apps/maker/model-driven-apps/deactivate-app)
[Grant or revoke access to the Sales Hub app](https://learn.microsoft.com/en-us/dynamics365/sales/grant-access-saleshub)

[2022-10-31 11:53] lavanyakr01 commented on #2710
Hi Bryan,

Sorry for the long silence on this issue. I understand your frustration and concern. We're trying our best to solve this. Our product manager would like to connect with you. Since GitHub is masking the email IDs, we are unable to schedule a call. Would contacting you on your phone number (781-389-9695) be fine with you? If yes, please let us know a time and date when we can call you.

T

[2022-10-31 16:57] moliveirapinto opened #2782 "Need to include other channels such as VOICE"
We should update this doc to include other channels such as voice. customers want to know how the agente notification will look like and there is no reference in this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fd5cf6d2-7684-00e9-15c9-d4b6bb9515ab
* Version Independent ID: d5269b25-a78c-b6ac-6676-e1c9d7d48047

[2022-10-31 17:00] bishalgoswami commented on #2782
Thanks for your comment, @moliveirapinto. This issue has been assigned to the doc author for review.

[2022-10-31 17:07] neeranelli commented on #2782
Thank you for your feedback, @moliveirapinto. I'll update the article to include cross-references to articles for agent experience for the voice channel. The following articles cover the information:

- [Make and receive your first phone call](https://learn.microsoft.com/dynamics365/customer-service/voice-channel-first-call)
- [Use agent dashboard and call controls in the voice channel](https://le

[2022-11-01 06:26] gandhamm commented on #2638
Hello @bromero26
Please find the process for adding your own fault here: https://learn.microsoft.com/en-us/power-apps/maker/model-driven-apps/rich-text-editor-control#add-a-new-font-list-and-set-brush-script-mt-as-the-default-font-with-a-default-size-of-20-px

Let me know if you need any further help with this.

[2022-11-01 09:31] moodledan opened #2783 "Dead link"
The link labelled "Overview of agent experience in Omnichannel for Customer Service" has the link `https://go.microsoft.com/fwlink/p/?linkid=2097512` which redirects to `https://youtube/UHp5BQIAkkY` which is an invalid link.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 85e6303c-11f7-50ca-c995-5e33d7fdafe8
* Version

[2022-11-01 11:00] bishalgoswami commented on #2783
Thanks for your comment, @moodledan. This issue has been assigned to the doc author for review.

[2022-11-01 12:52] neeranelli commented on #2783
Thank you for bringing the broken link to our notice, @moodledan. This is now fixed.

I am closing the issue.

Best regards,
Neeraja

[2022-11-01 12:52] #2783 closed

[2022-11-02 15:54] moliveirapinto opened #2784 "Incorrect information"
Hello there, I am the GBB for CS.
This document is incorrect. WE DO NOT support MMS with ACS. This capability is only available when integrating with Twilio.
I just confirmed with our Azure ACS PMs

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d675154d-5fa9-e5da-1628-270c16a02b04
* Version Independent ID: d675154d-5f

[2022-11-02 16:31] neeranelli commented on #2782
Hello @moliveirapinto,

This is addressed and will be available in the next publish.

I am closing this issue.

Best regards,
Neeraja

[2022-11-02 16:31] #2782 closed

[2022-11-02 17:00] bishalgoswami commented on #2784
Thanks for your comment, @moliveirapinto. This issue has been assigned to the doc author for review.

[2022-11-02 18:17] JMCA2 opened #2785 "Configure Teams Dialer in Sales Professional"
This page states that Teams Dialer setup involves accessing Sales Hub. However, Sales Professional doesn't allow access to Sales Hub, and it is suggested to be disabled in other docs.

**Instructions for setting up Teams Dialer in Sales Professional are missing.**

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b742aae

[2022-11-02 19:00] bishalgoswami commented on #2785
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-11-03 04:38] mh-jaya commented on #2784
@moliveirapinto , the article says that we only support SMS for US toll-free numbers and for inbound communication. We aren't referring to MMS. Can you please clarify what change you'd like me to make in the content?

Thanks,
Jaya

[2022-11-03 10:02] lavanyakr01 commented on #2710
Hi Bryan,
A gentle reminder.

[2022-11-03 10:10] lavanyakr01 commented on #2781
Hi @CalvinQuark
I hope that answer helped you unblock. Please raise a support ticket if you're still not able to access the app. I'm closing the ticket. Please feel free to reopen or create an issue if you've more questions about this doc.

[2022-11-03 10:10] #2781 closed

[2022-11-03 11:22] lavanyakr01 commented on #2785
Hi @JMCA2
Thanks for letting us know. I'm checking this out with the engineering team and will get back to you as soon as I have the information.

Regards,
Lavanya Krishnamurthy

[2022-11-04 01:24] vtjc2002 opened #2786 "Youtube video are private and cannot view"
[Enter feedback here]
The youtube link takes me to a private channel that a public user cannot view.
[Building xRM Solutions I: Introduction](https://youtu.be/GI54dCi2sIg)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bbc24dea-f1da-22a2-8170-29ed640f8150
* Version Independent ID: b51b16a6-f48c-408e-18e1-6bb4afaaf176

[2022-11-04 03:00] bishalgoswami commented on #2786
Thanks for your comment, @vtjc2002. This issue has been assigned to the doc author for review.

[2022-11-04 12:53] tomo00051 opened #2787 "Cannot download SampleSolution.zip"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3bafe646-6c8b-5a5a-a409-90586a13360a
* Version Independent ID: 3bafe646-6c8b-5a5a-a409-90586a13360a
* Content: [Preview: Manually add a custom channel (Dynamics 365 Marketing)](https://learn.microsoft.com/en-us/dynamics365/marketing/real-time-marketi

[2022-11-04 13:00] bishalgoswami commented on #2787
Thanks for your comment, @tomo00051. This issue has been assigned to the doc author for review.

[2022-11-04 16:04] alfergus commented on #2787
Thank you for the heads up. These will be available to download on the site by early next week. In the meantime, you can grab the files here:
[SampleSmsChannel.zip](https://github.com/MicrosoftDocs/dynamics-365-customer-engagement/files/9940129/SampleSmsChannel.zip)
[SampleCustomChannel.zip](https://github.com/MicrosoftDocs/dynamics-365-customer-engagement/files/9940131/SampleCustomChannel.zip)

[2022-11-04 16:04] #2787 closed

[2022-11-04 16:17] JimDaly commented on #2786
@vtjc2002
Thanks for reporting this.
This content was added many years ago to highlight these videos. Seems the publisher has retired them.

I think it is time we retired this page.

The ideas behind "XRM" when this was written have become Power Platform, so it isn't necessary for the Developer content about Dynamics CE on-premises to call this out.

[2022-11-04 16:17] #2786 closed

[2022-11-05 01:08] moliveirapinto commented on #2784
@mh-jaya I was referring to file attachments. This section:
[code]
Please reach out to the ACS PM @tomkau in case of any questions. This is a roadmap item and we should update the document.

[2022-11-07 02:27] harshnagb opened #2788 "Microsoft.Apm.createTab for open webresource"
Please guide us how open we resource in new tab using Microsoft.Apm.createTab

[2022-11-07 07:19] tomo00051 commented on #2787
Thank you @alfergus

[2022-11-07 08:47] lavanyakr01 commented on #2710
Hi Bryan,
I'm closing the issue for now. Please reopen the issue or create a new issue if you'd like to talk to our Product Manager about this issue further.

Thank you.

[2022-11-07 12:05] harshnagb opened #2789 "Microsoft.Apm.createTab for open webresource"
Please guide us how open we resource in new tab using Microsoft.Apm.createTab

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 83bc7ddf-76f2-de47-4be4-b8955c630e73
* Version Independent ID: c556c035-777a-940a-34f7-57808d9910a0
* Content: [createTab method (app profile manager) JavaScript API Reference](https://learn.mic

[2022-11-08 07:38] sbmjais commented on #2768
Thanks @JMCA2 for the feedback.

Teams meeting integration is the capability where frontline workers can quickly access and update Dynamics 365 records in Teams before, during, and after a meeting. This is still in preview.

The 'preview' tag was removed from the pages that mention about creating and joining Teams meetings in Dynamics 365.

Closing this issue.

[2022-11-08 07:38] #2768 closed

[2022-11-08 07:39] sbmjais commented on #2539
Thanks for your feedback. We have updated and published the document.

Closing this issue.

[2022-11-08 07:39] #2539 closed

[2022-11-08 14:00] bishalgoswami commented on #2789
Thanks for your comment, @harshnagb. This issue has been assigned to the doc author for review.

[2022-11-08 15:17] moliveirapinto opened #2790 "Add details about number validation"
Hello there, here is Mauricio, customer service GBB.
Can we please add details about number validation? I had a problem myself where my outbound messages were returning because I didn't do the validation process. It is not clear anywhere. My customer MGM also had a similar issue.

If you want more details, this is the IcM ID: [346302715]

---
#### Document Details

⚠ *Do not edit this section. It

[2022-11-08 20:39] lalexms commented on #2776
@Enoquel closing this issue, as there isn't any information provided to proceed. If needed, please reopen and provide details. Thanks.

[2022-11-08 20:39] #2776 closed

[2022-11-08 20:40] lalexms commented on #2469
Resolving ticket due to no reply. Please reopen if there are other needs. Thanks.

[2022-11-08 20:40] #2469 closed

[2022-11-09 21:16] Dan-Newton opened #2791 "Instructions around call recording setup are incorrect"
When provisioning a new ACS resource through the 'Connect to Azure Communication Services' dialog, this does NOT automatically create the required AAD app registration or event hub for call recording. Subsequently, when following the linked guide to setup call recording [here](https://learn.microsoft.com/en-us/dynamics365/customer-service/voice-channel-connect-existing-resource?tabs=customerservic

[2022-11-09 22:00] bishalgoswami commented on #2791
Thanks for your comment, @Dan-Newton. This issue has been assigned to the doc author for review.

[2022-11-10 02:38] neeranelli commented on #2791
Thank you for identifying the issue with the setup that's documented, @Dan-Newton .

Please give me some time to look into it.

Best regards,
Neeraja

[2022-11-10 08:57] #2788 closed

[2022-11-11 09:45] acieslik opened #2793 "Is it possible to change the template ARC flow that is used for automatic record creation rules?"
As the default template is too basic/simple for our purposes we have to manually add multiple actions over and over again for each rule condition. Therefore the question if the template flow can be changed that is used for such conditions?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d83ad84a-1fd8-1d88-d0a4-de345ea0

[2022-11-11 10:00] bishalgoswami commented on #2793
Thanks for your comment, @acieslik. This issue has been assigned to the doc author for review.

[2022-11-11 12:47] neeranelli commented on #2793
Thank you for your feedback, @acieslik . Please give me some time to get the information from the stakeholders.

Best regards,
Neeraa

[2022-11-11 15:10] luboal opened #2794 "Update limitations section"
Hi Team,

I've noticed some missing information in this document that is not in parity of same functionality but in Power Apps repository (see URL below).

https://learn.microsoft.com/en-us/power-apps/mobile/offline-capabilities#:~:text=Mapped%20fields%3A%20When%20you%20run%20an%20app%20in%20offline%20mode%2C%20mapped%20field%20aren%E2%80%99t%20prepopulated%20when%20you%20create%20a%20new%20record

[2022-11-11 16:00] bishalgoswami commented on #2794
Thanks for your comment, @luboal. This issue has been assigned to the doc author for review.

[2022-11-11 16:20] moliveirapinto opened #2795 "Where is the reference for adding this to a queue or call on hold?"
Hello there, this is Mauricio, GBB for Customer Service Americas
Where is the reference about how to add this to the configuration? We need to link that to this document, customers are getting lost.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 679cf598-4101-891e-e8f0-56fef902663d
* Version Independent ID: 4942277e-3

[2022-11-11 18:00] bishalgoswami commented on #2795
Thanks for your comment, @moliveirapinto. This issue has been assigned to the doc author for review.

[2022-11-14 09:24] Har1pr1ya opened #2796 "This page does not have steps to delete from solution explorer (UX way)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b11b8bda-8d48-4d6c-7942-d2df9686f679
* Version Independent ID: d78a0389-7482-e84a-3bd5-6f9950054194
* Content: [Uninstall or delete a solution (Developer Guide for Dynamics 365 Customer Engagement (on-premises))](https://learn.microsoft.com/en-us/dyn

[2022-11-14 10:00] bishalgoswami commented on #2796
Thanks for your comment, @Har1pr1ya. This issue has been assigned to the doc author for review.

[2022-11-14 17:16] JimDaly commented on #2796
@Har1pr1ya
Thanks for your feedback.
This topic is for the on-premises version of Dynamics 365 Customer Engagement and part of the Developer guide.
Providing instructions about UX experiences is out of scope for the developers guide and this page should be removed and redirected to the common developer content about Power Apps in the future. So, we won't update this page to include UX instructions

[2022-11-14 17:16] #2796 closed

[2022-11-15 05:54] lavanyakr01 commented on #2785
Hi @JMCA2
Sorry for the delay. I've added steps for accessing the Teams dialer configuration page for sales professional customers. Please check the updated instructions and let me know if they work for you.
[Configure Microsoft Teams dialer
](https://learn.microsoft.com/en-us/dynamics365/sales/configure-microsoft-teams-dialer#configure-the-dialer)

[2022-11-15 14:48] Vixseboxse opened #2797 "Additional privileges needed for Leads Deduplication"
Regarding required Security privileged:
- Write privilege for Duplicate Lead Mapping (under Custom Entities) is needed to merge leads
- Delete privilege for Lead is needed to mark leads as not being a duplicate
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0ed4ac-531e-85e2-20d3-58c33739ad0a
* Version Independent ID:

[2022-11-15 15:59] seanmcne commented on #1640
@phecke Can you help confirm this guidance?

_A managed solution is a completed solution that is intended to be distributed and installed. An unmanaged solution is one that is still under development or isn’t intended to be distributed._

This guidance has been interpreted to mean (by some): "all customers will never have a managed solution, managed solutions are only for ISV's." Are we sure this

[2022-11-15 16:00] bishalgoswami commented on #2797
Thanks for your comment, @Vixseboxse. This issue has been assigned to the doc author for review.

[2022-11-16 05:17] gandhamm commented on #2795
Hi @moliveirapinto,

Thank you for your comment! Could you please provide a little more information on which configuration you're referring to? My understanding is that this topic is a configuration topic. Did you mean that the customers aren't able to find this topic?
Please feel free to reach out to me on Teams as well!

[2022-11-16 11:37] gandhamm commented on #2795
Hello @moliveirapinto

Thank you for your input! Indeed this piece needs to be linked. We have this information in https://learn.microsoft.com/en-us/dynamics365/customer-service/voice-channel-multi-language-contact-center#add-a-phone-number-to-the-workstream-and-configure-language-settings, but the reference has to be put in as you've mentioned.  I'll update this and get back to you at the earlies

[2022-11-16 14:47] JMCA2 commented on #2785
@JMCA2 It works, thank you!
Closing issue

[2022-11-16 14:47] #2785 closed

[2022-11-17 10:42] IanPodmore opened #2798 "Expand information on Delete import source file: Deletes the import log file and its details."
[Enter feedback here]
Delete import source file: Deletes the import log file and its details.

Can it be made clear what this action does?
Does it reduce the data storage used that is labelled as 'ImportDateBase' in the Environment Capacity information?

Does it affect the imported or updated actual data records?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mic

[2022-11-17 12:00] bishalgoswami commented on #2798
Thanks for your comment, @IanPodmore. This issue has been assigned to the doc author for review.

[2022-11-17 12:03] udaykirang commented on #2797
@Vixseboxs, Thanks for reaching out to us. We are looking into the issue and get back to you soon.

[2022-11-17 15:40] crmpatrick opened #2799 "Asset Library File Types"
Note
The asset library supports images (such as JPEG, GIF, and PNG files), videos (such as MP4, AVI, and MPEG files), and documents (such as Word documents, PowerPoint files, and Adobe PDFs). Learn more about supported file types: [Upload files other than images and videos](https://learn.microsoft.com/en-us/dynamics365/commerce/dam-upload-files).

The note at the beginning of the article reference

[2022-11-17 16:00] bishalgoswami commented on #2799
Thanks for your comment, @crmpatrick. This issue has been assigned to the doc author for review.

[2022-11-17 19:42] neeranelli commented on #2791
Hello @Dan-Newton,

The response from the team is as follows:

Please let me know.

Best regards,
Neeraja

[2022-11-17 20:39] Dan-Newton commented on #2791
Hi @neeranelli we used the “Create new resource” flow however this does not create an Event Grid and call recording does not work as a result when following this flow.

[2022-11-18 11:10] m-hartmann commented on #2741
Just wanted to follow up that I'm closing this issue and we'll remove the references to the deprecated Woodford and Xamarin mobile experiences. The update for the latest version in the queue and we'll address that separately.

If you have questions, please open a new issue or reopen this one.

Thanks!
Michael

[2022-11-18 11:45] m-hartmann commented on #2428
The update is staged and will roll out shortly. Once the prepared PR is merged, this issue is closed automatically.

Thanks again for sharing your feedback and please keep informing us if you find things out of date.

Thanks,
Michael

[2022-11-18 16:43] #2428 closed

[2022-11-18 16:43] #2741 closed

[2022-11-18 17:07] hamhus commented on #355
I ran into this issue today.
I was using fetchXml with Xrm.WebApi.online.retrieveMultipleRecord().
I declared fetchXml = "<fetch mapping='logical' count='3'>

I was missing the ?fetch at the beginning of the fetch as per the documentation.
I corrected the fetchXml to "**?fetchXml=**<fetch mapping='logical' count='3'> and it worked

[2022-11-20 13:26] VFXpro opened #2801 "Puzzled by the complexity..."
Why removing a self-contained solution is so complicated? Why not simply have a single solution that contains everything underneath the Field Service so it can remove easily?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: db182024-c2c8-8112-a356-3a014ec130c3
* Version Independent ID: ca335c6f-f699-45de-8c94-1b4a29dac6

[2022-11-20 14:00] bishalgoswami commented on #2801
Thanks for your comment, @VFXpro. This issue has been assigned to the doc author for review.

[2022-11-20 14:09] VFXpro commented on #2801
Also, this articles needs to be updated... we're following the steps but constantly block by a ton of dependencies, like insights, etc...  Not clear on how to overcome the dependencies.

[2022-11-21 05:58] mh-jaya commented on #1795
Hello @tombyang
Thanks for your patience with this issue. We have updated the related content in a couple of ways:
- We have moved out the bot sessions/licensing content from the "Integrate an Azure bot" article to a separate article under the Azure bot configuration area.
- We've also moved out the bot overview and best practices information, so the Azure bot integration content is clear and succ

[2022-11-21 05:58] #1795 closed

[2022-11-21 13:08] anbhar opened #2803 "Info Missing"
Under "Filter to Event Types:", where are the event types for SMS?? You used to have this on this page but no longer here. Please update to be more specific and useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 32511a14-1703-d823-0262-0b2037d9c8d2
* Version Independent ID: 32511a14-1703-d823-0262-0b2037d9c8d2
* C

[2022-11-21 19:48] CalvinQuark opened #2804 "What triggers invitations to be sent out?"
After creating a Teams meeting on the Appointment Quick Create form from the Timeline of a Contact record, no invitations were sent out to the required attendees. Are invitations supposed to be sent out automatically? Or is there another step? This page could perhaps be enhanced to clarify the matter since it is not obvious to the uninitiated.

---
#### Document Details

⚠ *Do not edit this sectio

[2022-11-21 20:00] bishalgoswami commented on #2804
Thanks for your comment, @CalvinQuark. This issue has been assigned to the doc author for review.

[2022-11-21 20:02] CalvinQuark commented on #2804
I also noticed that the meeting scheduled inside of a Dynamics 365 Appointment did not on the Calendar in the main Teams app. I.e., after logging into both Dynamics 365 and Teams using the same account. Hence, it is quite confusing to this newbie how this functionality is supposed to work. If I were to hazard a guess, I would suspect that by creating an Appointment in Dynamics 365 and selecting th

[2022-11-22 02:53] jonianas opened #2805 "PVA escalation case linking using CaseNumber not working, is there an implementation change?"
Hi, the CaseNumber auto linking from PVA escalation to omnichannel Conversation seems to be not working anymore. Is there an additional setup needed for this?

Previously, we're using CaseNumber as a bot variable in PVA, and it correctly links the ticket number in dataverse.

![image](https://user-images.githubusercontent.com/18320789/203200687-cb10e96e-eb99-4853-b634-cb72f73f67bb.png)

Thanks

--

[2022-11-22 04:00] bishalgoswami commented on #2805
Thanks for your comment, @jonianas. This issue has been assigned to the doc author for review.

[2022-11-22 06:15] neeranelli commented on #2805
Hello @jonianas

Thank you for your feedback.

Please see if the information in the following article is of help:
[Context variables for Power Virtual Agents bots](https://learn.microsoft.com/en-us/dynamics365/customer-service/context-variables-for-bot#context-variables-for-power-virtual-agents-bots)

Let me know if you aren't able to resolve the issue.

Best regards,
Neeraja

[2022-11-22 08:32] neeranelli commented on #2805
Hello @jonianas ,

I will need to follow up with the stakeholders to see if anything has changed. The turnaround time could be 2-3 days. Meanwhile, if you think this is an issue that can't wait, can you please contact Microsoft Support?

Best regards,
Neeraja

[2022-11-22 08:39] jonianas commented on #2805
Hi @neeranelli, ill wait for the response, but we'll also file a ticket with support on our end.

Thank you very much.

[2022-11-22 15:49] neeranelli commented on #2805
@jonianas

Thank you for the new details. Will revert with any information or changes required in the article. It's Thanksgiving week and many folks are out, therefore, please expect some delay.

Best regards,
Neeraja

[2022-11-22 17:19] AtharvaDevasthali opened #2806 "Content correction"
Currently it is wrong, 'The WhatsApp channel instance is configured'.
It should be 'The **Microsoft Teams** channel instance is configured'.

Please review 5.f. from below link,
https://learn.microsoft.com/en-us/dynamics365/customer-service/configure-microsoft-teams?tabs=customerserviceadmincenter#configure-a-microsoft-teams-channel

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-11-22 17:33] neeranelli commented on #2806
Hello @AtharvaDevasthali

Thank you for bringing the mistake to my attention. I have fixed it and it will be live in the next publish cycle.

Best regards,
Neeraja

[2022-11-22 17:53] #2806 closed

[2022-11-22 22:57] feridunkadir opened #2808 "Improve clarity of section on "wait for a specific amount of time""
[Enter feedback here]
The section that explains "Wait for a specific amount of time after the connected case has been resolved" is difficult to understand.
I quote from the article:

_"Select Yes, and then select a time value in the Select the amount of time box that appears. No new case will be created until the specified period of time lapses after a related case is resolved. For example, if you

[2022-11-23 00:00] bishalgoswami commented on #2808
Thanks for your comment, @feridunkadir. This issue has been assigned to the doc author for review.

[2022-11-23 03:44] gandhamm commented on #2795
Hello @moliveirapinto,

We've addressed this issue by adding a section in the [Manage phone music in the voice channel](https://learn.microsoft.com/en-us/dynamics365/customer-service/voice-channel-music?tabs=customerserviceadmincenter) topic, and the changes are now live on the site. Thank you for your inputs on making our documentation more user friendly!

[2022-11-23 03:44] #2795 closed

[2022-11-23 06:04] mh-jaya commented on #2803
Hello @anbhar
Thanks for pointing this out. The info was indeed missing. I've added it back in the [Enable call recording and SMS services](https://learn.microsoft.com/en-us/dynamics365/customer-service/voice-channel-connect-existing-resource?tabs=customerserviceadmincenter#enable-call-recording-and-sms-services) section, so here's the updated text:
====================
**Filter to Event Types**:

[2022-11-23 06:04] #2803 closed

[2022-11-23 20:12] #2801 closed

[2022-11-23 23:07] makdaddy8888 opened #2810 "Customer Experience"
Hello

I have a few questions

Is this now out of preview?
Are there additional charges for this Power Portal app?
What is the authentication processes?
How do you link a customer to the power portal?
How do you get the power app portal connected to Field Service?
Is there a link to the limitations?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-11-23 23:12] makdaddy8888 opened #2811 "Cannot find Field Service Portal"
I did a search for Field Service Portal in make,powerapps.com but it does not exist.

Is there a trick i need to do to see this?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 882b812b-2c1b-f033-7dfa-43a329a1d420
* Version Independent ID: 97269cb4-2ebd-3a1f-0231-76fc78ef90bf
* Content: [Enable s

[2022-11-24 00:00] bishalgoswami commented on #2811
Thanks for your comment, @makdaddy8888. This issue has been assigned to the doc author for review.

[2022-11-24 00:00] bishalgoswami commented on #2810
Thanks for your comment, @makdaddy8888. This issue has been assigned to the doc author for review.

[2022-11-24 00:08] anilvem2 opened #2812 "This feature works only for UI / REST API updates?? and not for Org service updates??"
Repro steps:
1) Make sure the value is set to 1 for environment variable "msdyn_IncidentShouldValidatePrimaryContact"
2) Using a console app and referencing Xrm.Sdk DLLs via Org service, update contact and account lookups which are not related on an existing case
3) Expected result: Throw error message "The specified contact doesn't belong to the account selected as the customer. Specify a contact

[2022-11-24 02:00] bishalgoswami commented on #2812
Thanks for your comment, @anilvem2. This issue has been assigned to the doc author for review.

[2022-11-24 05:58] neeranelli commented on #2812
Hello @anilvem2 ,

Thank you for your question on this feature. I will consult with the stakeholder and get back to you. Please expect a delay as it's Thanksgiving weekend and the team is out.

Best regards,
Neeraja

[2022-11-24 11:35] neeranelli commented on #1844
@ashokduddukuri,

We have added the following as a check in the [Provision Omnichannel for Customer Service](https://learn.microsoft.com/dynamics365/customer-service/omnichannel-provision-license) article.

I am closing this issue as there's no other action item.

Best regards,
Neeraja

[2022-11-24 11:35] #1844 closed

[2022-11-25 06:20] microsoft-github-policy-service[bot] opened #2814 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-28 05:18] justinreading opened #2815 "Instructions and screenshots on page are incorrect"
The instructions and screenshots on this page relate to the previous functionality of Analytics Configuration and do not reflect the current user experience. Could someone please review both Azure and Dynamics Marketing and update accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 06d56767-ae95-eb6b-353e-af2c

[2022-11-28 06:00] bishalgoswami commented on #2815
Thanks for your comment, @justinreading. This issue has been assigned to the doc author for review.

[2022-11-28 18:53] msaroka opened #2816 "Reactivating Retired Products not possible anymore."
The Activate Button for reactivating Retired Products has been removed.  Retired products cannot even be edited through flows to bring them back to an active state.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c8362821-275c-0bad-f869-3873b306484d
* Version Independent ID: c8362821-275c-0bad-f869-3873b306484d
* Conte

[2022-11-28 20:00] bishalgoswami commented on #2816
Thanks for your comment, @msaroka. This issue has been assigned to the doc author for review.

[2022-11-29 02:42] YoshikaSuzuki opened #2817 "Broken blog URL link"
Even if I click on the blog URL at the bottom of the page, I get a 403. This confuses customers. Please replace with the correct link.

https://blogs.msdn.com/b/crm/archive/2015/09/25/powershell-module-for-performing-data-operations-and-manipulating-user-and-system-settings-in-crm.aspx

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 311881e3-07ec-6b4

[2022-11-29 03:11] sshimii opened #2818 "页面中的url 失效"
https://learn.microsoft.com/zh-cn/dynamics365/field-service/rso-get-install
找到并购买最适合您和您的组织的 Field Service 许可证。 有关详细信息，请访问 Field Service 定价页。
这句话中的Field Service 定价页 对应的url：https://dynamics.microsoft.com/pricing/#FieldService 失效

---
#### 文档详细信息

⚠ *请勿编辑此部分。 learn.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: e3c9e66b-7d8b-c6fa-37bc-fee2ef9efe47
* Version Independent ID: 31d6e30e-adcd-70f3-6583-416499

[2022-11-29 04:00] bishalgoswami commented on #2818
Thanks for your comment, @sshimii. This issue has been assigned to the doc author for review.

[2022-11-29 04:00] bishalgoswami commented on #2817
Thanks for your comment, @YoshikaSuzuki. This issue has been assigned to the doc author for review.

[2022-11-29 07:56] m-hartmann commented on #2818
Hello @sshimii - thank you for calling out the broken link. I've updated the link to a valid target. Please visit https://dynamics.microsoft.com/pricing/#Service for Field Service pricing information.

Thanks,
Michael

[2022-11-29 07:56] #2818 closed

[2022-11-29 09:36] popujol opened #2819 "Not doable from make.powerapps.com"
Hello
Is it possible to do this mapping from the new interface?
(It seems not)

Thank you

Pierre-Olivier
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 301aeff0-d0ce-d12b-3156-f854626781b2
* Version Independent ID: ba5ebd71-2eba-d425-1ee5-23017a1d16fe
* Content: [Create entity field mapping in D

[2022-11-29 10:00] bishalgoswami commented on #2819
Thanks for your comment, @popujol. This issue has been assigned to the doc author for review.

[2022-11-29 10:30] lavanyakr01 commented on #2816
Hi @msaroka,
Thanks for reaching out. I'm able to see the Activate option for retired products.

![image](https://user-images.githubusercontent.com/79450761/204504725-b9b3ac70-c203-485b-9189-9c45d5c8d58d.png)

Can you please check if you can see this option in your Sales Hub app?

[2022-11-29 14:43] msaroka commented on #2816
Unfortunatly I do not have that option. We did have it a while ago. I thought possibly it was a change in wave 2.

[cid:b6e33be2-a1f2-4083-8c21-2889d7eaa930]

Michael Saroka | CEO
direct: 587-320-2248 | toll free: 800.640.3709
4605 52nd Ave SE Calgary AB T2C 4N7
________________________________
From: lavanyakr01 ***@***.***>
Sent: Tuesday, November 29, 2022 3:30 AM
To: MicrosoftDocs/dynamics-365-c

[2022-11-30 06:10] lavanyakr01 commented on #2816
Hi Michael,
Yes, you're right. I'm seeing the same behavior as well when I retire a product that is parented. I'll add a note as soon as I get confirmation from our engineering team about this behavior.

As a workaround, please clone the product and verify if that would work for your use case.

[2022-11-30 15:52] julians1966 opened #2820 "Links for Record types are broken on Edit work hour calendars by using APIs"
The pages in the links to the 4 tables do not exist and give a 404 error

[Bookable resource](https://learn.microsoft.com/en-us/dynamics365/customer-engagement/web-api/bookableresource?view=dynamics-ce-odata-9&preserve-view=true)
[Resource requirement](https://learn.microsoft.com/en-us/dynamics365/customer-engagement/web-api/msdyn_resourcerequirement?view=dynamics-ce-odata-9&preserve-view=true)
[W

[2022-11-30 23:26] ryanchen8 commented on #2487
@m-hartmann I was looking into this and turns out there's a problem with the Constraint example given in the doc. This might explain why people have issues setting the constraint. I will send a PR with the correct code example!

Wrong, in the doc:
"Constraints": {
    "@odata.type": "Microsoft.Dynamics.CRM.expando",
    "Characteristics@odata.type": "Collection(Microsoft.Dynamics.CRM.expando)",